.stats_section .stats_list {
  padding: 0;
  margin: 0 -20px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.team_section .member_image > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.team_section .member_image > img {
  object-fit: cover;
}

.team_section .member_image iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

.team_section .member_image {
  position: relative;
  overflow: hidden;
}
.team_section .member_image:before {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.gallery_section .gallery_list img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.standard_text {
  font-size: 140%;
  line-height: 20px;
}

.history_preview {
  background: #27496D;
  color: #ffffff;
  margin-bottom: 102px;
}
.history_preview .page_container {
  display: flex;
}
.history_preview .info_block {
  align-self: center;
  flex: 1;
  padding: 24px 0;
  margin-right: 24px;
  font-size: 200%;
  line-height: 40px;
  letter-spacing: 0.09em;
}
.history_preview .author_image {
  border: 62px solid #8B0029;
  margin: -62px 0;
}
.history_preview .author_image img {
  display: block;
  width: 390px;
  height: auto;
}
.history_preview .words_author {
  color: #D5D8DE;
  margin-top: 40px;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .history_preview {
    margin-bottom: 76px;
  }
  .history_preview .info_block {
    font-size: 180%;
    line-height: 36px;
  }
  .history_preview .author_image {
    margin: -30px 0;
    border-width: 30px;
  }
  .history_preview .author_image img {
    width: 280px;
  }
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .history_preview {
    margin-bottom: 50px;
  }
  .history_preview .author_image {
    margin: -20px 0;
    flex: 0 0 50%;
    max-width: 430px;
  }
}
@media screen and (max-width: 959px) {
  .history_preview .author_image {
    border-width: 20px;
  }
  .history_preview .author_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .history_preview .info_block {
    font-size: 140%;
    line-height: 30px;
  }
  .history_preview .words_author {
    margin-top: 30px;
  }
  .history_preview .preview_words br {
    display: block;
    content: "";
    line-height: 150%;
    height: 16px;
  }
}
@media screen and (max-width: 575px) {
  .history_preview {
    background: transparent;
    margin-bottom: 30px;
  }
  .history_preview .page_container {
    flex-wrap: wrap;
  }
  .history_preview .info_block {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
    position: relative;
  }
  .history_preview .info_block:before {
    display: block;
    content: "";
    position: absolute;
    left: -16px;
    right: -16px;
    top: 0;
    height: 100%;
    background: #27496D;
    z-index: -1;
  }
  .history_preview .author_image {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
    position: relative;
  }
  .history_preview .author_image:before {
    display: block;
    content: "";
    position: absolute;
    left: -36px;
    right: -36px;
    top: -20px;
    height: 50%;
    background: #27496D;
    z-index: -1;
  }
}

.historical_overview {
  margin: 0 auto 50px;
  max-width: 752px;
  padding: 0 16px;
}
.historical_overview .history_block {
  padding-top: 33px;
}
.historical_overview .history_block:first-child {
  margin-top: 24px;
}
.historical_overview .text_block {
  font-size: 160%;
  line-height: 29px;
  letter-spacing: 0.1em;
}
.historical_overview .year_block {
  font-size: 240%;
  line-height: 39px;
  color: #007093;
  letter-spacing: 0.1em;
  font-family: "nicolo-bold";
  width: 230px;
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}
.historical_overview .year_block span {
  display: block;
  min-width: 75px;
}
.historical_overview .year_block:after {
  display: block;
  content: "";
  min-width: 5px;
  border-top: 5px solid;
  border-radius: 50%;
  order: 2;
}
.historical_overview .year_block:before {
  display: block;
  content: "";
  flex: 1;
  margin-right: -3px;
  border-top: 1px solid;
  order: 1;
}
@media screen and (max-width: 959px) {
  .historical_overview {
    margin-bottom: 30px;
  }
  .historical_overview .text_block {
    font-size: 140%;
    line-height: 24px;
  }
  .historical_overview .history_block {
    padding-top: 24px;
  }
  .historical_overview .history_block:first-child {
    padding-top: 16px;
    margin-top: 0;
  }
  .historical_overview .year_block {
    margin-bottom: 10px;
    font-size: 200%;
    line-height: 35px;
    width: 225px;
  }
  .historical_overview .year_block span {
    min-width: 68px;
  }
}

.team_section {
  margin-top: 40px;
  padding: 62px 0 72px;
  position: relative;
  overflow: hidden;
}
.team_section .page_container {
  display: flex;
}
.team_section .section_head {
  flex: 0 0 32%;
  max-width: 32%;
  color: #ffffff;
  position: relative;
  z-index: 2;
  padding: 62px 35px 62px 0;
  display: flex;
  flex-direction: column;
  height: 36.4vw;
  max-height: 520px;
  align-self: flex-start;
}
.team_section .section_head:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background: #022034;
  z-index: -1;
}
.team_section .page_title:first-child:last-child {
  margin: auto 0;
}
.team_section .members_list {
  flex: 0 0 68%;
  max-width: 68%;
  position: relative;
  z-index: 1;
  padding-left: 24px;
  font-size: 120%;
  letter-spacing: 0.04em;
  text-align: center;
}
.team_section .members_list:before {
  display: block;
  content: "";
  position: absolute;
  top: -62px;
  bottom: -62px;
  left: 0;
  width: 100vw;
  background: #D5D8DE;
  box-shadow: -10px 10px 0 rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.team_section .members_list ul {
  margin: -17px -10px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.team_section .members_list li {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 17px 10px;
}
.team_section .member_image {
  border-radius: 50%;
  max-width: 170px;
  margin: 0 auto 10px;
}
.team_section .member_name {
  line-height: 30px;
  color: #022034;
  font-family: "nicolo-bold";
}
.team_section .member_post {
  line-height: 20px;
  color: #6B7C89;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .team_section {
    padding: 40px 0 50px;
  }
  .team_section .members_list:before {
    top: -40px;
    bottom: -40px;
  }
  .team_section .member_name {
    line-height: 24px;
  }
  .team_section .member_post {
    line-height: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .team_section {
    margin-top: 30px;
    padding: 20px 0 30px;
  }
  .team_section .section_head {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .team_section .members_list:before {
    top: -20px;
    bottom: -20px;
  }
  .team_section .members_list li {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .team_section .member_name,
  .team_section .member_post {
    line-height: 18px;
  }
  .team_section .member_name {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .team_section {
    margin-top: 30px;
    padding: 0;
  }
  .team_section .page_container {
    flex-wrap: wrap;
  }
  .team_section .section_head {
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
    padding: 24px 16px;
    background: #022034;
  }
  .team_section .section_head:before {
    display: none;
  }
  .team_section .members_list {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 24px;
    padding-top: 16px;
    padding-left: 0;
  }
  .team_section .members_list ul {
    margin-top: -15px;
    margin-bottom: -15px;
  }
  .team_section .members_list li {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .team_section .members_list .member_image {
    margin-bottom: 8px;
  }
  .team_section .members_list .member_name {
    margin-bottom: 6px;
    line-height: 16px;
  }
  .team_section .members_list .member_post {
    line-height: 16px;
  }
  .team_section .members_list:before {
    left: -16px;
    box-shadow: none;
    top: -16px;
    bottom: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  .team_section .members_list li {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media screen and (max-width: 479px) {
  .team_section .members_list li {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.stats_section {
  padding: 90px 0 50px;
  position: relative;
  overflow: hidden;
}
.stats_section .stats_list li {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 57px;
  display: flex;
  align-items: center;
}
.stats_section .stats_list .count_block {
  color: #007093;
  font-size: 400%;
  line-height: 1.2em;
  font-family: "nicolo-bold";
  letter-spacing: 0.04em;
  padding: 6px 14px 6px 0;
  border-right: 1px solid rgba(107, 124, 137, 0.5);
}
.stats_section .stats_list .type_block {
  font-size: 160%;
  line-height: 22px;
  padding-left: 14px;
  max-width: 270px;
}
.stats_section .info_block {
  border-top: 1px solid rgba(107, 124, 137, 0.5);
  padding-top: 40px;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
  font-size: 160%;
  line-height: 30px;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .stats_section {
    padding: 60px 0 40px;
  }
  .stats_section .stats_list li {
    margin-bottom: 40px;
  }
  .stats_section .stats_list .count_block {
    font-size: 320%;
  }
  .stats_section .info_block {
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }
}
@media screen and (max-width: 959px) {
  .stats_section {
    padding: 30px 0;
  }
  .stats_section .stats_list li {
    margin-bottom: 32px;
  }
  .stats_section .stats_list .type_block {
    font-size: 140%;
    line-height: 20px;
  }
  .stats_section .stats_list .count_block {
    font-size: 300%;
    min-width: 70px;
    text-align: right;
  }
  .stats_section .info_block {
    padding-top: 30px;
    font-size: 140%;
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .stats_section .stats_list li {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .stats_section .stats_list li {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
  }
  .stats_section .stats_list .type_block {
    width: 220px;
  }
  .stats_section .info_block {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.gallery_section {
  padding: 40px 0;
  background: #EAECEF;
  color: #022034;
  position: relative;
  overflow: hidden;
}
.gallery_section .gallery_list {
  margin: -28px -30px 0;
  padding: 0;
  list-style-type: none;
}
.gallery_section .gallery_list li {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  width: 33.33%;
  padding: 60px 30px 0;
}
.gallery_section .gallery_list a {
  display: block;
  font-size: 0;
  line-height: 0;
}
.gallery_section .gallery_list img {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .gallery_section .gallery_list {
    margin: -8px -20px 0;
  }
  .gallery_section .gallery_list li {
    padding: 40px 20px 0;
  }
}
@media screen and (max-width: 959px) {
  .gallery_section {
    padding: 30px 0;
  }
  .gallery_section .gallery_list {
    margin: 0 -12px;
  }
  .gallery_section .gallery_list li {
    padding: 24px 12px 0;
  }
}
@media screen and (max-width: 575px) {
  .gallery_section .gallery_list li {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
  }
}

.web .gallery_section .gallery_list a, .gallery_section .gallery_list .web a {
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.touch .gallery_section .gallery_list a, .gallery_section .gallery_list .touch a {
  -o-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.web .gallery_section .gallery_list a:hover, .gallery_section .gallery_list .web a:hover {
  opacity: 0.7;
}
.touch .gallery_section .gallery_list a:active, .gallery_section .gallery_list .touch a:active {
  opacity: 0.7;
}

/*# sourceMappingURL=about.css.map */
