.review-list, .apply_form .radio_list, .apply_steps {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.select2-container--default.select2-container--open .select2-selection__arrow {
  transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
}

.daterangepicker .drp-calendar.left .calendar-table td.prev:before, .daterangepicker .drp-calendar.left .calendar-table td.next:before,
.daterangepicker .drp-calendar.left .calendar-table th.prev:before,
.daterangepicker .drp-calendar.left .calendar-table th.next:before {
  font-family: "icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.standard_text {
  font-size: 140%;
  line-height: 20px;
}

.select2-container .select2-selection--single {
  height: auto;
}
.select2-container .select2-selection__placeholder {
  color: rgba(35, 31, 32, 0.5);
}
.select2-container--default .select2-selection--single {
  background-color: #EAECEF;
  border: 1px solid transparent;
  border-radius: 0;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: none;
  outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #231F20;
  font-size: 140%;
  line-height: 18px;
  padding: 13px 15px;
  flex: 1;
  width: 50%;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: auto;
  position: relative;
  top: auto;
  right: auto;
  padding: 13px 15px;
  padding-left: 0;
  width: auto;
  color: #007093;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow * {
  display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow:before {
  display: block;
  content: "";
  width: 1.2rem;
  height: 0.6rem;
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-width: 0.6rem 0.6rem 0;
}
.select2-container--default.select2-container--open .select2-selection--single {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 10;
}
.select2-container .select2-search--dropdown {
  padding: 0;
}
.select2-container .select2-search--dropdown .select2-search__field {
  border: none;
  border-bottom: 1px solid transparent;
  padding: 13px 15px;
  font-size: 100%;
  line-height: inherit;
}

.select2-container .select2-dropdown {
  border: none;
  font-size: 140%;
  line-height: 17px;
  box-shadow: none;
  position: relative;
  z-index: 5;
}
.select2-container .select2-results__options {
  overflow-x: hidden;
  max-height: 400px;
  scrollbar-color: #ffffff transparent;
  scrollbar-width: thin;
}
.select2-container .select2-results__options::-webkit-scrollbar {
  width: 2px;
  height: auto;
  border-radius: 0;
  background: transparent;
}
.select2-container .select2-results__options::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #ffffff;
}
.select2-container .select2-results__options li {
  padding: 14px 16px;
}
.select2-container .select2-results__option {
  background: #007093;
  color: #ffffff;
}
.select2-container .select2-results__option:not(:last-child) {
  border-bottom: 1px solid #ffffff;
}
.select2-container .select2-results__option--highlighted.select2-results__option--selectable {
  background: #022034;
  color: #ffffff;
}
.select2-container .select2-results__option--selected {
  background: #8B0029 !important;
  color: #ffffff !important;
  cursor: default;
}

.donate_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 50px 0 0;
  width: 100%;
}
@media screen and (max-width: 959px) {
  .donate_block {
    margin: 30px 0 0;
  }
}
.donate_block button,
.donate_block a {
  margin: 0 10px;
}
@media screen and (max-width: 575px) {
  .donate_block button,
  .donate_block a {
    margin: 0 0 10px;
  }
}
@media screen and (max-width: 575px) {
  .donate_block {
    flex-direction: column;
  }
}

.apply_steps {
  display: flex;
}
.apply_steps li {
  flex: 1;
  max-width: 234px;
  position: relative;
  color: #022034;
}
.apply_steps li:not(:first-child) {
  margin-left: -14px;
}
.apply_steps li.current_step ~ li {
  color: #D5D8DE;
}
.apply_steps li.current_step ~ li .step_block {
  z-index: 1;
}
.apply_steps li:hover a.step_block:not(.inactive) {
  z-index: 5;
}
.apply_steps .step_block {
  padding-bottom: 6px;
  margin: 0 28px;
  position: relative;
  border-bottom: 1px solid;
  font-size: 160%;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-align: center;
  z-index: 2;
}
.apply_steps .step_block:before, .apply_steps .step_block:after {
  display: block;
  content: "";
  position: absolute;
  bottom: -7px;
  border: 7px solid;
}
.apply_steps .step_block:before {
  left: -28px;
}
.apply_steps .step_block:after {
  right: -28px;
}
.apply_steps a.step_block {
  display: block;
  color: inherit;
}
.apply_steps a.step_block.inactive {
  pointer-events: none;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .apply_steps li {
    max-width: 200px;
  }
  .apply_steps li:not(:first-child) {
    margin-left: -10px;
  }
  .apply_steps .step_block {
    padding-bottom: 5px;
    margin: 0 20px;
    font-size: 140%;
  }
  .apply_steps .step_block:before, .apply_steps .step_block:after {
    bottom: -5px;
    border-width: 5px;
  }
  .apply_steps .step_block:before {
    left: -20px;
  }
  .apply_steps .step_block:after {
    right: -20px;
  }
}
@media screen and (max-width: 959px) {
  .apply_steps li {
    max-width: 140px;
  }
  .apply_steps li:not(:first-child) {
    margin-left: -8px;
  }
  .apply_steps .step_block {
    padding-bottom: 4px;
    margin: 0 12px;
    font-size: 120%;
  }
  .apply_steps .step_block:before, .apply_steps .step_block:after {
    bottom: -4px;
    border-width: 4px;
  }
  .apply_steps .step_block:before {
    left: -12px;
  }
  .apply_steps .step_block:after {
    right: -12px;
  }
}

.apply_form {
  padding-top: 50px;
}
.apply_form .primary_btn {
  margin-left: auto;
}
@media screen and (max-width: 575px) {
  .apply_form .primary_btn {
    margin-left: 0;
  }
}
.apply_form .form_fields {
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #EAECEF;
  justify-content: space-between;
}
.apply_form .form_fields > .field_block {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}
.apply_form .h_border {
  display: block;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 20px;
  margin: 30px 0;
}
.apply_form .h_border:before {
  display: block;
  content: "";
  border-top: 1px solid #EAECEF;
}
.apply_form .form_subtitle {
  padding: 0 20px;
  flex: 0 0 100%;
  max-width: 100%;
  font-size: 200%;
  line-height: 1.2em;
  letter-spacing: 0.04em;
}
.apply_form .fields_group {
  flex: 0 0 50%;
  max-width: 520px;
  padding-left: 20px;
  padding-right: 20px;
}
.apply_form .field_block {
  margin-bottom: 0;
  margin-top: 30px;
}
.apply_form .field_block ::-webkit-input-placeholder {
  color: #231F20;
  opacity: 0.5;
}
.apply_form .field_block :-moz-placeholder {
  color: #231F20;
  opacity: 0.5;
}
.apply_form .field_block ::-moz-placeholder {
  color: #231F20;
  opacity: 0.5;
}
.apply_form .field_block :-ms-input-placeholder {
  color: #231F20;
  opacity: 0.5;
}
.apply_form .field_block .placeholder {
  color: rgba(35, 31, 32, 0.5);
}
.apply_form .field_block input:focus ~ .placeholder,
.apply_form .field_block textarea:focus ~ .placeholder,
.apply_form .field_block .filled .placeholder {
  color: #231F20;
}
.apply_form .field_block textarea,
.apply_form .field_block input {
  background: #EAECEF;
  color: #231F20;
}
.apply_form .field_block [data-validation] ~ .label {
  display: block;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  pointer-events: none;
  border: solid #8B0029;
  border-width: 1px 0 0 1px;
}
.apply_form .field_block > label {
  display: block;
  position: relative;
}
.apply_form .field_block > label.icon_calendar:before {
  position: absolute;
  top: 13px;
  right: 17px;
  font-size: 200%;
  display: block;
  pointer-events: none;
}
.apply_form .field_block .error_hint {
  color: #8B0029;
}
.apply_form .radio_group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -36px;
}
.apply_form .radio_group label {
  display: inline-block;
  vertical-align: top;
  padding: 0 1px;
  margin: 16px 36px 0;
}
.apply_form .radio_group .label {
  display: block;
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
  color: rgba(35, 31, 32, 0.5);
  font-size: 140%;
  line-height: 18px;
  padding: 4px 40px;
}
.apply_form .radio_group .label:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 36px;
  width: 7px;
  height: 7px;
  pointer-events: none;
  border: solid #8B0029;
  border-width: 1px 0 0 1px;
}
.apply_form .radio_group .error_hint {
  text-align: left;
  left: 0;
}
.apply_form .radio_list {
  position: relative;
}
.apply_form .radio_list:before {
  display: block;
  content: "";
  height: 12px;
}
.apply_form .radio_list li {
  padding: 0 20px;
  margin-top: 30px;
}
.apply_form .radio_list label {
  display: inline-block;
  vertical-align: top;
  padding: 0 1px;
}
.apply_form .radio_list .error_hint {
  position: absolute;
  top: 100%;
  left: 20px;
  text-align: left;
  color: #8B0029;
}
.apply_form .radio_btn {
  display: flex;
  align-items: flex-start;
  font-size: 160%;
  line-height: 30px;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.apply_form .radio_btn:before {
  display: block;
  content: "";
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px;
  opacity: 0.5;
  border: 4px solid #ffffff;
  margin-right: 10px;
  margin-top: 7px;
}
.apply_form input:checked ~ .radio_btn {
  pointer-events: none;
  color: #007093;
}
.apply_form input:checked ~ .radio_btn:before {
  opacity: 1;
  background: #007093;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .apply_form .h_border,
  .apply_form .form_subtitle {
    padding: 0 16px;
  }
  .apply_form .form_field {
    padding-left: 8px;
    padding-right: 8px;
  }
  .apply_form .form_field > .field_block {
    margin-left: 16px;
    margin-right: 16px;
  }
  .apply_form .radio_list li {
    margin-top: 24px;
    padding: 0 16px;
  }
  .apply_form .radio_list .error_hint {
    left: 16px;
  }
  .apply_form .fields_group {
    padding: 0 16px;
    max-width: 512px;
  }
  .apply_form .radio_group {
    margin: 0 -24px;
  }
  .apply_form .radio_group label {
    margin-left: 24px;
    margin-right: 24px;
  }
  .apply_form .radio_group .label {
    padding-left: 28px;
    padding-right: 28px;
  }
  .apply_form .radio_group .label:before {
    left: 24px;
  }
}
@media screen and (max-width: 959px) {
  .apply_form {
    padding-top: 30px;
  }
  .apply_form .form_fields {
    padding-left: 0;
    padding-right: 0;
  }
  .apply_form .form_fields > .field_block {
    margin-left: 12px;
    margin-right: 12px;
  }
  .apply_form .h_border,
  .apply_form .form_subtitle {
    padding: 0 12px;
  }
  .apply_form .fields_group {
    padding: 0 12px;
    max-width: 504px;
  }
  .apply_form .radio_list li {
    margin-top: 16px;
    padding: 0 12px;
  }
  .apply_form .radio_list .error_hint {
    left: 12px;
  }
  .apply_form .radio_btn {
    font-size: 140%;
    line-height: 28px;
  }
  .apply_form .radio_btn:before {
    margin-top: 6px;
  }
  .apply_form .radio_group {
    margin: 0 -16px;
  }
  .apply_form .radio_group label {
    margin-left: 16px;
    margin-right: 16px;
  }
  .apply_form .radio_group .label {
    padding-left: 20px;
    padding-right: 20px;
  }
  .apply_form .radio_group .label:before {
    left: 16px;
  }
}
@media screen and (max-width: 639px) {
  .apply_form .fields_group {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.daterangepicker {
  border-radius: 0;
  border: none;
  font-family: inherit;
  font-size: 160%;
  line-height: 22px;
  border: 1px solid #D5D8DE;
}
.daterangepicker.show-ranges.single.ltr .drp-calendar.left {
  border: none;
  padding: 6px 12px 14px;
}
.daterangepicker .drp-calendar.left .calendar-table {
  border: none;
  border-radius: 0;
  padding: 0;
}
.daterangepicker .drp-calendar.left .calendar-table td,
.daterangepicker .drp-calendar.left .calendar-table th {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: normal;
  color: #231F20;
  height: auto;
  padding: 9px 2px;
  border-radius: 0;
  background: transparent !important;
}
.daterangepicker .drp-calendar.left .calendar-table td.active,
.daterangepicker .drp-calendar.left .calendar-table th.active {
  position: relative;
  color: #ffffff !important;
  z-index: 1;
}
.daterangepicker .drp-calendar.left .calendar-table td.active:before,
.daterangepicker .drp-calendar.left .calendar-table th.active:before {
  display: block;
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: #007093;
  top: 50%;
  left: 50%;
  margin: -16px;
  z-index: -1;
}
.daterangepicker .drp-calendar.left .calendar-table td.off,
.daterangepicker .drp-calendar.left .calendar-table th.off {
  color: #D5D8DE;
}
.daterangepicker .drp-calendar.left .calendar-table td.prev span, .daterangepicker .drp-calendar.left .calendar-table td.next span,
.daterangepicker .drp-calendar.left .calendar-table th.prev span,
.daterangepicker .drp-calendar.left .calendar-table th.next span {
  display: none;
}
.daterangepicker .drp-calendar.left .calendar-table td.prev:before, .daterangepicker .drp-calendar.left .calendar-table td.next:before,
.daterangepicker .drp-calendar.left .calendar-table th.prev:before,
.daterangepicker .drp-calendar.left .calendar-table th.next:before {
  display: block;
  font-size: 1.2rem;
}
.daterangepicker .drp-calendar.left .calendar-table td.prev:before,
.daterangepicker .drp-calendar.left .calendar-table th.prev:before {
  content: "\e902";
}
.daterangepicker .drp-calendar.left .calendar-table td.next:before,
.daterangepicker .drp-calendar.left .calendar-table th.next:before {
  content: "\e903";
}
.daterangepicker .drp-calendar.left .calendar-table th {
  cursor: default;
}
.daterangepicker .drp-calendar.left .calendar-table th.prev,
.daterangepicker .drp-calendar.left .calendar-table th.next,
.daterangepicker .drp-calendar.left .calendar-table td:not(.disabled) {
  cursor: pointer;
}
.daterangepicker .drp-calendar.left .calendar-table thead tr:first-child {
  border-bottom: 2px solid rgba(107, 124, 137, 0.25);
}
.daterangepicker .drp-calendar.left .calendar-table select {
  border: 1px solid rgba(107, 124, 137, 0.25);
  color: inherit;
  background: #ffffff;
}
.daterangepicker .drp-calendar.left .calendar-table select option {
  color: #231F20;
}
.daterangepicker .ranges {
  margin: 0 !important;
}
@media screen and (max-width: 959px) {
  .daterangepicker {
    font-size: 140%;
    line-height: 20px;
  }
}

.review-list {
  line-height: 1.5em;
  letter-spacing: 0.1em;
}
.review-list .title {
  font-family: "nicolo-bold";
}
@media screen and (min-width: 960px) {
  .review-list {
    font-size: 160%;
  }
  .review-list li:not(:first-child) {
    margin-top: 24px;
  }
}
@media screen and (max-width: 959px) {
  .review-list {
    font-size: 140%;
  }
  .review-list li:not(:first-child) {
    margin-top: 20px;
  }
}

.web .apply_steps a.step_block, .apply_steps .web a.step_block, .web .apply_form .radio_btn, .apply_form .web .radio_btn, .web .daterangepicker .drp-calendar.left .calendar-table th.prev, .daterangepicker .drp-calendar.left .calendar-table .web th.prev,
.web .daterangepicker .drp-calendar.left .calendar-table th.next,
.daterangepicker .drp-calendar.left .calendar-table .web th.next,
.web .daterangepicker .drp-calendar.left .calendar-table td:not(.disabled),
.daterangepicker .drp-calendar.left .calendar-table .web td:not(.disabled), .web .daterangepicker .drp-calendar.left .calendar-table select option, .daterangepicker .drp-calendar.left .calendar-table select .web option {
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.select2-container .select2-results__options li {
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.touch .apply_steps a.step_block, .apply_steps .touch a.step_block, .touch .apply_form .radio_btn, .apply_form .touch .radio_btn, .touch .daterangepicker .drp-calendar.left .calendar-table th.prev, .daterangepicker .drp-calendar.left .calendar-table .touch th.prev,
.touch .daterangepicker .drp-calendar.left .calendar-table th.next,
.daterangepicker .drp-calendar.left .calendar-table .touch th.next,
.touch .daterangepicker .drp-calendar.left .calendar-table td:not(.disabled),
.daterangepicker .drp-calendar.left .calendar-table .touch td:not(.disabled), .touch .daterangepicker .drp-calendar.left .calendar-table select option, .daterangepicker .drp-calendar.left .calendar-table select .touch option {
  -o-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.apply_form .radio_btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.apply_form .radio_group input, .apply_form .radio_list input {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  visibility: hidden;
}

.web .apply_steps a.step_block:hover, .apply_steps .web a.step_block:hover, .web .apply_form .radio_btn:hover, .apply_form .web .radio_btn:hover, .web .daterangepicker .drp-calendar.left .calendar-table th.prev:hover, .daterangepicker .drp-calendar.left .calendar-table .web th.prev:hover,
.web .daterangepicker .drp-calendar.left .calendar-table th.next:hover,
.daterangepicker .drp-calendar.left .calendar-table .web th.next:hover,
.web .daterangepicker .drp-calendar.left .calendar-table td:hover:not(.disabled),
.daterangepicker .drp-calendar.left .calendar-table .web td:hover:not(.disabled), .web .daterangepicker .drp-calendar.left .calendar-table select option:hover, .daterangepicker .drp-calendar.left .calendar-table select .web option:hover {
  color: #007093;
}
.touch .apply_steps a.step_block:active, .apply_steps .touch a.step_block:active, .touch .apply_form .radio_btn:active, .apply_form .touch .radio_btn:active, .touch .daterangepicker .drp-calendar.left .calendar-table th.prev:active, .daterangepicker .drp-calendar.left .calendar-table .touch th.prev:active,
.touch .daterangepicker .drp-calendar.left .calendar-table th.next:active,
.daterangepicker .drp-calendar.left .calendar-table .touch th.next:active,
.touch .daterangepicker .drp-calendar.left .calendar-table td:active:not(.disabled),
.daterangepicker .drp-calendar.left .calendar-table .touch td:active:not(.disabled), .touch .daterangepicker .drp-calendar.left .calendar-table select option:active, .daterangepicker .drp-calendar.left .calendar-table select .touch option:active {
  color: #007093;
}

/*# sourceMappingURL=apply.css.map */
