.standard_text {
  font-size: 140%;
  line-height: 20px;
}

.listing_section {
  position: relative;
  overflow: hidden;
}
.listing_section .news_list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 -21px;
}
.listing_section .news_list li {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  margin-bottom: 80px;
  padding: 0 21px;
}
.listing_section .news_block {
  border: 1px solid #EAECEF;
  padding: 16px 16px 26px;
}
.listing_section .title_block {
  height: 90px;
  margin-bottom: 16px;
}
.listing_section .title_block a {
  -webkit-line-clamp: 3;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .listing_section .news_list {
    margin: 0 -16px;
  }
  .listing_section .news_list li {
    padding: 0 16px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .listing_section .news_list li {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 959px) {
  .listing_section .news_list {
    margin: 0 -12px;
  }
  .listing_section .news_list li {
    padding: 0 12px;
    margin-bottom: 20px;
  }
  .listing_section .title_block {
    height: 120px;
    -webkit-line-clamp: 4;
  }
  .listing_section .title_block a {
    -webkit-line-clamp: 4;
  }
}
@media screen and (max-width: 575px) {
  .listing_section .news_list li {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.date_time {
  display: flex;
  font-size: 140%;
  line-height: 30px;
  color: #BDBDBD;
  letter-spacing: 0.1em;
}
.date_time span {
  display: flex;
}
.date_time span:not(:first-child):before {
  content: "|";
  margin: 0 10px;
}

.page_head_block .info_block {
  justify-content: flex-end;
  padding-bottom: 24px;
}
.page_head_block .news_title {
  font-family: "nicolo-bold";
  font-size: 240%;
  line-height: 50px;
  color: inherit;
  margin: 0;
  letter-spacing: 0.1em;
}
.page_head_block .date_time {
  color: #D5D8DE;
  border-top: 1px solid rgba(234, 236, 239, 0.5);
  margin-top: 64px;
  padding-top: 14px;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .page_head_block .news_title {
    font-size: 200%;
    line-height: 42px;
  }
  .page_head_block .date_time {
    font-size: 140%;
    margin-top: 40px;
  }
}
@media screen and (max-width: 959px) {
  .page_head_block .news_title {
    font-size: 160%;
    line-height: 30px;
  }
  .page_head_block .date_time {
    font-size: 120%;
    margin-top: 32px;
  }
}

/*# sourceMappingURL=blog.css.map */
