.standard_text {
  font-size: 140%;
  line-height: 20px;
}

#map {
  height: 400px;
}

.map_block {
  margin-top: 50px;
}

.contacts_section {
  color: #ffffff;
  background: #022034;
  padding: 40px 0 60px;
  position: relative;
  overflow: hidden;
}
.contacts_section .contacts_list {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 48px;
}
.contacts_section .contacts_list a {
  color: inherit;
}
.contacts_section .contact_block {
  max-width: 450px;
  font-size: 180%;
  line-height: 30px;
  letter-spacing: 0.04em;
}
.contacts_section .contact_block:not(:first-child) {
  margin-top: 40px;
}
.contacts_section .contact_type {
  color: #007093;
  margin-bottom: 6px;
}
.contacts_section .contact_info a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.contact_form {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 48px;
}
.contact_form ::-webkit-input-placeholder {
  color: #ffffff;
}
.contact_form :-moz-placeholder {
  color: #ffffff;
}
.contact_form ::-moz-placeholder {
  color: #ffffff;
}
.contact_form :-ms-input-placeholder {
  color: #ffffff;
}
.contact_form input,
.contact_form textarea {
  color: #ffffff;
  background: #021B2C;
}
.contact_form textarea {
  height: 160px;
}
.contact_form .primary_btn {
  margin-left: auto;
}
.contact_form .error_hint {
  color: #D5D8DE;
}

@media screen and (max-width: 1199px) {
  .page_row {
    margin-left: -16px;
    margin-right: -16px;
  }
  .contacts_section .contacts_list,
  .contact_form {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .contacts_section .contact_block {
    font-size: 160%;
  }
}
@media screen and (max-width: 959px) {
  .contacts_section {
    padding: 30px 0;
  }
  .contacts_section .contact_block {
    font-size: 140%;
  }
  .contacts_section .contact_block:not(:first-child) {
    margin-top: 30px;
  }
  .contacts_section .contacts_list,
  .contact_form,
  .map_block {
    margin-top: 30px;
  }
  #map {
    max-height: 75vh;
  }
}
@media screen and (max-width: 575px) {
  .contacts_section .contacts_list,
  .contact_form {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #map {
    height: 320px;
  }
}
.web .contacts_section .contacts_list a, .contacts_section .contacts_list .web a {
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.touch .contacts_section .contacts_list a, .contacts_section .contacts_list .touch a {
  -o-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.web .contacts_section .contacts_list a:hover, .contacts_section .contacts_list .web a:hover {
  color: #007093;
}
.touch .contacts_section .contacts_list a:active, .contacts_section .contacts_list .touch a:active {
  color: #007093;
}

/*# sourceMappingURL=contacts.css.map */
