.donaters_section .donaters_list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.switch_content .donater_fields .checkbox_label .check_btn:before, .switch_content .donater_fields .regular_switch_block .field_name_switch:before {
  font-family: "icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.partners_section a.partner_block img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.accounts_popup .popup_middle .copy_btn, .foundation_block .foundation_inner .copy_btn {
  border: none;
  padding: 0;
  background: transparent;
}

.switch_content .placeholder, .standard_text {
  font-size: 140%;
  line-height: 20px;
}

.cooperate_top {
  margin-top: 40px;
  position: relative;
  overflow: hidden;
}
.cooperate_top .switch_top .icon_left:before {
  border: none;
  color: #ffffff;
  margin-right: 15px;
  padding: 5px;
  font-size: 16px;
}
.cooperate_top .cooperate_description {
  font-size: 12px;
  line-height: 17px;
  color: #D5D8DE;
  display: block;
  text-align: center;
  margin-top: 14px;
  letter-spacing: 0.16em;
}
.cooperate_top .image_block {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  height: 36.11vw;
  max-height: 520px;
}
.cooperate_top .image_block img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cooperate_top .info_inner {
  color: #ffffff;
  position: relative;
  background: #022034;
  margin-left: auto;
  width: 60%;
  max-width: 644px;
  display: flex;
  flex-direction: column;
}
.cooperate_top .info_preview {
  flex: 1;
  margin: 62px 50px;
  border: 1px solid rgba(107, 124, 137, 0.5);
  padding: 120px 10px 0;
  text-align: center;
}
.cooperate_top .info_preview .btns_block {
  display: flex;
  flex-wrap: wrap;
  margin: 35px -6px 0;
}
.cooperate_top .info_preview .primary_btn {
  flex: 100%;
  margin: 0 6px 12px;
  min-width: 0;
}
@media screen and (min-width: 1440px) {
  .cooperate_top .info_inner {
    min-height: 645px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .cooperate_top .info_inner {
    min-height: 44.8vw;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .cooperate_top .image_block {
    top: 40px;
  }
  .cooperate_top .info_inner {
    min-height: 42.8vw;
    width: 45%;
  }
  .cooperate_top .info_preview {
    margin: 40px 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cooperate_top .info_preview .btns_block {
    margin: 35px 0 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .cooperate_top .info_preview .btns_block .primary_btn {
    width: 100%;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  .cooperate_top .image_block {
    top: 20px;
  }
  .cooperate_top .info_inner {
    min-height: 40.8vw;
    width: 50%;
  }
}
@media screen and (max-width: 959px) {
  .cooperate_top {
    margin-top: 30px;
  }
  .cooperate_top .info_preview {
    margin: 16px;
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cooperate_top .info_preview .btns_block {
    margin: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .cooperate_top .info_preview .btns_block .primary_btn {
    width: 100%;
    margin: 30px 0 0;
  }
}
@media screen and (max-width: 639px) {
  .cooperate_top {
    margin-top: 0;
  }
  .cooperate_top .image_block {
    position: relative;
    top: auto;
    left: auto;
    height: 73.125vw;
    overflow: hidden;
  }
  .cooperate_top .image_block img {
    object-position: left top;
  }
  .cooperate_top .info_block {
    margin-top: -32px;
  }
  .cooperate_top .info_inner {
    width: 100%;
  }
}

.partners_section {
  margin-top: 30px;
}
.partners_section .page_title {
  color: #022034;
}
.partners_section .partners_group {
  margin-top: 30px;
}
.partners_section .group_title {
  font-size: 180%;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #007093;
  letter-spacing: 0.04em;
  font-family: "nicolo-bold";
  margin: 0;
}
.partners_section .group_title:before {
  display: block;
  content: "";
  border-top: 1px solid;
  flex: 1;
  max-width: 149px;
  margin-left: 12px;
  order: 1;
}
.partners_section .group_title:after {
  display: block;
  content: "";
  border-top: 7px solid;
  margin-left: -2px;
  width: 7px;
  min-width: 7px;
  border-radius: 50%;
  order: 2;
}
.partners_section ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding: 0;
  list-style-type: none;
}
.partners_section li {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 24px 15px 0;
}
.partners_section .partner_block {
  height: 100%;
  background: #EAECEF;
  color: inherit;
  padding: 24px 16px;
  text-align: center;
}
.partners_section .image_block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  margin-bottom: 24px;
  position: relative;
  overflow: hidden;
}
.partners_section .image_block img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.partners_section .name_block {
  display: block;
  font-size: 140%;
  line-height: 22px;
  font-family: "nicolo-bold";
}
.partners_section a.partner_block {
  display: block;
}
.partners_section a.partner_block:hover {
  color: #007093;
}
.partners_section a.partner_block:hover img {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}
@media screen and (max-width: 959px) {
  .partners_section .group_title {
    font-size: 160%;
    line-height: 30px;
  }
  .partners_section ul {
    margin-left: -10px;
    margin-right: -10px;
  }
  .partners_section li {
    padding: 16px 10px;
  }
  .partners_section .name_block {
    font-size: 120%;
    line-height: 20px;
  }
  .partners_section .partner_block {
    padding: 10px;
  }
  .partners_section .image_block {
    height: 80px;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  .partners_section li {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media screen and (max-width: 479px) {
  .partners_section li {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.foundation_block .foundation_inner {
  position: relative;
  padding: 0;
  color: #ffffff;
  background: #022034;
}
.foundation_block .foundation_inner .copy_btn {
  margin-left: auto !important;
  color: #6B7C89;
  opacity: 0.5;
  padding: 3px 0 0 20px !important;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .foundation_block .foundation_inner .copy_btn {
    padding: 3px 0 0 7px !important;
  }
}
.foundation_block .foundation_inner .copy_btn:before {
  font-size: 2rem;
}
.foundation_block .foundation_inner .popup_middle table th:first-child,
.foundation_block .foundation_inner .popup_middle table td:first-child {
  padding-right: 40px;
  text-align: left;
}
@media screen and (max-width: 1199px) {
  .foundation_block .foundation_inner .popup_middle table th:first-child,
  .foundation_block .foundation_inner .popup_middle table td:first-child {
    padding-right: 3px;
  }
}
.foundation_block .foundation_inner > .page_container {
  display: flex;
  flex-wrap: wrap;
}
.foundation_block .foundation_inner .bank_info {
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(39, 73, 109, 0.5);
  width: 100%;
  padding-bottom: 20px;
}
.foundation_block .foundation_inner .bank_info:after {
  display: none !important;
}
@media screen and (max-width: 959px) {
  .foundation_block .foundation_inner .bank_info {
    max-width: 600px;
    margin: 0 auto 20px;
  }
}
@media screen and (max-width: 767px) {
  .foundation_block .foundation_inner .bank_info {
    margin: 0 auto 20px !important;
  }
}
.foundation_block .foundation_inner .popup_bottom {
  padding: 0;
  margin: 0 -12px;
}
.foundation_block .foundation_inner .popup_middle {
  background: none;
  padding: 0;
  margin-top: 20px;
}
.foundation_block .foundation_inner .popup_middle table {
  max-width: 100%;
  margin: 0;
  width: 100%;
}
@media screen and (max-width: 959px) {
  .foundation_block .foundation_inner .popup_middle table {
    max-width: 600px;
    margin: 0 auto;
  }
}
.foundation_block .foundation_inner .popup_middle table td {
  position: relative;
}
@media screen and (max-width: 1199px) {
  .foundation_block .foundation_inner .popup_middle table td {
    font-size: 150%;
  }
}
@media screen and (max-width: 959px) {
  .foundation_block .foundation_inner .popup_middle table td {
    font-size: 120%;
  }
}
.foundation_block .foundation_inner .popup_middle table th {
  text-align: right;
}
@media screen and (max-width: 959px) {
  .foundation_block .foundation_inner .popup_middle table th {
    font-size: 130%;
  }
}
@media screen and (max-width: 767px) {
  .foundation_block .foundation_inner .popup_middle table th {
    font-size: 110%;
  }
}
.foundation_block .foundation_inner .popup_middle table .account_number {
  text-align: center;
}
.foundation_block .foundation_inner .details_table td {
  padding: 12px 0;
}
@media screen and (max-width: 767px) {
  .foundation_block .foundation_inner .details_table td:first-child {
    font-size: 130%;
  }
}
.foundation_block .foundation_inner .details_table td:last-child {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .foundation_block .foundation_inner .details_table td:last-child {
    font-size: 140%;
  }
}
@media screen and (max-width: 767px) {
  .foundation_block .foundation_inner .details_table td:last-child {
    font-size: 130%;
  }
}
.foundation_block .foundation_inner .details_table {
  max-width: 100%;
  margin: 0;
}
@media screen and (max-width: 959px) {
  .foundation_block .foundation_inner .details_table {
    max-width: 600px;
    margin: 0 auto;
  }
}
.foundation_block .foundation_inner .page_title {
  line-height: 1.5em;
  color: #ffffff;
  margin-bottom: 33px;
}
.foundation_block .foundation_inner .status_icon {
  color: #022034;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  font-size: 360%;
  border: 1px solid;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
.foundation_block .foundation_inner .status_icon:before {
  display: block;
}
.foundation_block .foundation_inner .thanks_title {
  font-size: 400%;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  font-family: "nicolo-bold";
  margin-top: -30px;
  color: #007093;
}
.foundation_block .foundation_inner .thanks_subtitle {
  margin-top: 15px;
  font-size: 250%;
  line-height: 47px;
  letter-spacing: 0.04em;
  color: #6B7C89;
}
.foundation_block .foundation_inner .icon_block {
  margin: 45px auto 40px;
  max-width: 505px;
  border-bottom: 1px solid rgba(0, 112, 147, 0.5);
}
.foundation_block .foundation_inner .icon_block img {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: 109px;
}
.foundation_block .foundation_inner .description_block {
  font-size: 160%;
  line-height: 30px;
  letter-spacing: 0.1em;
  max-width: 505px;
  margin: 0 auto;
  color: #6B7C89;
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .foundation_block .foundation_inner {
    padding: 20px 0 0;
  }
  .foundation_block .foundation_inner .status_icon {
    width: 60px;
    height: 60px;
    font-size: 200%;
  }
  .foundation_block .foundation_inner .page_title {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .foundation_block .foundation_inner {
    padding: 20px 0 0;
  }
  .foundation_block .foundation_inner .thanks_title {
    font-size: 320%;
    line-height: 40px;
    margin-top: -16px;
  }
  .foundation_block .foundation_inner .thanks_subtitle {
    margin-top: 12px;
    font-size: 200%;
    line-height: 40px;
  }
  .foundation_block .foundation_inner .icon_block {
    margin: 30px auto;
  }
}
@media screen and (max-width: 575px) {
  .foundation_block .foundation_inner {
    padding: 20px 0 0;
  }
  .foundation_block .foundation_inner .status_icon {
    width: 44px;
    height: 44px;
    font-size: 160%;
  }
  .foundation_block .foundation_inner .page_title {
    margin-bottom: 16px;
  }
  .foundation_block .foundation_inner .thanks_title {
    font-size: 240%;
    line-height: 32px;
    margin-top: 0;
  }
  .foundation_block .foundation_inner .thanks_subtitle {
    margin-top: 8px;
    font-size: 160%;
    line-height: 32px;
  }
  .foundation_block .foundation_inner .icon_block {
    margin: 24px auto;
  }
  .foundation_block .foundation_inner .description_block {
    font-size: 140%;
  }
}

.by_paypal .custom_size .donate_size .error_hint,
.by_card .custom_size .donate_size .error_hint {
  max-height: unset;
  position: relative;
  top: unset;
  right: unset;
  font-size: 16px;
  line-height: 20px;
  color: #007093;
  text-align: left;
  margin-top: 10px;
}

.switch_content .switch_top .icon_left:before {
  border: none;
  color: #ffffff;
  margin-right: 15px;
  padding: 5px;
  font-size: 16px;
}
.switch_content.full_field {
  flex: 0 0 100%;
  max-width: 100%;
}
.switch_content .placeholder {
  opacity: 0;
  color: #D5D8DE;
  position: absolute;
  top: 13px;
  left: 30px;
  font-family: "nicolo-bold";
  font-weight: bold;
  z-index: 2;
  pointer-events: none;
}
.switch_content input:focus {
  border-color: #231F20;
}
.switch_content input:focus ~ .placeholder,
.switch_content textarea:focus ~ .placeholder,
.switch_content .filled .placeholder {
  top: -18px;
  font-size: 110%;
  line-height: 14px;
}
.switch_content .field_name {
  font-family: "nicolo-bold";
  font-size: 160%;
  line-height: 1.2em;
  letter-spacing: 0.04em;
}
.switch_content .checkbox_many {
  width: 100%;
  margin-bottom: 25px !important;
}
.switch_content .copy_btn_custom {
  width: 30px;
  height: 30px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.switch_content .copy_btn_custom:before {
  color: #022034;
  font-size: 1.5rem;
}
.switch_content .by_paypal .card_block img {
  max-width: 258px;
}
.switch_content .at-share-btn-elements {
  display: flex;
}
.switch_content .card_block {
  padding-left: 15px;
}
.switch_content .card_block img {
  background: #ffffff;
  padding: 7px;
  border-radius: 5px;
  margin-left: auto;
  max-width: 278px;
  width: 100%;
}
.switch_content .currency_list,
.switch_content .ammounts_list {
  padding: 0;
  margin: 0 -6px 40px;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
.switch_content .currency_list li,
.switch_content .ammounts_list li {
  padding: 30px 6px 0;
  flex: 0 0 25%;
  max-width: 25%;
}
.switch_content .currency_list label,
.switch_content .ammounts_list label {
  display: block;
  position: relative;
  overflow: hidden;
}
.switch_content .currency_list .radio_btn,
.switch_content .ammounts_list .radio_btn {
  cursor: pointer;
  color: #ffffff;
  background: #021B2C;
  font-size: 220%;
  line-height: 1.2em;
  letter-spacing: 0.08em;
  display: block;
  text-align: center;
  padding: 17px 15px;
  white-space: nowrap;
}
.switch_content .currency_list input:checked + .radio_btn,
.switch_content .ammounts_list input:checked + .radio_btn {
  background: #8B0029 !important;
  pointer-events: none;
}
.switch_content .custom_size {
  position: relative;
}
.switch_content .custom_size ::-webkit-input-placeholder {
  color: #6B7C89;
}
.switch_content .custom_size :-moz-placeholder {
  color: #6B7C89;
}
.switch_content .custom_size ::-moz-placeholder {
  color: #6B7C89;
}
.switch_content .custom_size :-ms-input-placeholder {
  color: #6B7C89;
}
.switch_content .custom_size label {
  display: block;
}
.switch_content .custom_size input {
  display: block;
  border: none;
  margin-top: 0;
  font-family: "nicolo-bold";
  color: #ffffff;
  background: #021B2C;
  font-size: 180%;
  line-height: 1.2em;
  letter-spacing: 0.08em;
  padding: 20px 15px;
}
.switch_content .custom_size input.other_block_active {
  background: #8B0029 !important;
}
.switch_content .custom_size .field_name {
  display: none;
}
@media screen and (min-width: 1200px) {
  .switch_content .custom_size input {
    position: absolute;
    left: 50%;
    right: 0;
    margin-left: 6px;
    top: -101px;
  }
  .switch_content .custom_size .donate_size {
    position: absolute;
    top: -40px;
    width: 100%;
    left: 0;
  }
}
.switch_content .by_card .ammounts_list:not(.showed) {
  position: relative;
  overflow: hidden;
  height: 0;
  opacity: 0;
  margin-bottom: 0;
}
.switch_content .by_paypal .primary_btn {
  padding: 10px;
}
.switch_content .by_paypal .primary_btn img {
  width: auto;
  max-height: 32px;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}
.switch_content .by_paypal .ammounts_list {
  height: auto;
  opacity: 1;
}
.switch_content .donate_size label,
.switch_content .donate_currency label {
  display: block;
  position: relative;
  overflow: hidden;
  height: 0;
}
.switch_content .showed_donate {
  text-align: center;
  font-size: 500%;
  line-height: 1.2em;
  letter-spacing: 0.08em;
  font-family: "nicolo-bold";
  color: #ffffff;
  padding-top: 40px;
  border-top: 1px solid #6B7C89;
  margin-top: 40px;
}
.switch_content .info_block {
  font-size: 160%;
  line-height: 1.2em;
  letter-spacing: 0.04em;
  color: #6B7C89;
  margin-top: 14px;
  text-align: center;
}
.switch_content .donate_form .donate_size .error_hint {
  position: relative;
  text-align: center;
  right: auto;
  top: auto;
  font-size: 160%;
  line-height: 1.2em;
  letter-spacing: 0.04em;
}
.switch_content .donate_form .form_btns {
  display: flex;
  flex-wrap: wrap;
  margin: 50px -12px 0;
}
.switch_content .donate_form .form_btns > * {
  flex: 1;
  margin: 0 12px 24px;
  min-width: 165px;
}
.switch_content .donate_form .form_btns .secondary_btn {
  background: #021B2C;
  color: #6B7C89;
}
.switch_content .type_info {
  text-align: center;
  margin-top: 40px;
  font-size: 180%;
  line-height: 22px;
  font-family: "nicolo-bold";
  letter-spacing: 0.04em;
  color: #007093;
}
.switch_content .share_inner {
  height: auto;
  font-size: 160%;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  color: #6B7C89;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 959px) {
  .switch_content .share_inner {
    font-size: 0;
  }
}
.switch_content .share_btns {
  margin-top: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.switch_content .share_btns a {
  margin: 0 0 0 16px !important;
  transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  -o-transform: none !important;
  color: #022034;
}
.switch_content .share_btns a svg,
.switch_content .share_btns a path {
  fill: currentColor;
}
@media screen and (max-width: 959px) {
  .switch_content .share_btns a {
    margin: 0 0 0 7px !important;
  }
}
.switch_content .radio_group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -36px;
}
.switch_content .radio_group .radio_btn {
  display: flex;
  align-items: flex-start;
  font-size: 160%;
  line-height: 30px;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
}
.switch_content .radio_group .radio_btn:before {
  display: block;
  content: "";
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px;
  opacity: 0.5;
  border: 3px solid #022034;
  margin-right: 10px;
  margin-top: 7px;
}
.switch_content .radio_group input:checked ~ .radio_btn {
  pointer-events: none;
  color: #8B0029;
}
.switch_content .radio_group input:checked ~ .radio_btn:before {
  background: #8B0029;
}
.switch_content .radio_group label {
  display: inline-block;
  vertical-align: top;
  padding: 0 1px;
  margin: 16px 36px 0;
}
.switch_content .regular_switch_custom {
  margin: 0 15px 15px;
  width: 100%;
  border-bottom: 1px solid #6B7C89;
}
.switch_content .regular_switch_custom .radio_group label {
  margin: 0 36px 15px;
}
@media screen and (max-width: 1199px) {
  .switch_content .regular_switch_custom .radio_group label {
    margin: 0 25px 15px;
  }
}
@media screen and (max-width: 959px) {
  .switch_content .regular_switch_custom .radio_group label {
    margin: 0 20px 15px;
  }
}
.switch_content .regular_switch {
  margin-top: 40px;
}
@media screen and (max-width: 959px) {
  .switch_content .regular_switch {
    padding-bottom: 10px;
  }
}
.switch_content .regular_switch .field_name {
  padding-bottom: 14px;
}
.switch_content .big_donate_info {
  margin-top: 55px;
  text-align: center;
  font-size: 160%;
  line-height: 30px;
  letter-spacing: 0.1em;
}
.switch_content .big_donate_info a {
  display: inline-block;
  vertical-align: top;
  color: #007093;
  font-family: "nicolo-bold";
}
.switch_content .donater_fields {
  display: flex;
  flex-wrap: wrap;
  margin: 55px -15px 0;
  justify-content: space-between;
}
.switch_content .donater_fields .regular_switch_block .radio_group {
  max-height: 70px;
  pointer-events: inherit;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.switch_content .donater_fields .regular_switch_block .field_name_switch {
  color: #8B0029;
}
.switch_content .donater_fields .regular_switch_block .field_name_switch:before {
  content: "\e905";
}
.switch_content .donater_fields .field_name_switch {
  position: relative;
  display: flex;
  width: max-content;
  align-items: center;
  cursor: pointer;
}
.switch_content .donater_fields .field_name_switch:before {
  content: "";
  border: 2px solid;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 18px;
  height: 18px;
  margin-right: 12px;
  font-size: 1rem;
}
.switch_content .donater_fields .radio_group {
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.switch_content .donater_fields .field_block {
  padding: 0 15px;
  margin-bottom: 40px;
}
.switch_content .donater_fields .field_block.small_field {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.switch_content .donater_fields .field_block.middle_field {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}
.switch_content .donater_fields .field_block.full_field {
  flex: 0 0 100%;
  max-width: 100%;
}
.switch_content .donater_fields .field_block.full_field.textarea {
  margin-bottom: 0;
}
.switch_content .donater_fields .error_hint {
  right: 15px;
}
.switch_content .donater_fields ::-webkit-input-placeholder {
  color: #D5D8DE;
}
.switch_content .donater_fields :-moz-placeholder {
  color: #D5D8DE;
}
.switch_content .donater_fields ::-moz-placeholder {
  color: #D5D8DE;
}
.switch_content .donater_fields :-ms-input-placeholder {
  color: #D5D8DE;
}
.switch_content .donater_fields input,
.switch_content .donater_fields textarea {
  color: #ffffff;
}
.switch_content .donater_fields .checkbox_label {
  display: flex;
  position: relative;
  width: max-content;
  justify-content: flex-end;
}
.switch_content .donater_fields .checkbox_label input {
  padding: 0;
  margin: 0;
}
.switch_content .donater_fields .checkbox_label input:checked + .check_btn {
  color: #8B0029;
}
.switch_content .donater_fields .checkbox_label input:checked + .check_btn:before {
  content: "\e905";
}
.switch_content .donater_fields .checkbox_label .check_btn {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  font-size: 140%;
  line-height: 18px;
  color: #ffffff;
  font-family: "nicolo-bold";
  letter-spacing: 0.08em;
  flex-direction: row;
}
.switch_content .donater_fields .checkbox_label .check_btn:before {
  content: "";
  border: 2px solid;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 18px;
  height: 18px;
  margin-right: 12px;
  font-size: 1rem;
}
.switch_content .donater_fields + .form_btns {
  margin-top: 20px;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .switch_content .field_name {
    font-size: 140%;
  }
  .switch_content .ammounts_list li {
    padding-top: 24px;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .switch_content .currency_list li {
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 24px;
  }
  .switch_content .currency_list .radio_btn,
  .switch_content .ammounts_list .radio_btn {
    font-size: 200%;
  }
  .switch_content .custom_size input {
    font-size: 200%;
    width: 100%;
    padding: 15px;
    margin-top: 0;
  }
  .switch_content .radio_group {
    margin-left: -24px;
    margin-right: -24px;
  }
  .switch_content .radio_group label {
    margin-left: 24px;
    margin-right: 24px;
  }
  .switch_content .showed_donate {
    font-size: 440%;
  }
  .switch_content .donater_fields {
    margin-top: 40px;
  }
  .switch_content .donater_fields .field_block.small_field, .switch_content .donater_fields .field_block.middle_field {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .switch_content .form_btns {
    margin-top: 40px;
  }
  .switch_content .share_btns {
    margin-top: 40px;
  }
}
@media screen and (max-width: 959px) {
  .switch_content .currency_list li {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .switch_content .currency_list,
  .switch_content .ammounts_list {
    margin-bottom: 30px;
  }
  .switch_content .currency_list .radio_btn,
  .switch_content .ammounts_list .radio_btn {
    font-size: 160%;
  }
  .switch_content .custom_size {
    margin-top: -30px;
  }
  .switch_content .custom_size input {
    width: 100%;
    font-size: 180%;
    padding: 12px 15px;
    margin-top: 20px;
  }
  .switch_content .radio_group {
    margin-left: -20px;
    margin-right: -20px;
  }
  .switch_content .radio_group label {
    margin: 12px 20px 0;
  }
  .switch_content .showed_donate {
    font-size: 400%;
    padding-top: 30px;
    margin-top: 30px;
  }
  .switch_content .big_donate_info {
    font-size: 140%;
    line-height: 28px;
    margin-top: 40px;
  }
  .switch_content .form_btns {
    margin-top: 30px;
  }
  .switch_content .share_btns {
    margin-top: 30px;
  }
  .switch_content .info_block {
    font-size: 140%;
  }
  .switch_content .type_info {
    font-size: 160%;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .switch_content .donater_fields {
    margin-top: 30px;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  .switch_content .currency_list,
  .switch_content .ammounts_list {
    margin-left: -4px;
    margin-right: -4px;
  }
  .switch_content .currency_list li,
  .switch_content .ammounts_list li {
    padding: 20px 4px 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .switch_content .donater_fields .field_block.small_field, .switch_content .donater_fields .field_block.middle_field {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  .switch_content .currency_list,
  .switch_content .ammounts_list {
    margin-left: -3px;
    margin-right: -3px;
  }
  .switch_content .currency_list li,
  .switch_content .ammounts_list li {
    padding: 16px 3px 0;
  }
  .switch_content .ammounts_list li {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .switch_content .donater_fields .field_block.small_field, .switch_content .donater_fields .field_block.middle_field {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 479px) {
  .switch_content .currency_list,
  .switch_content .ammounts_list {
    margin-left: -2px;
    margin-right: -2px;
  }
  .switch_content .currency_list li,
  .switch_content .ammounts_list li {
    padding: 12px 2px 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .switch_content .donater_fields .field_block.small_field, .switch_content .donater_fields .field_block.middle_field {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.donaters_section {
  margin-top: 50px;
}
.donaters_section .section_inner {
  width: 60%;
  max-width: 644px;
  margin-left: auto;
  border: 1px solid #EAECEF;
  padding-right: 6px;
  padding-bottom: 30px;
}
.donaters_section .page_title {
  color: #022034;
  padding: 26px 24px;
  margin-bottom: 14px;
}
.donaters_section .donaters_list {
  max-height: 400px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 20px;
  padding-left: 24px;
  scrollbar-color: #EAECEF transparent;
  scrollbar-width: thin;
}
.donaters_section .donaters_list::-webkit-scrollbar {
  width: 4px;
  height: 0;
  border-radius: 0;
  background: transparent;
}
.donaters_section .donaters_list::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #EAECEF;
}
.donaters_section .donaters_list li {
  display: flex;
  align-items: center;
}
.donaters_section .donaters_list li:not(:first-child) {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #EAECEF;
}
.donaters_section .name_block {
  font-size: 180%;
  line-height: 22px;
  font-family: "nicolo-bold";
  letter-spacing: 0.04em;
  color: #27496D;
}
.donaters_section .name_block + .description_block {
  margin-top: 16px;
}
.donaters_section .description_block {
  font-size: 160%;
  line-height: 1.2em;
  letter-spacing: 0.04em;
  opacity: 0.7;
  max-width: 400px;
}
.donaters_section .donate_size {
  font-size: 180%;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #27496D;
  white-space: nowrap;
  margin-left: auto;
  padding-left: 24px;
}
.donaters_section .donate_size .size_block {
  font-family: "nicolo-bold";
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .donaters_section {
    margin-top: 40px;
  }
  .donaters_section .section_inner {
    width: 45%;
  }
  .donaters_section .page_title {
    padding: 24px 20px;
    margin-bottom: 8px;
  }
  .donaters_section .donaters_list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .donaters_section .donaters_list li:not(:first-child) {
    margin-top: 24px;
    padding-top: 24px;
  }
}
@media screen and (max-width: 959px) {
  .donaters_section {
    margin-top: 30px;
  }
  .donaters_section .section_inner {
    width: 100%;
    max-width: 100%;
  }
  .donaters_section .page_title {
    padding: 20px 16px;
    margin-bottom: 0;
  }
  .donaters_section .donaters_list {
    padding-left: 16px;
    padding-right: 16px;
  }
  .donaters_section .donaters_list li:not(:first-child) {
    margin-top: 20px;
    padding-top: 20px;
  }
  .donaters_section .donate_size,
  .donaters_section .name_block {
    font-size: 160%;
    line-height: 20px;
  }
  .donaters_section .description_block {
    font-size: 140%;
    line-height: 18px;
  }
  .donaters_section .name_block + .description_block {
    margin-top: 12px;
  }
}
@media screen and (max-width: 479px) {
  .donaters_section .donaters_list li {
    flex-wrap: wrap;
  }
  .donaters_section .donate_size {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: right;
    margin-top: 12px;
  }
}

.accounts_popup .popup_container {
  padding: 0;
  color: #ffffff;
  max-width: 700px;
  background: #022034;
}
.accounts_popup .popup_close.icon_close,
.accounts_popup .page_title {
  color: inherit;
}
.accounts_popup .popup_top {
  padding: 30px 55px;
  text-align: center;
}
.accounts_popup .bank_info {
  font-size: 200%;
  line-height: 34px;
  font-family: "nicolo-bold";
  letter-spacing: 0.1em;
}
.accounts_popup .bank_info:after {
  display: block;
  content: "";
  margin: 30px -30px;
  border-top: 1px solid #27496D;
  opacity: 0.5;
}
.accounts_popup .details_table {
  text-align: left;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  color: #6B7C89;
}
.accounts_popup .details_table td {
  padding: 12px;
  vertical-align: middle;
  font-family: "nicolo-bold";
  line-height: 1.2em;
  letter-spacing: 0.04em;
}
.accounts_popup .details_table td:first-child {
  width: 45%;
  font-size: 160%;
}
.accounts_popup .details_table td:last-child {
  width: 55%;
  font-size: 180%;
}
.accounts_popup .details_table tr:first-child td {
  padding-top: 0;
}
.accounts_popup .popup_middle {
  padding: 30px 55px;
  background: #021B2C;
}
.accounts_popup .popup_middle table {
  max-width: 560px;
  margin: 0 auto;
}
.accounts_popup .popup_middle table th {
  font-weight: normal;
  font-size: 160%;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  padding: 0 0 5px;
}
.accounts_popup .popup_middle table td {
  font-size: 200%;
  line-height: 1.2em;
  letter-spacing: 0.04em;
  font-family: "nicolo-bold";
  padding: 16px 0 0;
}
.accounts_popup .popup_middle table th:first-child,
.accounts_popup .popup_middle table td:first-child {
  padding-right: 87px;
  text-align: right;
}
.accounts_popup .popup_middle table .account_number {
  display: block;
  white-space: nowrap;
  padding: 17px 30px;
  border: 1px solid rgba(39, 73, 109, 0.5);
  border-spacing: 16px;
}
.accounts_popup .popup_middle .copy_btn {
  margin-left: 22px;
  color: #6B7C89;
  opacity: 0.5;
  padding: 3px 0 0 3px;
  position: relative;
}
.accounts_popup .popup_bottom {
  padding: 30px 43px;
  display: flex;
  flex-wrap: wrap;
}
.accounts_popup .popup_bottom > * {
  flex: 1;
  margin: 24px 12px 0;
}
.accounts_popup .popup_bottom .secondary_btn {
  background: #021B2C;
  color: #6B7C89;
}
@media screen and (max-width: 767px) {
  .accounts_popup .popup_top {
    padding: 50px 20px 20px;
  }
  .accounts_popup .page_title {
    margin-bottom: 20px;
  }
  .accounts_popup .bank_info {
    margin: 20px -20px;
  }
  .accounts_popup .details_table td:first-child {
    width: 50%;
    font-size: 140%;
  }
  .accounts_popup .details_table td:last-child {
    width: 50%;
    font-size: 160%;
  }
  .accounts_popup .popup_middle {
    padding: 20px;
  }
  .accounts_popup .popup_middle table th {
    font-size: 140%;
  }
  .accounts_popup .popup_middle table .account_number {
    padding: 15px 20px;
    border-radius: 12px;
  }
  .accounts_popup .popup_bottom {
    padding: 0 8px 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .accounts_popup .bank_info {
    font-size: 180%;
    line-height: 32px;
  }
  .accounts_popup .popup_middle table th:first-child,
  .accounts_popup .popup_middle table td:first-child {
    padding-right: 30px;
  }
  .accounts_popup .popup_middle table td {
    font-size: 180%;
  }
  .accounts_popup .popup_middle .copy_btn {
    margin-left: 16px;
  }
}
@media screen and (max-width: 479px) {
  .accounts_popup .popup_inner {
    padding: 0;
  }
  .accounts_popup .bank_info {
    font-size: 160%;
    line-height: 30px;
  }
  .accounts_popup .popup_middle table {
    display: block;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
  }
  .accounts_popup .popup_middle table th:first-child,
  .accounts_popup .popup_middle table td:first-child {
    padding-right: 20px;
  }
  .accounts_popup .popup_middle table td {
    font-size: 140%;
  }
  .accounts_popup .popup_middle table .account_number {
    padding: 12px;
    border-radius: 8px;
  }
  .accounts_popup .popup_middle .copy_btn {
    margin-left: 12px;
  }
}

.switch_content .by_card .ammounts_list {
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.web .cooperate_top .switch_top, .cooperate_top .web .switch_top, .web .cooperate_top .switch_top .icon_left:before, .cooperate_top .switch_top .web .icon_left:before, .web .switch_content .switch_top, .switch_content .web .switch_top, .web .switch_content .switch_top .icon_left:before, .switch_content .switch_top .web .icon_left:before, .web .switch_content .copy_btn_custom:before, .switch_content .web .copy_btn_custom:before, .web .switch_content .copy_btn_custom, .switch_content .web .copy_btn_custom, .web .switch_content .share_btns a, .switch_content .share_btns .web a, .web .switch_content .radio_group .radio_btn, .switch_content .radio_group .web .radio_btn, .web .switch_content .donater_fields .field_name_switch, .switch_content .donater_fields .web .field_name_switch, .web .switch_content .donater_fields .checkbox_label input:not(:checked) + .check_btn, .switch_content .donater_fields .checkbox_label .web input:not(:checked) + .check_btn, .web .foundation_block .foundation_inner .copy_btn, .foundation_block .foundation_inner .web .copy_btn, .web .switch_content .donater_fields .checkbox_label input:checked + .check_btn, .switch_content .donater_fields .checkbox_label .web input:checked + .check_btn, .web .accounts_popup .popup_middle .copy_btn, .accounts_popup .popup_middle .web .copy_btn, .web .switch_content .big_donate_info a, .switch_content .big_donate_info .web a, .partners_section a.partner_block {
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.web .switch_content .currency_list .radio_btn, .switch_content .currency_list .web .radio_btn,
.web .switch_content .ammounts_list .radio_btn,
.switch_content .ammounts_list .web .radio_btn {
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.web .switch_content .donate_form .form_btns .secondary_btn, .switch_content .donate_form .form_btns .web .secondary_btn, .web .accounts_popup .popup_bottom .secondary_btn, .accounts_popup .popup_bottom .web .secondary_btn, .partners_section a.partner_block img, .switch_content .placeholder, .switch_content input {
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.touch .cooperate_top .switch_top, .cooperate_top .touch .switch_top, .touch .cooperate_top .switch_top .icon_left:before, .cooperate_top .switch_top .touch .icon_left:before, .touch .switch_content .switch_top, .switch_content .touch .switch_top, .touch .switch_content .switch_top .icon_left:before, .switch_content .switch_top .touch .icon_left:before, .touch .switch_content .copy_btn_custom:before, .switch_content .touch .copy_btn_custom:before, .touch .switch_content .copy_btn_custom, .switch_content .touch .copy_btn_custom, .touch .switch_content .share_btns a, .switch_content .share_btns .touch a, .touch .switch_content .radio_group .radio_btn, .switch_content .radio_group .touch .radio_btn, .touch .switch_content .donater_fields .field_name_switch, .switch_content .donater_fields .touch .field_name_switch, .touch .switch_content .donater_fields .checkbox_label input:not(:checked) + .check_btn, .switch_content .donater_fields .checkbox_label .touch input:not(:checked) + .check_btn, .touch .foundation_block .foundation_inner .copy_btn, .foundation_block .foundation_inner .touch .copy_btn, .touch .switch_content .donater_fields .checkbox_label input:checked + .check_btn, .switch_content .donater_fields .checkbox_label .touch input:checked + .check_btn, .touch .accounts_popup .popup_middle .copy_btn, .accounts_popup .popup_middle .touch .copy_btn, .touch .switch_content .big_donate_info a, .switch_content .big_donate_info .touch a {
  -o-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.touch .switch_content .currency_list .radio_btn, .switch_content .currency_list .touch .radio_btn,
.touch .switch_content .ammounts_list .radio_btn,
.switch_content .ammounts_list .touch .radio_btn {
  -o-transition: background-color 0.15s;
  -ms-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  -webkit-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.touch .switch_content .donate_form .form_btns .secondary_btn, .switch_content .donate_form .form_btns .touch .secondary_btn, .touch .accounts_popup .popup_bottom .secondary_btn, .accounts_popup .popup_bottom .touch .secondary_btn {
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.switch_content .currency_list .radio_btn,
.switch_content .ammounts_list .radio_btn, .switch_content .radio_group .radio_btn, .switch_content .donater_fields .checkbox_label .check_btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch_content .currency_list input,
.switch_content .ammounts_list input, .switch_content .radio_group input, .switch_content .donater_fields .checkbox_label input {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  visibility: hidden;
}

.web .switch_content .big_donate_info a:hover, .switch_content .big_donate_info .web a:hover {
  color: #8B0029;
}
.web .switch_content .donate_form .form_btns .secondary_btn:hover, .switch_content .donate_form .form_btns .web .secondary_btn:hover, .web .accounts_popup .popup_bottom .secondary_btn:hover, .accounts_popup .popup_bottom .web .secondary_btn:hover {
  background: #007093;
  color: #ffffff;
  border-color: transparent;
}
.web .foundation_block .foundation_inner .copy_btn:hover, .foundation_block .foundation_inner .web .copy_btn:hover, .web .switch_content .donater_fields .checkbox_label input:checked + .check_btn:hover, .switch_content .donater_fields .checkbox_label .web input:checked + .check_btn:hover, .web .accounts_popup .popup_middle .copy_btn:hover, .accounts_popup .popup_middle .web .copy_btn:hover {
  color: #ffffff;
}
.web .cooperate_top .switch_top:hover, .cooperate_top .web .switch_top:hover, .web .cooperate_top .switch_top .icon_left:hover:before, .cooperate_top .switch_top .web .icon_left:hover:before, .web .switch_content .switch_top:hover, .switch_content .web .switch_top:hover, .web .switch_content .switch_top .icon_left:hover:before, .switch_content .switch_top .web .icon_left:hover:before, .web .switch_content .copy_btn_custom:hover:before, .switch_content .web .copy_btn_custom:hover:before, .web .switch_content .copy_btn_custom:hover, .switch_content .web .copy_btn_custom:hover, .web .switch_content .share_btns a:hover, .switch_content .share_btns .web a:hover, .web .switch_content .radio_group .radio_btn:hover, .switch_content .radio_group .web .radio_btn:hover, .web .switch_content .donater_fields .field_name_switch:hover, .switch_content .donater_fields .web .field_name_switch:hover, .web .switch_content .donater_fields .checkbox_label input:not(:checked) + .check_btn:hover, .switch_content .donater_fields .checkbox_label .web input:not(:checked) + .check_btn:hover {
  color: #007093;
}
.web .switch_content .currency_list .radio_btn:hover, .switch_content .currency_list .web .radio_btn:hover,
.web .switch_content .ammounts_list .radio_btn:hover,
.switch_content .ammounts_list .web .radio_btn:hover {
  background: #007093;
}

.touch .switch_content .big_donate_info a:active, .switch_content .big_donate_info .touch a:active {
  color: #8B0029;
}
.touch .switch_content .donate_form .form_btns .secondary_btn:active, .switch_content .donate_form .form_btns .touch .secondary_btn:active, .touch .accounts_popup .popup_bottom .secondary_btn:active, .accounts_popup .popup_bottom .touch .secondary_btn:active {
  background: #007093;
  color: #ffffff;
  border-color: transparent;
}
.touch .foundation_block .foundation_inner .copy_btn:active, .foundation_block .foundation_inner .touch .copy_btn:active, .touch .switch_content .donater_fields .checkbox_label input:checked + .check_btn:active, .switch_content .donater_fields .checkbox_label .touch input:checked + .check_btn:active, .touch .accounts_popup .popup_middle .copy_btn:active, .accounts_popup .popup_middle .touch .copy_btn:active {
  color: #ffffff;
}
.touch .cooperate_top .switch_top:active, .cooperate_top .touch .switch_top:active, .touch .cooperate_top .switch_top .icon_left:active:before, .cooperate_top .switch_top .touch .icon_left:active:before, .touch .switch_content .switch_top:active, .switch_content .touch .switch_top:active, .touch .switch_content .switch_top .icon_left:active:before, .switch_content .switch_top .touch .icon_left:active:before, .touch .switch_content .copy_btn_custom:active:before, .switch_content .touch .copy_btn_custom:active:before, .touch .switch_content .copy_btn_custom:active, .switch_content .touch .copy_btn_custom:active, .touch .switch_content .share_btns a:active, .switch_content .share_btns .touch a:active, .touch .switch_content .radio_group .radio_btn:active, .switch_content .radio_group .touch .radio_btn:active, .touch .switch_content .donater_fields .field_name_switch:active, .switch_content .donater_fields .touch .field_name_switch:active, .touch .switch_content .donater_fields .checkbox_label input:not(:checked) + .check_btn:active, .switch_content .donater_fields .checkbox_label .touch input:not(:checked) + .check_btn:active {
  color: #007093;
}
.touch .switch_content .currency_list .radio_btn:active, .switch_content .currency_list .touch .radio_btn:active,
.touch .switch_content .ammounts_list .radio_btn:active,
.switch_content .ammounts_list .touch .radio_btn:active {
  background: #007093;
}

/*# sourceMappingURL=cooperate.css.map */
