.faq_list .answer_inner ul, .faq_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.faq_list .question_block:before {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.standard_text {
  font-size: 140%;
  line-height: 20px;
}

.faq_section {
  position: relative;
  overflow: hidden;
}

.faq_list {
  counter-reset: serialNumber;
  position: relative;
  min-height: 544px;
}
.faq_list > li {
  counter-increment: serialNumber;
  padding-right: 24px;
  width: 65%;
  max-width: 712px;
}
.faq_list > li:not(:first-child) {
  margin-top: 24px;
}
.faq_list > li.opened .question_block:before {
  background: #27496D;
  color: #ffffff;
  border-color: transparent;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.15);
}
.faq_list .answer_block {
  display: none;
  background: #27496D;
}
.faq_list .answer_block .primary_btn {
  font-size: 1.8rem;
}
@media screen and (max-width: 959px) {
  .faq_list .answer_block .primary_btn {
    font-size: 1.6rem;
  }
}
.faq_list .answer_inner {
  font-size: 160%;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #D5D8DE;
  position: relative;
}
.faq_list .answer_inner br {
  display: block;
  content: "";
  height: 8px;
}
.faq_list .answer_inner ul li:not(:first-child) {
  margin-top: 16px;
}
.faq_list .answer_inner ul li:before {
  display: block;
  content: "";
  border-top: 8px solid;
  width: 8px;
  margin: 11px 12px 0 0;
  float: left;
}
.faq_list .question_block {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  text-align: left;
  font-size: 160%;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #27496D;
}
.faq_list .question_block:before {
  border: 1px solid;
  color: #8B0029;
  font-family: "nicolo-bold";
  font-size: 18px;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
  align-self: flex-start;
  content: counter(serialNumber, decimal-leading-zero);
}
@media screen and (min-width: 768px) {
  .faq_list:before {
    display: block;
    content: "";
    position: absolute;
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 420px;
    background: #27496D;
    margin-top: 60px;
  }
  .faq_list:after {
    display: block;
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    height: 540px;
    width: 100vw;
    background: #D5D8DE;
    z-index: -1;
    margin-left: -17%;
  }
  .faq_list > li {
    display: flex;
    align-items: center;
  }
  .faq_list > li:before {
    align-self: flex-start;
  }
  .faq_list .answer_block {
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 420px;
    padding: 30px 24px;
    margin: 60px 0;
    z-index: 5;
  }
  .faq_list .answer_block:before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    color: #ffffff;
    font-family: "nicolo-bold";
    font-size: 180%;
    min-width: 54px;
    height: 54px;
    margin-right: 16px;
    margin-bottom: 20px;
    align-self: flex-start;
    content: counter(serialNumber, decimal-leading-zero);
  }
  .faq_list .answer_inner {
    height: 286px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-right: -10px;
    padding-right: 10px;
    scrollbar-color: #D5D8DE transparent;
    scrollbar-width: thin;
  }
  .faq_list .answer_inner::-webkit-scrollbar {
    width: 2px;
    height: auto;
    border-radius: 0;
    background: transparent;
  }
  .faq_list .answer_inner::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #D5D8DE;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .faq_list > li {
    width: 60%;
  }
  .faq_list > li:before {
    font-size: 160%;
    min-width: 44px;
    height: 44px;
    margin-right: 12px;
  }
  .faq_list > li.opened:before {
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
  .faq_list:before {
    width: 40%;
    right: -16px;
    margin-top: 40px;
  }
  .faq_list:after {
    height: 500px;
  }
  .faq_list .answer_block {
    width: 40%;
    margin: 40px 0;
    right: -16px;
  }
  .faq_list .answer_block:before {
    font-size: 160%;
    min-width: 44px;
    height: 44px;
    margin-bottom: 12px;
  }
  .faq_list .answer_inner {
    font-size: 140%;
    line-height: 28px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .faq_list > li {
    width: 50%;
  }
  .faq_list:before {
    width: 50%;
    right: -16px;
    margin-top: 20px;
    height: 400px;
  }
  .faq_list:after {
    height: 440px;
  }
  .faq_list .answer_block {
    width: 50%;
    margin: 20px 0;
    right: -16px;
    height: 400px;
  }
  .faq_list .answer_inner {
    height: 310px;
  }
}
@media screen and (max-width: 959px) {
  .faq_list > li:before {
    font-size: 140%;
    min-width: 36px;
    height: 36px;
    margin-right: 10px;
  }
  .faq_list > li.opened:before {
    box-shadow: none;
  }
  .faq_list .answer_block:before {
    font-size: 140%;
    min-width: 36px;
    height: 36px;
    margin-bottom: 10px;
  }
  .faq_list .answer_inner {
    font-size: 120%;
    line-height: 24px;
  }
  .faq_list .question_block {
    font-size: 140%;
    line-height: 24px;
  }
}
@media screen and (max-width: 767px) {
  .faq_list > li {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 46px;
    position: relative;
  }
  .faq_list > li:not(:first-child) {
    margin-top: 16px;
  }
  .faq_list > li:before {
    position: absolute;
    top: 0;
    left: 0;
  }
  .faq_list .question_block {
    min-height: 36px;
  }
  .faq_list .answer_block {
    margin-left: -46px;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
  }
  .faq_list .answer_block:before {
    display: block;
    content: "";
    height: 10px;
    margin: 0;
  }
  .faq_list .answer_inner {
    padding: 24px 20px;
    background: #27496D;
  }
}

.web .faq_list .question_block, .faq_list .web .question_block {
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.faq_list .question_block:before {
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.touch .faq_list .question_block, .faq_list .touch .question_block {
  -o-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.web .faq_list .question_block:hover, .faq_list .web .question_block:hover {
  color: #8B0029;
}
.touch .faq_list .question_block:active, .faq_list .touch .question_block:active {
  color: #8B0029;
}

/*# sourceMappingURL=faq.css.map */
