.dream_section .program_includes {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.actions_section ul {
  padding: 0;
  margin: 0 -20px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.dream_section .diagram_section .diagram_name span, .dream_section .diagram_section:before, .main_slider .info_block {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dream_section .diagram_section .diagram_name span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.standard_text {
  font-size: 140%;
  line-height: 20px;
}

.dream_section .count_block {
  font-family: "nicolo-bold";
  line-height: 1.2em;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 1200px) {
  .dream_section .count_block {
    font-size: 300%;
  }
}
@media screen and (min-width: 576px) and (max-width: 1199px) {
  .dream_section .count_block {
    font-size: 240%;
  }
}
@media screen and (max-width: 575px) {
  .dream_section .count_block {
    font-size: 200%;
  }
}

.main_slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding-top: 100px;
  margin-top: -100px;
}
.main_slider .slide_block {
  position: relative;
  width: 100%;
  height: 100%;
}
.main_slider .slide_block:not(.active) {
  display: none;
}
.main_slider video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_slider .info_block {
  background: linear-gradient(90.09deg, rgba(28, 30, 32, 0.6) 48.91%, rgba(28, 30, 32, 0) 94.26%);
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  z-index: 1;
  padding: 30px 0;
}
.main_slider .page_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main_slider .page_container:before {
  display: block;
  content: "";
  order: 2;
  border-top: 1px solid;
  width: 100%;
  max-width: 1000px;
  margin: 30px 0;
}
.main_slider .description_block {
  font-size: 320%;
  line-height: 50px;
  letter-spacing: 0.04em;
  font-family: "nicolo-bold";
  max-width: 1000px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main_slider .primary_btn {
  order: 3;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .main_slider {
    padding-top: 84px;
    margin-top: -84px;
  }
  .main_slider .description_block {
    font-size: 300%;
    line-height: 45px;
  }
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .main_slider .description_block {
    font-size: 200%;
    line-height: 30px;
  }
}
@media screen and (max-width: 959px) {
  .main_slider {
    padding-top: 70px;
    margin-top: -70px;
  }
  .main_slider .page_container:before {
    margin: 24px 0;
  }
  .main_slider .description_block {
    -webkit-line-clamp: 3;
  }
}
@media screen and (max-width: 575px) {
  .main_slider .description_block {
    font-size: 140%;
    line-height: 25px;
    -webkit-line-clamp: 4;
  }
}

.actions_section {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
.actions_section li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  flex: 1;
}
.actions_section img {
  display: block;
  width: auto;
  height: 122px;
  margin-bottom: 30px;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .actions_section {
    padding: 75px 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .actions_section {
    padding: 50px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .actions_section ul {
    justify-content: space-around;
  }
  .actions_section li {
    flex: auto;
  }
}
@media screen and (max-width: 767px) {
  .actions_section li {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .actions_section li:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (max-width: 575px) {
  .actions_section {
    padding: 30px 0;
  }
}

.slider_section {
  background: #D5D8DE;
  padding: 40px 0 36px;
  position: relative;
  overflow: hidden;
}
.slider_section .news_block {
  display: block;
  color: inherit;
}
.slider_section .news_slider {
  position: relative;
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
  margin: 40px -20px 0;
}
.slider_section .news_slider.slick-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.slider_section .news_slider .slick-list {
  flex: 0 0 100%;
  max-width: 100%;
}
.slider_section .slide_block {
  display: inline-block;
  white-space: normal;
  font-size: 1rem;
  width: 33.3333333333%;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  padding: 0 20px;
}
.slider_section .slick-arrow {
  order: 2;
  margin: 40px 8px 0;
}
@media screen and (max-width: 959px) {
  .slider_section {
    padding: 30px 0;
  }
  .slider_section .news_slider {
    margin: 30px -12px 0;
  }
  .slider_section .slide_block {
    padding: 0 12px;
  }
  .slider_section .slick-arrow {
    margin: 30px 12px 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .slider_section .slide_block {
    width: 50%;
  }
}
@media screen and (max-width: 575px) {
  .slider_section .slide_block {
    width: 100%;
  }
}

.dream_section {
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
}
.dream_section .diagram_section {
  position: relative;
  z-index: 2;
  padding: 15px 0 21px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.dream_section .diagram_section:before {
  opacity: 0.7;
  background: #231F20;
  content: "";
}
.dream_section .diagram_section .section_inner {
  max-width: 1072px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.dream_section .diagram_section svg {
  display: block;
  width: 100%;
  height: auto;
}
.dream_section .diagram_section .diagram_name {
  width: 21%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  z-index: 3;
}
.dream_section .diagram_section .diagram_name:before {
  display: block;
  padding-bottom: 100%;
  border-radius: 50%;
  content: "";
  background: #022034;
  filter: blur(0);
  opacity: 1;
}
.dream_section .diagram_section .diagram_name span {
  padding: 20px;
  font-size: 240%;
  line-height: 40px;
  letter-spacing: 0.1em;
  font-family: "nicolo-bold";
}
.dream_section .diagram_section .sector_name {
  font-size: 180%;
  line-height: 28px;
  text-align: center;
  display: block;
  position: absolute;
  pointer-events: none;
  letter-spacing: 0.1em;
}
.dream_section .diagram_section .top_sector {
  top: 21%;
  width: 27%;
  left: 36.5%;
}
.dream_section .diagram_section .left_sector {
  left: 26.9%;
  top: 64.5%;
  width: min-content;
}
.dream_section .diagram_section .left_sector.left_sector_eng {
  left: 32.9%;
}
.dream_section .diagram_section .right_sector {
  top: 64.5%;
  width: min-content;
  left: 57.5%;
}
.dream_section .sectors a {
  color: #27496D;
  font-size: 0;
}
.dream_section .sectors a path {
  fill: currentColor;
}
.dream_section .name_block {
  font-size: 120%;
  line-height: 15px;
  letter-spacing: 0.1em;
  width: min-content;
}
@media screen and (min-width: 960px) {
  .dream_section .includes_section {
    position: absolute;
    top: 15px;
    bottom: 21px;
    left: 16px;
    right: 16px;
    margin: 0 auto;
    max-width: 1072px;
  }
  .dream_section .program_name {
    display: none;
  }
  .dream_section .count_block {
    margin-bottom: 10px;
  }
  .dream_section .program_block ul li {
    position: absolute;
    z-index: 4;
  }
  .dream_section .program_block:first-child ul li:first-child {
    top: 0.41%;
    left: 3.54%;
  }
  .dream_section .program_block:first-child ul li:nth-child(2) {
    top: 0;
    left: 19.4%;
  }
  .dream_section .program_block:first-child ul li:nth-child(3) {
    top: 5.07%;
    left: 76.9%;
  }
  .dream_section .program_block:first-child ul li:nth-child(4) {
    top: 0.82%;
    left: 91.9%;
  }
  .dream_section .program_block:nth-child(2) ul li:first-child {
    top: 35.34%;
    left: 5.41%;
  }
  .dream_section .program_block:nth-child(2) ul li:nth-child(2) {
    top: 46.58%;
    left: 0;
  }
  .dream_section .program_block:nth-child(2) ul li:nth-child(3) {
    top: 75.9%;
    left: 12.13%;
  }
  .dream_section .program_block:nth-child(2) ul li:nth-child(4) {
    top: 89.18%;
    left: 20.62%;
  }
  .dream_section .program_block:nth-child(3) ul li:first-child {
    top: 39.18%;
    left: 89.83%;
  }
  .dream_section .program_block:nth-child(3) ul li:nth-child(2) {
    top: 58.77%;
    left: 87.78%;
  }
  .dream_section .program_block:nth-child(3) ul li:nth-child(3) {
    top: 84.25%;
    left: 79.57%;
  }
  .dream_section .program_block:nth-child(3) ul li:nth-child(4) {
    top: 90%;
    left: 69.5%;
  }
}
@media screen and (min-width: 576px) and (max-width: 1199px) {
  .dream_section .diagram_section .sector_name {
    font-size: 140%;
    line-height: 28px;
  }
  .dream_section .diagram_section .diagram_name span {
    font-size: 200%;
    line-height: 36px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .dream_section {
    margin-top: 50px;
  }
}
@media screen and (max-width: 959px) {
  .dream_section {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .dream_section .count_block {
    margin-bottom: 4px;
    color: #007093;
  }
  .dream_section .name_block {
    color: #6B7C89;
  }
  .dream_section .branches {
    display: none;
  }
  .dream_section .diagram_section {
    position: relative;
    overflow: hidden;
  }
  .dream_section .diagram_section .page_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dream_section .includes_section {
    padding: 30px 16px;
    position: relative;
    overflow: hidden;
  }
  .dream_section .program_name {
    font-size: 160%;
    line-height: 22px;
    font-family: "nicolo-bold";
    color: #022034;
  }
  .dream_section .program_block:not(:first-child) {
    margin-top: 24px;
  }
  .dream_section .program_block ul {
    margin: 0 -24px;
    display: flex;
  }
  .dream_section .program_block li {
    flex: 1;
    padding: 0 24px;
    margin-top: 16px;
  }
  .dream_section .program_block li:not(:first-child) {
    border-left: 1px solid #6B7C89;
  }
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .dream_section .diagram_section .section_inner {
    flex: 0 0 840px;
    width: 840px;
    margin-top: -20px;
  }
}
@media screen and (max-width: 575px) {
  .dream_section .diagram_section .section_inner {
    flex: 0 0 160%;
    width: 160%;
    margin-top: -20px;
  }
  .dream_section .diagram_section .sector_name {
    font-size: 120%;
    line-height: 23px;
  }
  .dream_section .diagram_section .diagram_name span {
    font-size: 140%;
    line-height: 25px;
  }
  .dream_section .program_block ul {
    flex-wrap: wrap;
  }
  .dream_section .program_block ul li {
    min-width: 50%;
  }
}
@media screen and (max-width: 479px) {
  .dream_section .diagram_section .section_inner {
    flex: 0 0 160%;
    width: 160%;
    margin: -10px 0;
  }
  .dream_section .diagram_section .sector_name {
    font-size: 120%;
    line-height: 23px;
  }
  .dream_section .diagram_section .diagram_name span {
    padding: 0 12px;
  }
  .dream_section .diagram_section .top_sector {
    left: 31%;
    width: 38%;
  }
  .dream_section .diagram_section .left_sector {
    left: 24.5%;
  }
  .dream_section .diagram_section .left_sector.left_sector_eng {
    left: 32.5%;
  }
  .dream_section .diagram_section .right_sector {
    left: 58.5%;
  }
}
@media screen and (max-width: 359px) {
  .dream_section .diagram_section .section_inner {
    flex: 0 0 180%;
    width: 180%;
    margin: -30px 0 -10px;
  }
  .dream_section .red_circle {
    transform: scale(0.92) translate3d(0, 1.5%, 0);
    -moz-transform: scale(0.92) translate3d(0, 1.5%, 0);
    -ms-transform: scale(0.92) translate3d(0, 1.5%, 0);
    -webkit-transform: scale(0.92) translate3d(0, 1.5%, 0);
    -o-transform: scale(0.92) translate3d(0, 1.5%, 0);
    transform-origin: center;
    -webkit-transfrom-origin: center;
  }
}

.web .slider_section .news_block, .slider_section .web .news_block, .web .dream_section .sectors a, .dream_section .sectors .web a {
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.touch .slider_section .news_block, .slider_section .touch .news_block, .touch .dream_section .sectors a, .dream_section .sectors .touch a {
  -o-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.web .slider_section .news_block:hover, .slider_section .web .news_block:hover, .web .dream_section .sectors a:hover, .dream_section .sectors .web a:hover {
  color: #007093;
}
.touch .slider_section .news_block:active, .slider_section .touch .news_block:active, .touch .dream_section .sectors a:active, .dream_section .sectors .touch a:active {
  color: #007093;
}

/*# sourceMappingURL=index.css.map */
