@font-face {
  font-family: "nicolo-bold";
  src: url("../fonts/Nicolo-Bold/Nicolo-Bold.eot");
  src: url("../fonts/Nicolo-Bold/Nicolo-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nicolo-Bold/Nicolo-Bold.woff2") format("woff2"), url("../fonts/Nicolo-Bold/Nicolo-Bold.woff") format("woff"), url("../fonts/Nicolo-Bold/Nicolo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "nicolo";
  src: url("../fonts/Nicolo-Regular/Nicolo-Regular.eot");
  src: url("../fonts/Nicolo-Regular/Nicolo-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Nicolo-Regular/Nicolo-Regular.woff2") format("woff2"), url("../fonts/Nicolo-Regular/Nicolo-Regular.woff") format("woff"), url("../fonts/Nicolo-Regular/Nicolo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icon";
  font-display: "auto";
  src: url("../fonts/icons/icomoon.eot?jfkyu0");
  src: url("../fonts/icons/icomoon.eot?jfkyu0#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?jfkyu0") format("truetype"), url("../fonts/icons/icomoon.woff?jfkyu0") format("woff");
  font-weight: normal;
  font-style: normal;
}
.icon_facebook:before {
  content: "\e90a";
}

.icon_instagram:before {
  content: "\e90b";
}

.icon_linkedin:before {
  content: "\e90c";
}

.icon_twitter:before {
  content: "\e90d";
}

.icon_pinterest:before {
  content: "\e90e";
}

.icon_youtube:before {
  content: "\e90f";
}

.icon_telegram:before {
  content: "\e91a";
}

.icon_ok:before {
  content: "\e91b";
}

.icon_vk:before {
  content: "\e91c";
}

.icon_google:before {
  content: "\e91d";
}

.icon_tiktok:before {
  content: "\e91e";
}

.icon_flickr:before {
  content: "\e91f";
}

.icon_down:before {
  content: "\e901";
}

.icon_left:before {
  content: "\e902";
}

.icon_right:before {
  content: "\e903";
}

.icon_close:before {
  content: "\e904";
}

.icon_checked:before {
  content: "\e905";
}

.icon_info:before {
  content: "\e906";
}

.icon_favorite:before {
  content: "\e907";
}

.icon_globe:before {
  content: "\e908";
}

.icon_calendar:before {
  content: "\e909";
}

.icon_copy_custom:before {
  content: "\e900";
}

.icon_copy_one:before {
  content: url("../css/images/copy-icon1.svg");
  width: 15px;
  height: 15px;
  display: block;
}

.icon_copys:before {
  content: url("../css/images/copy-icon2.svg");
  width: 17px;
  height: 17px;
  display: block;
}

.icon_files_empty:before {
  content: "\e925";
}

.icon_pdf:before {
  content: "\e910";
}

html {
  height: 100%;
  font-size: 10px;
  line-height: 1.4286em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  color: #231F20;
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
  font-family: "nicolo";
}
body:before {
  display: block;
  position: fixed;
  content: "";
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background: #231F20;
  opacity: 0;
  height: 0;
  -o-transition: height 0.05s, opacity 0.5s;
  -ms-transition: height 0.05s, opacity 0.5s;
  -moz-transition: height 0.05s, opacity 0.5s;
  -webkit-transition: height 0.05s, opacity 0.5s;
  transition: height 0.05s, opacity 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
body.popup_opened {
  overflow: hidden;
}
body.popup_opened:before {
  height: 100%;
  opacity: 0.4;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
select,
textarea,
button,
a,
.slick-slide {
  outline: none !important;
}

a,
a:focus,
a:hover,
button:hover {
  text-decoration: none;
}

a {
  color: #8B0029;
}

button {
  cursor: pointer;
  display: block;
}

img {
  max-height: none;
  border: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

.page_row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}
.page_row .cb {
  flex: 0 0 100%;
  max-width: 100%;
}

.page_container {
  width: 100%;
  max-width: 1232px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.page_container .standard_content {
  padding: 0;
  max-width: 720px;
}

.phone_link:not(.clickable) {
  color: inherit;
  cursor: default;
  pointer-events: none;
}

.individual_hint,
.drop_list,
.drop_block {
  display: none;
}

.error_hint {
  display: block;
  max-height: 0;
  overflow: hidden;
  font-size: 120%;
  line-height: 15px;
  text-align: right;
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 5px;
}

.label {
  display: none;
}

.help-block.form-error {
  display: none !important;
}

.has-error .error_hint,
.has-error + .error_hint,
.has-error ~ .error_hint {
  max-height: 60px;
}

.field_block {
  position: relative;
  margin-bottom: 40px;
}
.field_block input,
.field_block textarea {
  width: 100%;
  border: none;
  font-size: 140%;
  line-height: 18px;
  letter-spacing: 0.08em;
  padding: 14px 16px;
}
.field_block textarea {
  resize: none;
  display: block;
}
@media screen and (max-width: 959px) {
  .field_block {
    margin-bottom: 30px;
  }
}
.field_block.full_field {
  flex: 0 0 100%;
  max-width: 100%;
}
.field_block .placeholder {
  opacity: 1 !important;
  color: #D5D8DE;
  position: absolute;
  top: 13px;
  left: 16px;
  z-index: 2;
  pointer-events: none;
}
.field_block input:focus {
  border-color: #231F20;
}
.field_block input:focus ~ .placeholder,
.field_block textarea:focus ~ .placeholder,
.field_block .filled .placeholder {
  top: -18px;
  font-size: 110%;
  line-height: 14px;
}

.cb {
  display: block;
  clear: both;
}

.section_title {
  font-family: "nicolo-bold";
  margin: 0;
}

.primary_btn {
  border: none;
  background: #8B0029;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 180%;
  line-height: 22px;
  min-width: 230px;
  letter-spacing: 0.09em;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 959px) {
  .primary_btn {
    font-size: 160%;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 165px;
  }
}
.primary_btn.loading {
  pointer-events: none;
  color: transparent;
}
.primary_btn.loading img {
  opacity: 0;
}
.primary_btn.loading:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px -8px;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  width: 8px;
  height: 8px;
  content: "";
  animation: loadAnimation 1.6s infinite linear;
}

.secondary_btn {
  border: none;
  background: #EAECEF;
  color: #8B0029;
  padding: 15px 30px;
  font-size: 180%;
  line-height: 22px;
  min-width: 230px;
  letter-spacing: 0.09em;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 959px) {
  .secondary_btn {
    font-size: 160%;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 165px;
  }
}
.secondary_btn.loading {
  pointer-events: none;
  color: transparent;
}
.secondary_btn.loading:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px -8px;
  border-radius: 50%;
  color: #8B0029;
  display: block;
  width: 8px;
  height: 8px;
  content: "";
  animation: loadAnimation 1.6s infinite linear;
}

a.primary_btn,
a.secondary_btn {
  display: inline-block;
  vertical-align: top;
}

.slick-arrow {
  z-index: 3;
  font-size: 0;
  width: 86px;
  height: 40px;
  color: #ffffff;
  background: #27496D;
  border: none;
}
.slick-arrow:before {
  display: block;
  font-size: 2.2rem;
}
@media screen and (max-width: 959px) {
  .slick-arrow {
    width: 70px;
    height: 32px;
  }
  .slick-arrow:before {
    font-size: 1.8rem;
  }
}

.slick-prev:before {
  content: "\e902";
}

.slick-next:before {
  content: "\e903";
}

.section_title {
  margin: 0;
  color: #022034;
}
@media screen and (min-width: 1200px) {
  .section_title {
    text-align: center;
  }
}

.news_block .image_block {
  position: relative;
  overflow: hidden;
  padding-bottom: 69.33%;
  margin-bottom: 26px;
}
.news_block a.image_block {
  display: block;
  font-size: 0;
  line-height: 0;
}
.news_block .date_block {
  font-size: 200%;
  line-height: 1.2em;
  font-family: "nicolo-bold";
  margin-bottom: 10px;
  letter-spacing: 0.09em;
}
.news_block .title_block {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 160%;
  line-height: 30px;
  margin-bottom: 30px;
  letter-spacing: 0.09em;
  height: 120px;
}
.news_block .title_block a {
  color: inherit;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.news_block.hovered a.image_block img {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.news_block.hovered .title_block a {
  color: #8B0029;
}
@media screen and (max-width: 959px) {
  .news_block .image_block {
    margin-bottom: 24px;
  }
  .news_block .date_block {
    font-size: 160%;
    margin-bottom: 15px;
  }
  .news_block .title_block {
    font-size: 140%;
    -webkit-line-clamp: 3;
    height: 90px;
  }
}

.more_link {
  display: flex;
  align-items: center;
  font-size: 140%;
  line-height: 17px;
  letter-spacing: 0.09em;
  color: #8B0029;
}
.more_link:before {
  display: block;
  content: "";
  border-top: 1px solid;
  flex: 1;
  width: 50%;
  margin-right: 10px;
}
@media screen and (max-width: 959px) {
  .more_link {
    font-size: 120%;
    line-height: 15px;
  }
}

@media screen and (min-width: 960px) {
  .content {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 959px) {
  .content {
    padding-bottom: 30px;
  }
}

.page_title {
  font-size: 240%;
  line-height: 1.2em;
  font-family: "nicolo-bold";
  margin: 0;
  color: inherit;
  letter-spacing: 0.04em;
}
.page_title_block {
  padding-top: 40px;
  padding-bottom: 32px;
  color: #022034;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .page_title_block {
    padding-top: 32px;
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 959px) {
  .page_title {
    font-size: 200%;
  }
  .page_title_block {
    padding-top: 24px;
    padding-bottom: 16px;
  }
}

.page_head_block {
  margin-top: 40px;
  padding: 62px 0;
  position: relative;
  overflow: hidden;
}
.page_head_block .image_block {
  position: relative;
  overflow: hidden;
}
.page_head_block .info_block {
  flex: 0 0 40%;
  max-width: 40%;
  color: #ffffff;
  position: relative;
  z-index: 2;
  padding: 62px 35px 62px 0;
  display: flex;
  flex-direction: column;
}
.page_head_block .info_block:before {
  display: block;
  content: "";
  position: absolute;
  top: -62px;
  right: 0;
  width: 100vw;
  bottom: -62px;
  background: #022034;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.page_head_block .page_title:first-child:last-child {
  margin: auto 0;
}
.page_head_block .page_description {
  font-size: 160%;
  line-height: 30px;
  letter-spacing: 0.04em;
  margin-top: 47px;
  padding-top: 36px;
  border-top: 1px solid rgba(234, 236, 239, 0.5);
}
@media screen and (min-width: 1200px) {
  .page_head_block .head_inner {
    height: 36.11vw;
    position: relative;
    max-height: 520px;
  }
  .page_head_block .image_block {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    left: 50%;
    margin-left: -120px;
  }
  .page_head_block .info_block {
    height: 100%;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .page_head_block {
    padding: 40px 0;
  }
  .page_head_block .info_block:before {
    top: -40px;
    bottom: -40px;
  }
  .page_head_block .page_description {
    margin-top: 32px;
    padding-top: 24px;
  }
  .page_head_block .image_block {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .page_head_block .info_block {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  .page_head_block {
    margin-top: 30px;
    padding: 20px 0;
  }
  .page_head_block .info_block {
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .page_head_block .info_block:before {
    top: -20px;
    bottom: -20px;
  }
  .page_head_block .page_description {
    margin-top: 24px;
    padding-top: 16px;
  }
  .page_head_block .image_block {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 1199px) {
  .page_head_block .page_container {
    display: flex;
    padding: 0;
  }
  .page_head_block .info_block {
    padding-left: 16px;
    padding-right: 16px;
  }
  .page_head_block .image_block:before {
    display: block;
    content: "";
    padding-bottom: 60%;
  }
}
.page_head_block .info_inner {
  max-width: 37.5%;
  padding-right: 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.page_head_block .full_width_block,
.page_head_block .page_container {
  height: 100%;
}
@media screen and (max-width: 959px) {
  .page_head_block .page_description {
    font-size: 140%;
    line-height: 24px;
  }
}
@media screen and (max-width: 639px) {
  .page_head_block {
    margin-top: 0;
    padding: 0;
  }
  .page_head_block .image_block {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .page_head_block .info_block {
    flex: 0 0 100%;
    max-width: 100%;
    order: 2;
    padding: 0 32px 24px;
  }
  .page_head_block .info_block:before {
    width: auto;
    left: 16px;
    right: 16px;
    top: -24px;
    bottom: 0;
  }
  .page_head_block .page_description {
    margin-top: 16px;
    padding-top: 16px;
  }
  .page_head_block .page_container {
    flex-wrap: wrap;
  }
}

.info_section {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}
.info_section .page_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.info_section .page_title {
  flex: 0 0 100%;
  max-width: 100%;
}
.info_section .image_block {
  flex: 0 0 47.5%;
  max-width: 47.5%;
  position: relative;
  margin: 62px 0;
}
.info_section .image_block:before {
  padding-bottom: 103.5%;
  display: block;
  content: "";
}
.info_section .image_block video,
.info_section .image_block img {
  object-fit: cover;
  z-index: 2;
  box-shadow: -10px 10px rgba(0, 0, 0, 0.1);
}
.info_section .image_block:after {
  display: block;
  content: "";
  position: absolute;
  top: -62px;
  bottom: -62px;
  left: 57.5%;
  width: 100vw;
  background: #27496D;
}
.info_section .info_block {
  flex: 0 0 52.5%;
  max-width: 52.5%;
  padding-right: 60px;
  align-self: center;
}
.info_section .inner_block:not(:first-child) {
  margin-top: 45px;
}
.info_section .title_block {
  font-size: 240%;
  line-height: 42px;
  color: #007093;
  font-family: "nicolo-bold";
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
}
.info_section .title_block:before {
  order: 2;
  display: block;
  content: "";
  border-top: 1px solid;
  margin-right: -3px;
  margin-left: 16px;
  flex: 1;
  width: 10%;
  max-width: 149px;
}
.info_section .title_block:after {
  order: 3;
  display: block;
  content: "";
  min-width: 5px;
  border-top: 5px solid;
  border-radius: 5px;
}
.info_section .text_block {
  margin-top: 13px;
  font-size: 160%;
  line-height: 30px;
  letter-spacing: 0.1em;
}
.info_section .text_block ul li {
  margin-top: 36px;
  display: flex;
  align-items: flex-start;
}
.info_section .text_block ul li:before {
  min-width: 12px;
  height: 12px;
  background: #D5D8DE;
  margin-right: 24px;
  content: "";
  display: block;
  margin-top: 9px;
}
.info_section .video_btn {
  border: none;
  z-index: 2;
  background: url("images/play.svg") no-repeat;
  background-size: 20%;
  background-position: center;
}
.info_section .include_info {
  margin-top: 6px;
  font-size: 125%;
}
.info_section .playing .video_btn {
  background: transparent;
  opacity: 0;
}
.info_section .playing .video_btn:before {
  display: block;
  content: "";
  width: 20%;
  padding-bottom: 20%;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.7;
}
.info_section .playing .video_btn:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-width: 0 6px;
  border-color: #27496D;
  width: 5%;
  padding-bottom: 8%;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .info_section .image_block {
    margin: 40px 0;
  }
  .info_section .image_block:after {
    top: -40px;
    bottom: -40px;
  }
  .info_section .inner_block:not(:first-child) {
    margin-top: 32px;
  }
  .info_section .title_block {
    font-size: 200%;
    line-height: 35px;
  }
  .info_section .info_block {
    padding-right: 40px;
  }
  .info_section .text_block ul li {
    margin-top: 32px;
  }
  .info_section .text_block ul li:before {
    margin-right: 16px;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  .info_section .page_container {
    align-items: flex-start;
  }
  .info_section .image_block {
    flex: 0 0 50%;
    max-width: 50%;
    margin: 20px 0;
  }
  .info_section .image_block:after {
    top: -20px;
    bottom: -20px;
  }
  .info_section .info_block {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 20px;
  }
  .info_section .text_block ul li {
    margin-top: 24px;
  }
  .info_section .text_block ul li:before {
    margin-right: 12px;
  }
}
@media screen and (max-width: 959px) {
  .info_section .inner_block:not(:first-child) {
    margin-top: 24px;
  }
  .info_section .text_block {
    margin-top: 10px;
    font-size: 140%;
    line-height: 28px;
  }
  .info_section .text_block ul li {
    display: block;
  }
  .info_section .text_block ul li:before {
    float: left;
    margin-top: 8px;
  }
  .info_section .title_block {
    font-size: 160%;
    line-height: 29px;
  }
}
@media screen and (max-width: 639px) {
  .info_section .page_container {
    flex-wrap: wrap;
  }
  .info_section .page_title {
    margin-bottom: 16px;
  }
  .info_section .image_block {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 24px 0;
  }
  .info_section .image_block:after {
    width: auto;
    top: -24px;
    width: 66.56vw;
    left: auto;
    right: -16px;
    bottom: -24px;
  }
  .info_section .info_block {
    margin-top: 24px;
    order: 2;
    padding-right: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .info_section .text_block ul li {
    margin-top: 16px;
  }
  .info_section .text_block ul li:first-child {
    margin-top: 0;
  }
  .info_section .text_block ul li:before {
    margin-right: 8px;
  }
}

.paging {
  padding-bottom: 4px;
}
.paging ul {
  font-size: 160%;
  line-height: 20px;
  color: #D5D8DE;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paging ul li:not(:first-child) {
  margin-left: 3px;
}
.paging ul a {
  color: inherit;
  min-width: 33px;
  height: 30px;
  padding: 5px;
}
.paging ul a.current_page {
  background: #007093;
  color: #ffffff;
  pointer-events: none;
}
.paging ul a.prev_page, .paging ul a.next_page {
  font-size: 0;
  width: 46px;
  position: relative;
  color: #022034;
  background: #D5D8DE;
}
.paging ul a.prev_page:before, .paging ul a.next_page:before {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  top: 9px;
  font-weight: 900;
}
.paging ul a.prev_page:after, .paging ul a.next_page:after {
  display: block;
  content: "";
  position: absolute;
  top: 14px;
  border-top: 2px solid;
  width: 26px;
}
.paging ul a.prev_page {
  box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.05);
}
.paging ul a.prev_page:before, .paging ul a.prev_page:after {
  left: -7px;
}
.paging ul a.next_page {
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
}
.paging ul a.next_page:before, .paging ul a.next_page:after {
  right: -7px;
}

.images_slider {
  margin-bottom: 80px;
  position: relative;
  overflow: hidden;
}
.images_slider:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  top: 62px;
  bottom: 62px;
  background: #D5D8DE;
  z-index: -1;
}
.images_slider .slider_list {
  position: relative;
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
  margin: 0 -27px;
}
.images_slider .slider_list .slide_block {
  display: inline-block;
  white-space: normal;
  font-size: 1rem;
  width: 25%;
  vertical-align: top;
  padding: 0 27px 38px;
}
.images_slider .slider_list .image_block {
  display: block;
  padding-bottom: 138.5%;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.1));
  -webkit-filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, 0.1));
}
.images_slider .slider_list a.image_block {
  font-size: 0;
  line-height: 0;
}
.images_slider .slider_list.slick-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.images_slider .slider_list .slick-list {
  flex: 0 0 100%;
  max-width: 100%;
}
.images_slider .slick-arrow {
  order: 2;
  margin: 24px 8px 0;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .images_slider {
    margin-bottom: 50px;
  }
  .images_slider .slider_list {
    margin: 0 -20px;
  }
  .images_slider .slider_list .slide_block {
    padding: 0 20px 30px;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  .images_slider .slider_list {
    margin: 0 -24px;
  }
  .images_slider .slider_list .slide_block {
    width: 33.33%;
    padding: 0 24px 24px;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  .images_slider .slider_list {
    margin: 0 -16px;
  }
  .images_slider .slider_list .slide_block {
    width: 50%;
    padding: 0 16px 24px;
  }
}
@media screen and (max-width: 959px) {
  .images_slider {
    margin-bottom: 30px;
  }
  .images_slider:before {
    top: 56px;
    bottom: 56px;
  }
  .images_slider .slick-arrow {
    margin-left: 12px;
    margin-right: 12px;
  }
}
@media screen and (max-width: 479px) {
  .images_slider {
    padding-bottom: 30px;
  }
  .images_slider:before {
    top: 50%;
    bottom: 0;
    margin-top: -46px;
  }
  .images_slider .slick-arrow {
    margin-top: 30px;
  }
  .images_slider .slider_list {
    margin: 0 -16px;
  }
  .images_slider .slider_list .slide_block {
    width: 100%;
    padding: 0 30px;
  }
  .images_slider .slider_list .image_block {
    filter: none;
    -webkit-filter: none;
  }
}

.video_section {
  background: #021B2C;
  padding: 40px 16px;
  color: #ffffff;
}
.video_section .section_inner {
  max-width: 890px;
  margin: 0 auto;
}
.video_section .section_description {
  font-size: 240%;
  line-height: 30px;
  font-family: "nicolo-bold";
  letter-spacing: 0.04em;
  margin-bottom: 28px;
}
.video_section iframe {
  width: 100%;
  max-width: 100%;
  height: 500px;
  max-height: 56vw;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .video_section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .video_section .section_description {
    font-size: 200%;
    line-height: 28px;
  }
}
@media screen and (max-width: 959px) {
  .video_section {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .video_section .section_description {
    font-size: 140%;
    line-height: 26px;
    margin-bottom: 24px;
  }
}

.standard_content {
  max-width: 752px;
  padding: 0 16px;
  margin: 40px auto 50px;
  font-size: 160%;
  line-height: 29px;
  letter-spacing: 0.1em;
}
.standard_content h2 {
  font-size: 150%;
  line-height: 1.25em;
  font-family: "nicolo-bold";
  margin: 0 0 40px;
  color: #022034;
  letter-spacing: 0.1em;
}
.standard_content h3 {
  font-size: 125%;
  line-height: 1.2em;
  font-family: "nicolo-bold";
  color: #022034;
  letter-spacing: 0.1em;
  margin: 0 0 32px;
}
.standard_content img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 30px 0;
}
.standard_content iframe {
  width: 100%;
  height: 405px;
  max-width: 100%;
  max-height: 56vw;
  margin: 30px 0;
}
.standard_content ul {
  margin: 0;
  padding-left: 20px;
}
.standard_content a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 959px) {
  .standard_content {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 140%;
    line-height: 30px;
  }
  .standard_content h2 {
    margin-bottom: 30px;
  }
  .standard_content h3 {
    margin-bottom: 24px;
  }
  .standard_content iframe,
  .standard_content img {
    margin: 24px 0;
  }
}

@keyframes loadAnimation {
  9% {
    box-shadow: none;
  }
  10% {
    box-shadow: -8px 0 0;
  }
  35% {
    box-shadow: -8px 0 0;
  }
  36% {
    box-shadow: -8px 0 0, 8px 0 0;
  }
  60% {
    box-shadow: -8px 0 0, 8px 0 0;
  }
  61% {
    box-shadow: -8px 0 0, 8px 0 0, 24px 0 0;
  }
  85% {
    box-shadow: -8px 0 0, 8px 0 0, 24px 0 0;
  }
  86% {
    box-shadow: none;
  }
}
.popup_block {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 100%;
  overflow: hidden;
  z-index: 1000;
  -o-transition: top 0.5s;
  -ms-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}
.popup_block.showed {
  top: 0;
  overflow-y: auto;
}

.popup_inner {
  display: flex;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.popup_container {
  background: #ffffff;
  width: 100%;
  max-width: 630px;
  padding: 68px 72px 38px;
  position: relative;
  position: relative;
  text-align: center;
}
.popup_container .page_title {
  line-height: 2em;
  color: #007093;
  margin-bottom: 33px;
}
.popup_container .status_icon {
  color: #022034;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  font-size: 360%;
  border: 1px solid;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
.popup_container .status_icon:before {
  display: block;
}
.popup_container .thanks_title {
  font-size: 400%;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  font-family: "nicolo-bold";
  margin-top: -30px;
  color: #007093;
}
.popup_container .thanks_subtitle {
  margin-top: 15px;
  font-size: 250%;
  line-height: 47px;
  letter-spacing: 0.04em;
  color: #6B7C89;
}
.popup_container .icon_block {
  margin: 45px auto 40px;
  max-width: 505px;
  border-bottom: 1px solid rgba(0, 112, 147, 0.5);
}
.popup_container .icon_block img {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: 109px;
}
.popup_container .description_block {
  font-size: 160%;
  line-height: 30px;
  letter-spacing: 0.1em;
  max-width: 505px;
  margin: 0 auto;
  color: #6B7C89;
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .popup_container {
    padding: 50px 30px 24px;
  }
  .popup_container .status_icon {
    width: 60px;
    height: 60px;
    font-size: 200%;
  }
  .popup_container .page_title {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .popup_container .thanks_title {
    font-size: 320%;
    line-height: 40px;
    margin-top: -16px;
  }
  .popup_container .thanks_subtitle {
    margin-top: 12px;
    font-size: 200%;
    line-height: 40px;
  }
  .popup_container .icon_block {
    margin: 30px auto;
  }
}
@media screen and (max-width: 575px) {
  .popup_container {
    padding: 50px 16px 24px;
  }
  .popup_container .status_icon {
    width: 44px;
    height: 44px;
    font-size: 160%;
  }
  .popup_container .page_title {
    margin-bottom: 16px;
  }
  .popup_container .thanks_title {
    font-size: 240%;
    line-height: 32px;
    margin-top: 0;
  }
  .popup_container .thanks_subtitle {
    margin-top: 8px;
    font-size: 160%;
    line-height: 32px;
  }
  .popup_container .icon_block {
    margin: 24px auto;
  }
  .popup_container .description_block {
    font-size: 140%;
  }
}

.popup_close.icon_close {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  padding: 15px;
  background: transparent;
  font-size: 140%;
  color: #6B7C89;
}
.popup_close.icon_close:before {
  display: block;
  font-weight: 700;
}
@media screen and (max-width: 575px) {
  .popup_close.icon_close {
    top: 0;
    right: 0;
  }
}

.switch_block {
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  padding: 24px 32px 40px;
  min-height: inherit;
}
.switch_block ::-webkit-input-placeholder {
  color: #ffffff;
}
.switch_block :-moz-placeholder {
  color: #ffffff;
}
.switch_block ::-moz-placeholder {
  color: #ffffff;
}
.switch_block :-ms-input-placeholder {
  color: #ffffff;
}
.switch_block input,
.switch_block textarea {
  color: #ffffff;
  background: #021B2C;
}
.switch_block textarea {
  height: 160px;
}
.switch_block .primary_btn {
  margin-left: auto;
}
.switch_block .error_hint {
  color: #8B0029;
}
.switch_block .switch_top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 60px;
  color: inherit;
}
.switch_block .back_btn {
  border: none;
  background: transparent;
  padding: 5px;
  color: #ffffff;
  font-size: 160%;
  margin-left: -5px;
  margin-right: 15px;
}
.switch_block .back_btn:before {
  display: block;
  font-weight: 700;
}
.switch_block form {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.switch_block .btn_block {
  margin-top: auto;
}
.switch_block:not(.active) {
  height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0;
  min-height: 0;
}
.switch_block [data-validation] ~ .label {
  display: block;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  pointer-events: none;
  border: solid #8B0029;
  border-width: 1px 0 0 1px;
}
@media screen and (max-width: 959px) {
  .switch_block {
    padding: 20px 20px 30px;
  }
  .switch_block .switch_top {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 575px) {
  .switch_block form .btn_block button {
    margin-right: auto;
  }
}

.switch_content {
  opacity: 0;
}
.switch_content.opened .info_preview {
  display: none;
}

.financial_section {
  margin-top: 30px;
}
.financial_section .financial_list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.financial_section .financial_list li {
  margin-bottom: 50px;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 20px;
}
@media screen and (max-width: 1023px) {
  .financial_section .financial_list li {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media screen and (max-width: 639px) {
  .financial_section .financial_list li {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 479px) {
  .financial_section .financial_list li {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.financial_section .financial_list a {
  display: flex;
  color: #231F20;
  line-height: 1.2em;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 1200px) {
  .financial_section .financial_list a {
    font-size: 180%;
  }
}
@media screen and (min-width: 576px) and (max-width: 1199px) {
  .financial_section .financial_list a {
    font-size: 160%;
  }
}
@media screen and (max-width: 575px) {
  .financial_section .financial_list a {
    font-size: 140%;
  }
}
.financial_section .financial_list a:before {
  color: #007093;
  margin-right: 15px;
  font-size: 3rem;
}
.financial_section .financial_list img {
  width: 100%;
  height: auto;
  max-width: 46px;
  max-height: 46px;
  display: block;
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .financial_section .financial_list img {
    max-width: 40px;
    margin-right: 12px;
  }
}
@media screen and (max-width: 575px) {
  .financial_section .financial_list img {
    max-width: 50px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 575px) {
  .financial_section .financial_list img {
    max-width: 40px;
    margin-right: 15px;
  }
}

.socials_list, .footer_menu > ul ul, .header .submenu_list, .header .main_menu, .info_section .text_block ul, .paging ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.news_block .image_block > img, .page_head_block .image_block > img, .images_slider .slider_list .image_block > img, .info_section .image_block video,
.info_section .image_block img, .info_section .video_btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header .main_menu > li.opened .submenu_btn:after {
  transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
}

.news_block .image_block > img, .page_head_block .image_block > img, .images_slider .slider_list .image_block > img {
  object-fit: cover;
}

[class*=icon_]:before, .slick-arrow:before, .header .submenu_btn:after, [class*=icon_]:after {
  font-family: "icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer .developer a img, .header .main_logo img, .news_block a.image_block img, .images_slider .slider_list .image_block img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.info_section .video_btn, .paging ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.standard_text, .field_block .placeholder {
  font-size: 140%;
  line-height: 20px;
}

.section_title {
  font-family: "nicolo-bold";
  line-height: 1.2em;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 1200px) {
  .section_title {
    font-size: 300%;
  }
}
@media screen and (min-width: 576px) and (max-width: 1199px) {
  .section_title {
    font-size: 240%;
  }
}
@media screen and (max-width: 575px) {
  .section_title {
    font-size: 200%;
  }
}

.header {
  z-index: 100;
  position: relative;
  height: 100px;
  font-size: 140%;
  line-height: 20px;
  letter-spacing: 0.04em;
  background: #D5D8DE;
}
.header_inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #D5D8DE;
  border-bottom: 1px solid transparent;
}
.header .page_container {
  display: flex;
  align-items: center;
  height: 100%;
}
.header .main_logo {
  margin-right: auto;
  position: relative;
  overflow: hidden;
  max-width: 250px;
}
.header .main_logo a {
  display: block;
  font-size: 0;
  line-height: 0;
}
.header .main_logo img {
  display: block;
  width: auto;
}
.header .main_menu > li > a {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  color: inherit;
}
.header .submenu_btn:after {
  content: "\e901";
  font-size: 0.6rem;
  margin-left: 6px;
  display: block;
}
.header .submenu_list {
  display: none;
  color: #ffffff;
}
.header .submenu_list a {
  display: block;
  color: inherit;
  background: #007093;
}
.header_actions {
  display: flex;
  align-items: center;
}
.header .donate_btn {
  display: block;
  color: #ffffff;
  padding-left: 16px;
  padding-right: 16px;
}
.header .donate_btn:not(.current) {
  background: #8B0029;
}
.header .donate_btn.current {
  background: #007093;
}
.header .lg_btn {
  display: inline-block;
  vertical-align: top;
  color: inherit;
}
.header .menu_btn {
  border: none;
  background: transparent;
  color: #231F20;
  padding: 7px 0;
  width: 24px;
  height: 16px;
  position: relative;
  overflow: hidden;
  z-index: 100;
  z-index: 101;
  -o-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
}
.header .menu_btn:before, .header .menu_btn:after {
  display: block;
  content: "";
  position: absolute;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-top: 2px solid;
  left: -30px;
  width: 70px;
}
.header .menu_btn:before {
  top: 0;
}
.header .menu_btn:after {
  bottom: 0;
}
.header .menu_btn span {
  display: block;
  border-top: 2px solid;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
@media screen and (min-width: 960px) {
  .header .menu_btn {
    display: none;
  }
  .header .menu_block {
    flex: 1;
    width: 50%;
  }
  .header .menu_inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header .main_menu {
    display: flex;
    align-items: center;
  }
  .header .main_menu > li {
    position: relative;
  }
  .header .main_menu > li.current, .header .main_menu > li.opened {
    background: #007093;
  }
  .header .main_menu > li.current > a, .header .main_menu > li.opened > a {
    color: #ffffff !important;
  }
  .header .submenu_list {
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    min-width: 296px;
  }
  .header .submenu_list li {
    padding-top: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .header .main_logo img {
    height: 86px;
  }
  .header .main_menu > li {
    padding: 40px 16px;
  }
  .header .donate_btn {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 16px;
  }
  .header .lg_btn {
    margin-left: 32px;
  }
  .header .submenu_list a {
    padding: 15px 16px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .header {
    height: 84px;
    font-size: 120%;
  }
  .header_inner {
    height: 84px;
  }
  .header .main_logo img {
    height: 70px;
  }
  .header .main_menu > li {
    padding: 32px 11px;
  }
  .header .donate_btn {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 11px;
  }
  .header .lg_btn {
    margin-left: 16px;
  }
  .header .submenu_list a {
    padding: 11px;
  }
}
@media screen and (max-width: 959px) {
  .header {
    height: 70px;
    font-size: 160%;
    line-height: 20px;
  }
  .header_inner {
    height: 70px;
  }
  .header .main_logo img {
    height: 58px;
  }
  .header .menu_block {
    position: fixed;
    overflow: hidden;
    top: 0;
    background: #D5D8DE;
    left: 0;
    width: 100%;
    height: 0;
    -o-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    z-index: 100;
  }
  .header .menu_inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header_actions {
    padding: 21px 16px 30px;
  }
  .header .main_menu {
    order: 2;
    flex: 1;
    height: 50%;
    min-height: 60vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header .main_menu > li {
    padding-bottom: 24px;
  }
  .header .main_menu > li > a {
    margin: 0 16px;
  }
  .header .main_menu > li.opened .submenu_btn, .header .main_menu > li.current .submenu_btn {
    color: #007093;
  }
  .header .submenu_list:before {
    display: block;
    content: "";
    height: 16px;
  }
  .header .submenu_list a {
    padding: 12px 16px;
  }
  .header .submenu_list li {
    background: #007093;
    padding: 0 16px;
  }
  .header .submenu_list li:first-child {
    padding-top: 6px;
  }
  .header .submenu_list li:last-child {
    padding-bottom: 6px;
  }
  .header .submenu_list li:not(:first-child):before {
    display: block;
    content: "";
    border-top: 1px solid;
    margin: 0 16px;
  }
  .header .donate_btn {
    padding: 11px 16px;
  }
  .header .lg_btn {
    margin-left: 30px;
  }
}
.header.compact .header,
.header.compact .header_inner {
  height: 50px;
}
.header.compact .header_inner {
  border-bottom-color: #8B0029;
}
.header.compact .main_logo {
  max-width: 29px;
}
.header.compact .main_logo img {
  height: 44px;
}
@media screen and (min-width: 960px) {
  .header.compact .main_menu > li,
  .header.compact .donate_btn {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 959px) {
  .menu_opened {
    overflow: hidden;
  }
  .menu_opened .menu_block {
    height: 100%;
  }
  .menu_opened .menu_btn {
    transform: translate3d(0, 8px, 0);
    -moz-transform: translate3d(0, 8px, 0);
    -ms-transform: translate3d(0, 8px, 0);
    -webkit-transform: translate3d(0, 8px, 0);
    -o-transform: translate3d(0, 8px, 0);
  }
  .menu_opened .menu_btn span {
    opacity: 0;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .menu_opened .menu_btn:before {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  .menu_opened .menu_btn:after {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
  .menu_opened .header.compact .menu_btn {
    transform: translate3d(0, 18px, 0);
    -moz-transform: translate3d(0, 18px, 0);
    -ms-transform: translate3d(0, 18px, 0);
    -webkit-transform: translate3d(0, 18px, 0);
    -o-transform: translate3d(0, 18px, 0);
  }
}
.footer {
  opacity: 0;
  overflow: hidden;
}
.footer_top {
  background: #022034;
  padding: 23px 0;
}
.footer_top .page_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_middle {
  background: #D5D8DE;
  padding: 24px 0;
}
.footer_bottom {
  padding: 6px 0;
  background: #021B2C;
  color: #6B7C89;
  font-size: 120%;
  line-height: 25px;
  letter-spacing: 0.08em;
}
.footer_bottom .page_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .logo_block {
  margin-right: auto;
}
.footer .logo_block img {
  display: block;
  width: auto;
  height: 95px;
}
.footer .socials_list a {
  color: #022034;
}
.footer_contacts {
  margin: 0 -20px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.footer .contact_block {
  padding: 0 20px;
  font-size: 140%;
  line-height: 17px;
  letter-spacing: 0.11em;
}
.footer .contact_type {
  color: #6B7C89;
  margin-bottom: 12px;
  white-space: nowrap;
}
.footer .contact_info {
  color: #022034;
  max-width: 320px;
}
.footer .contact_info a {
  display: inline-block;
  vertical-align: top;
  color: inherit;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.footer_menu {
  margin-left: auto;
  color: #abb4c2;
  font-size: 140%;
  line-height: 17px;
  letter-spacing: 0.11em;
}
.footer_menu > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 860px;
}
.footer_menu > ul:after {
  display: block;
  content: "";
  clear: both;
}
.footer_menu > ul > li {
  float: left;
  padding: 7px 0 7px 80px;
  min-width: 20%;
}
.footer_menu > ul > li > div {
  color: #007093;
}
.footer_menu > ul ul li {
  padding-top: 14px;
}
.footer_menu a {
  display: inline-block;
  vertical-align: top;
  color: inherit;
  max-width: 240px;
}
.footer .copyrights {
  padding-right: 20px;
}
.footer .developer {
  padding-left: 20px;
}
.footer .developer a {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}
.footer .developer a img {
  display: block;
  width: auto;
  height: 17px;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .footer_top {
    padding: 15px 0;
  }
  .footer .logo_block img {
    height: 85px;
  }
  .footer_menu > ul > li {
    padding-left: 40px;
  }
  .footer_bottom {
    padding: 12px 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 959px) {
  .footer_top {
    padding: 20px 0;
  }
  .footer_menu > ul {
    max-width: 520px;
  }
  .footer_menu > ul > li {
    padding-left: 32px;
    width: 50%;
  }
  .footer_menu > ul > li:nth-child(n+3) {
    width: 100%;
  }
  .footer .logo_block {
    align-self: flex-start;
    padding-top: 7px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .footer_bottom {
    padding: 18px 0;
  }
  .footer_contacts {
    flex-wrap: wrap;
  }
  .footer .contact_block {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footer .contact_block:nth-child(n+3) {
    margin-top: 24px;
  }
  .footer .contact_type {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 959px) {
  .footer .logo_block img {
    height: 75px;
  }
  .footer_menu > ul > li {
    padding-bottom: 17px;
  }
}
@media screen and (max-width: 767px) {
  .footer .logo_block {
    padding: 0 0 30px;
  }
  .footer .logo_block img {
    margin: 0 auto;
  }
  .footer_contacts {
    flex-wrap: wrap;
  }
  .footer .contact_block {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer .contact_block:not(:first-child) {
    margin-top: 32px;
  }
  .footer_top .page_container {
    display: block;
  }
  .footer_menu {
    flex: none;
    width: 100%;
  }
  .footer_menu > ul {
    margin-right: 0;
  }
  .footer_menu > ul > li {
    padding: 0 0 17px;
    width: 100%;
  }
  .footer_menu > ul > li ul li {
    padding-top: 20px;
  }
  .footer_bottom {
    text-align: center;
    padding: 24px 0 20px;
  }
  .footer_bottom .page_container {
    display: block;
  }
  .footer .copyrights {
    padding-right: 0;
    padding-bottom: 30px;
    max-width: 280px;
    margin: 0 auto;
  }
  .footer .developer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
  }
  .footer .developer a {
    margin-top: 8px;
  }
}
@media screen and (max-width: 575px) {
  .footer_top {
    padding: 0;
  }
  .footer_top .page_container {
    display: block;
  }
}

.socials_list {
  display: flex;
}
.socials_list li:not(:first-child) {
  margin-left: 16px;
}
.socials_list a {
  display: block;
  font-size: 0;
  line-height: 0;
}
.socials_list a:before {
  display: block;
  font-size: 3rem;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .socials_list li:not(:first-child) {
    margin-left: 20px;
  }
  .socials_list a:before {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 959px) {
  .socials_list li:not(:first-child) {
    margin-left: 24px;
  }
  .socials_list a:before {
    font-size: 2.5rem;
  }
}

.web .info_section .video_btn, .info_section .web .video_btn, .web .images_slider .slider_list a.image_block, .images_slider .slider_list .web a.image_block, .web .header .main_logo a, .header .main_logo .web a, .web .footer .developer a, .footer .developer .web a, .footer {
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.web .more_link, .web .paging ul a, .paging ul .web a, .web .switch_block .back_btn, .switch_block .web .back_btn, .web .financial_section .financial_list a, .financial_section .financial_list .web a, .web .header .main_menu > li > a, .header .web .main_menu > li > a, .web .header .lg_btn, .header .web .lg_btn, .web .footer .socials_list a, .footer .socials_list .web a, .web .footer .contact_info a, .footer .contact_info .web a, .web .footer_menu a, .footer_menu .web a, .web .popup_close.icon_close, .news_block .title_block a {
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.web .primary_btn, .web .slick-arrow, .web .header .donate_btn.current, .header .web .donate_btn.current {
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.web .secondary_btn, .web .header .donate_btn:not(.current), .header .web .donate_btn:not(.current), .web .header .submenu_list a, .header .submenu_list .web a, .error_hint, .field_block .placeholder, .field_block input, .news_block a.image_block img, .header .main_menu > li, .web .header,
.web .main_logo,
.web .header_inner,
.web .main_logo img,
.web .main_menu > li {
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.touch .info_section .video_btn, .info_section .touch .video_btn, .touch .images_slider .slider_list a.image_block, .images_slider .slider_list .touch a.image_block, .touch .header .main_logo a, .header .main_logo .touch a, .touch .footer .developer a, .footer .developer .touch a {
  -o-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.touch .more_link, .touch .paging ul a, .paging ul .touch a, .touch .switch_block .back_btn, .switch_block .touch .back_btn, .touch .financial_section .financial_list a, .financial_section .financial_list .touch a, .touch .header .main_menu > li > a, .header .touch .main_menu > li > a, .touch .header .lg_btn, .header .touch .lg_btn, .touch .footer .socials_list a, .footer .socials_list .touch a, .touch .footer .contact_info a, .footer .contact_info .touch a, .touch .footer_menu a, .footer_menu .touch a, .touch .popup_close.icon_close {
  -o-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.touch .primary_btn, .touch .slick-arrow, .touch .header .donate_btn.current, .header .touch .donate_btn.current {
  -o-transition: background-color 0.15s;
  -ms-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  -webkit-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.touch .secondary_btn, .touch .header .donate_btn:not(.current), .header .touch .donate_btn:not(.current), .touch .header .submenu_list a, .header .submenu_list .touch a, .touch .header,
.touch .main_logo,
.touch .header_inner,
.touch .main_logo img,
.touch .main_menu > li {
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.primary_btn.loading, .secondary_btn.loading {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.web .popup_close.icon_close:hover {
  color: #8B0029;
}
.web .header .donate_btn.current:hover, .header .web .donate_btn.current:hover {
  background: #8B0029;
}
.web .header .submenu_list a:hover, .header .submenu_list .web a:hover {
  background: #022034;
  color: #ffffff;
  border-color: transparent;
}
.web .secondary_btn:hover, .web .header .donate_btn:hover:not(.current), .header .web .donate_btn:hover:not(.current) {
  background: #007093;
  color: #ffffff;
  border-color: transparent;
}
.web .info_section .video_btn:hover, .info_section .web .video_btn:hover, .web .images_slider .slider_list a.image_block:hover, .images_slider .slider_list .web a.image_block:hover, .web .header .main_logo a:hover, .header .main_logo .web a:hover, .web .footer .developer a:hover, .footer .developer .web a:hover {
  opacity: 0.7;
}
.web .more_link:hover, .web .paging ul a:hover, .paging ul .web a:hover, .web .switch_block .back_btn:hover, .switch_block .web .back_btn:hover, .web .financial_section .financial_list a:hover, .financial_section .financial_list .web a:hover, .web .header .main_menu > li > a:hover, .header .web .main_menu > li > a:hover, .web .header .lg_btn:hover, .header .web .lg_btn:hover, .web .footer .socials_list a:hover, .footer .socials_list .web a:hover, .web .footer .contact_info a:hover, .footer .contact_info .web a:hover, .web .footer_menu a:hover, .footer_menu .web a:hover {
  color: #007093;
}
.web .primary_btn:hover, .web .slick-arrow:hover {
  background: #007093;
}

.touch .popup_close.icon_close:active {
  color: #8B0029;
}
.touch .header .donate_btn.current:active, .header .touch .donate_btn.current:active {
  background: #8B0029;
}
.touch .header .submenu_list a:active, .header .submenu_list .touch a:active {
  background: #022034;
  color: #ffffff;
  border-color: transparent;
}
.touch .secondary_btn:active, .touch .header .donate_btn:active:not(.current), .header .touch .donate_btn:active:not(.current) {
  background: #007093;
  color: #ffffff;
  border-color: transparent;
}
.touch .info_section .video_btn:active, .info_section .touch .video_btn:active, .touch .images_slider .slider_list a.image_block:active, .images_slider .slider_list .touch a.image_block:active, .touch .header .main_logo a:active, .header .main_logo .touch a:active, .touch .footer .developer a:active, .footer .developer .touch a:active {
  opacity: 0.7;
}
.touch .more_link:active, .touch .paging ul a:active, .paging ul .touch a:active, .touch .switch_block .back_btn:active, .switch_block .touch .back_btn:active, .touch .financial_section .financial_list a:active, .financial_section .financial_list .touch a:active, .touch .header .main_menu > li > a:active, .header .touch .main_menu > li > a:active, .touch .header .lg_btn:active, .header .touch .lg_btn:active, .touch .footer .socials_list a:active, .footer .socials_list .touch a:active, .touch .footer .contact_info a:active, .footer .contact_info .touch a:active, .touch .footer_menu a:active, .footer_menu .touch a:active {
  color: #007093;
}
.touch .primary_btn:active, .touch .slick-arrow:active {
  background: #007093;
}

/*# sourceMappingURL=main.css.map */
