.courses_list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.courses_list .image_block > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.courses_list .image_block > img {
  object-fit: cover;
}

.standard_text {
  font-size: 140%;
  line-height: 20px;
}

.program_purpose {
  padding-top: 40px;
  padding-bottom: 10px;
}
.program_purpose .page_title {
  color: #022034;
}
.program_purpose .info_block {
  padding-top: 40px;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
  font-size: 160%;
  line-height: 30px;
  letter-spacing: 0.1em;
}
.program_purpose .include_block {
  display: inline-flex;
  vertical-align: top;
  width: 100%;
  padding: 0 20px 36px;
  max-width: 480px;
}
.program_purpose .include_block:before {
  display: block;
  content: "";
  min-width: 10px;
  height: 10px;
  background: #D5D8DE;
  margin: 10px 16px 10px 0;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .program_purpose .info_block {
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }
  .program_purpose .include_block {
    padding: 0 16px 32px;
  }
  .program_purpose .include_block:before {
    margin-right: 12px;
  }
}
@media screen and (max-width: 959px) {
  .program_purpose {
    padding: 30px 0 0;
  }
  .program_purpose .info_block {
    padding-top: 30px;
    font-size: 140%;
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
  }
  .program_purpose .include_block {
    padding: 0 0 24px;
    display: inline-block;
  }
  .program_purpose .include_block:before {
    float: left;
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .program_purpose .info_block {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.visitors_section {
  margin-top: 86px;
  display: flex;
  flex-wrap: wrap;
}
.visitors_section img {
  flex: 0 0 50%;
  max-width: 50%;
  height: 34.7vw;
}
.visitors_section .title_block {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 30px 0;
  color: #ffffff;
  background: #27496D;
}
.visitors_section .info_block {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.visitors_section .info_inner {
  display: flex;
  flex-wrap: wrap;
  font-size: 160%;
  line-height: 30px;
  letter-spacing: 0.04em;
  margin: 0 -30px;
}
.visitors_section .inner_block {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 30px;
  margin-top: 30px;
  position: relative;
}
.visitors_section .inner_block:before {
  display: block;
  margin-bottom: 18px;
  border-top: 1px solid #27496D;
  width: 224px;
}
.visitors_section .inner_block:after {
  display: block;
  position: absolute;
  top: -3px;
  left: 250px;
  width: 7px;
  height: 7px;
  background: #27496D;
  border-radius: 50%;
}
.visitors_section .inner_block:nth-child(n+3):before, .visitors_section .inner_block:nth-child(n+3):after {
  content: "";
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .visitors_section {
    margin-top: 50px;
  }
  .visitors_section .info_inner {
    margin: 0 -20px;
    font-size: 140%;
  }
  .visitors_section .inner_block {
    padding: 0 20px;
    margin-top: 24px;
  }
  .visitors_section .inner_block:before {
    margin-bottom: 16px;
  }
  .visitors_section .inner_block:after {
    left: 240px;
  }
  .visitors_section .title_block {
    padding: 20px;
  }
}
@media screen and (max-width: 959px) {
  .visitors_section {
    margin-top: 30px;
  }
  .visitors_section .info_inner {
    margin: 0 -16px;
    font-size: 120%;
  }
  .visitors_section .inner_block {
    padding: 0 16px;
    margin-top: 18px;
  }
  .visitors_section .inner_block:after {
    left: 236px;
  }
  .visitors_section .inner_block:before {
    margin-bottom: 12px;
  }
  .visitors_section .title_block {
    padding: 10px 0;
  }
}
@media screen and (max-width: 639px) {
  .visitors_section img {
    flex: 0 0 100%;
    max-width: 100%;
    height: 69.5vw;
  }
  .visitors_section img + img {
    order: 2;
    margin-top: 24px;
  }
  .visitors_section .inner_block {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .visitors_section .inner_block:nth-child(2):before, .visitors_section .inner_block:nth-child(2):after {
    content: "";
  }
}

.additional_info {
  margin-top: 30px;
}
.additional_info .info_block {
  padding-top: 24px;
  border-top: 1px solid rgba(107, 124, 137, 0.5);
  font-size: 200%;
  line-height: 30px;
  font-family: "nicolo-bold";
  letter-spacing: 0.04em;
}
.additional_info .info_block a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .additional_info .info_block {
    font-size: 180%;
  }
}
@media screen and (max-width: 959px) {
  .additional_info .info_block {
    font-size: 160%;
  }
}

.courses_list {
  margin-top: 20px;
}
.courses_list .page_title {
  color: #022034;
}
.courses_list li {
  margin-top: 40px;
  display: flex;
  padding: 30px;
  border: 1px solid #EAECEF;
}
.courses_list .image_block {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  align-self: flex-start;
  position: relative;
  overflow: hidden;
}
.courses_list .image_block:before {
  display: block;
  content: "";
  padding-bottom: 73.4%;
}
.courses_list .info_block {
  flex: 1;
  width: 50%;
  padding-left: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.courses_list .apply_btn {
  font-size: 160%;
  line-height: 20px;
  letter-spacing: 0.09em;
  font-family: "nicolo-bold";
  border: 1px solid;
  padding: 8px 24px;
  margin-left: auto;
  align-self: flex-start;
}
.courses_list .page_title {
  padding-right: 24px;
  flex: 1;
}
.courses_list .description_block {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 24px 0;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  font-size: 140%;
  line-height: 24px;
  letter-spacing: 0.1;
  opacity: 0.7;
}
.courses_list .inner_link {
  display: inline-block;
  vertical-align: top;
  font-size: 140%;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-decoration: underline;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .courses_list li {
    padding: 24px;
    margin-top: 30px;
  }
  .courses_list .info_block {
    padding-left: 32px;
  }
}
@media screen and (max-width: 959px) {
  .courses_list li {
    margin-top: 24px;
    padding: 16px;
  }
  .courses_list .info_block {
    padding-left: 24px;
  }
  .courses_list .info_block .page_title {
    font-size: 160%;
  }
  .courses_list .apply_btn {
    font-size: 140%;
    padding: 5px 12px;
  }
}
@media screen and (max-width: 639px) {
  .courses_list li {
    flex-wrap: wrap;
  }
  .courses_list .image_block {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .courses_list .info_block {
    padding-left: 0;
    padding-top: 24px;
  }
}

.web .courses_list .inner_link, .courses_list .web .inner_link {
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.web .courses_list .apply_btn, .courses_list .web .apply_btn {
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.touch .courses_list .inner_link, .courses_list .touch .inner_link {
  -o-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.touch .courses_list .apply_btn, .courses_list .touch .apply_btn {
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.web .courses_list .apply_btn:hover, .courses_list .web .apply_btn:hover {
  background: #8B0029;
  color: #ffffff;
  border-color: transparent;
}
.web .courses_list .inner_link:hover, .courses_list .web .inner_link:hover {
  color: #007093;
}
.touch .courses_list .apply_btn:active, .courses_list .touch .apply_btn:active {
  background: #8B0029;
  color: #ffffff;
  border-color: transparent;
}
.touch .courses_list .inner_link:active, .courses_list .touch .inner_link:active {
  color: #007093;
}

/*# sourceMappingURL=programs.css.map */
