.cooperate_top {
    margin-top: 40px;
    @include overHidden;
    .switch_top {
        @include standardHover;

        .icon_left:before {
            border: none;
            color: $white;
            margin-right: 15px;
            padding: 5px;
            font-size: 16px;
            @include standardHover;
        }
    }
    .cooperate_description{
        font-size: 12px;
        line-height: 17px;
        color: $menuBg;
        display: block;
        text-align: center;
        margin-top: 14px;
        letter-spacing: 0.16em;
    }
    .image_block {
        position: absolute;
        top: 62px;
        left: 0;
        width: 100%;
        height: 36.11vw;
        max-height: 520px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .info_inner {
        color: $white;
        position: relative;
        background: $bgColor;
        margin-left: auto;
        width: 60%;
        max-width: 644px;
        display: flex;
        flex-direction: column;
    }
    
    .info_preview {
        flex: 1;
        margin: 62px 50px;
        border: 1px solid rgba($lightText, 0.5);
        padding: 120px 10px 0;
        text-align: center;
        .btns_block {
            display: flex;
            flex-wrap: wrap;
            margin: 35px -6px 0;
        }
        .primary_btn {
            flex: 100%;
            margin: 0 6px 12px;
            min-width: 0;
        }
    }
    @include mediaFrom($size1440) {
        .info_inner {
            min-height: 645px;
        }
    }
    @include mediaRange($size1200, $size1440) {
        .info_inner {
            min-height: 44.8vw;
        }
    }
    @include mediaRange($size960, $size1200) {
        .image_block {
            top: 40px;
        }
        .info_inner {
            min-height: 42.8vw;
            width: 45%;
        }
        .info_preview {
            margin: 40px 30px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .btns_block {
                margin: 35px 0 0;
                width: 100%;
                flex-direction: column;
                align-items: center;
                .primary_btn {
                    width: 100%;
                }
            }
 
        }
        
    }
    @include mediaRange($size640, $size960) {
        .image_block {
            top: 20px;
        }
        .info_inner {
            min-height: 40.8vw;
            width: 50%;
        }
        
    }

    @include mediaTo($size960) {
        margin-top: 30px;
        .info_preview {
            margin: 16px;
            padding: 30px 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .btns_block {
                margin: 0;
                width: 100%;
                flex-direction: column;
                align-items: center;
                .primary_btn {
                    width: 100%;
                    margin: 30px 0 0;
                }
            }
 
        }
    }
    
    @include mediaTo($size640) {
        margin-top: 0;
        .image_block {
            position: relative;
            top: auto;
            left: auto;
            height: 73.125vw;
            overflow: hidden;
            img {
                object-position: left top;
            }
        }
        .info_block {
            margin-top: -32px;
        }
        .info_inner {
            width: 100%;
        }
    }
}

.partners_section {
    margin-top: 30px;
    .page_title {
        color: $bgColor;
    }
    .partners_group {
        margin-top: 30px;
    }
    .group_title {
        font-size: 180%;
        line-height: 50px;
        display: flex;
        align-items: center;
        color: $secondColor;
        letter-spacing: 0.04em;
        font-family: $bold;
        margin: 0;
        &:before {
            display: block;
            content: "";
            border-top: 1px solid;
            flex: 1;
            max-width: 149px;
            margin-left: 12px;
            order: 1;
        }
        &:after {
            display: block;
            content: "";
            border-top: 7px solid;
            margin-left: -2px;
            width: 7px;
            min-width: 7px;
            border-radius: 50%;
            order: 2;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        padding: 0;
        list-style-type: none;
    }
    li {
        @include colSize(3);
        padding: 24px 15px 0;
    }
    .partner_block {
        height: 100%;
        background: $fieldBg;
        color: inherit;
        padding: 24px 16px;
        text-align: center;
    }
    .image_block {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        width: 100%;
        margin-bottom: 24px;
        position: relative;
        overflow: hidden;
        img {
            display: block;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
    .name_block {
        display: block;
        font-size: 140%;
        line-height: 22px;
        font-family: $bold;
    }
    a.partner_block {
        display: block;
        @extend %color300;
        img {
            @extend %noBlink;
            @extend %all300;
        }
        &:hover {
            color: $secondColor;
            img {
                @include transStyle(scale(1.1));
            }
        }
    }
    @include mediaTo($size960) {
        .group_title {
            font-size: 160%;
            line-height: 30px;
        }
        ul {
            margin-left: -10px;
            margin-right: -10px;
        }
        li {
            padding: 16px 10px;
        }
        .name_block {
            font-size: 120%;
            line-height: 20px;
        }
        .partner_block {
            padding: 10px;
        }
        .image_block {
            height: 80px;
        }
    }
    @include mediaRange($size480, $size640) {
        li {
            @include colSize(4);
        }
    }
    @include mediaTo($size480) {
        li {
            @include colSize(6);
        }
    }
}