.faq_section {
    @include overHidden;
}

.faq_list {
    @extend %standardList;
    counter-reset: serialNumber;
    position: relative;
    min-height: 544px;
    > li {
        counter-increment: serialNumber;
        padding-right: 24px;
        width: 65%;
        max-width: 712px;
        &:not(:first-child) {
            margin-top: 24px;
        }
        &.opened{
            .question_block{
                &:before {
                    background: $btnBg;
                    color: $white;
                    border-color: transparent;
                    box-shadow: 5px 5px 0 rgba($black,0.15);
                }
            }
        }
    }
    .answer_block {
        display: none;
        background: $btnBg;
        .primary_btn {
            font-size: 1.8rem;
            @include mediaTo($size960) {
                font-size: 1.6rem;
            }
        }
    }
    .answer_inner {
        font-size: 160%;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: $menuBg;
        position: relative;
        br {
            display: block;
            content: "";
            height: 8px;
        }
        ul {
            @extend %standardList;
            li {
                &:not(:first-child) {
                    margin-top: 16px;
                }
                &:before {
                    display: block;
                    content: "";
                    border-top: 8px solid;
                    width: 8px;
                    margin: 11px 12px 0 0;
                    float: left;
                }
            }
        }
    }
    .question_block {
        display: flex;
        align-items: center;
        border: none;
        background: transparent;
        text-align: left;
        font-size: 160%;
        line-height: 30px;
        letter-spacing: 0.06em;
        color: $btnBg;
        @include siteColorHover;
        &:before {
            @extend %centerBlock;
            border: 1px solid;
            color: $siteColor;
            font-family: $bold;
            font-size: 18px;
            min-width: 54px;
            height: 54px;
            margin-right: 16px;
            align-self: flex-start;
            content: counter(serialNumber, decimal-leading-zero);
            @extend %all300;
        }
    }
    @include mediaFrom($size768) {
        &:before {
            @include psevdoAbs;
            position: absolute;
            right: 0;
            top: 0;
            width: 35%;
            height: 420px;
            background: $btnBg;
            margin-top: 60px;
        }
        &:after {
            @include psevdoAbs;
            left: 100%;
            top: 0;
            height: 540px;
            width: 100vw;
            background: $menuBg;
            z-index: -1;
            margin-left: -17%;
        }
        > li {
            display: flex;
            align-items: center;
            &:before {
                align-self: flex-start;
            }
        }
        .answer_block {
            position: absolute;
            right: 0;
            top: 0;
            width: 35%;
            height: 420px;
            padding: 30px 24px;
            margin: 60px 0;
            z-index: 5;
            &:before {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 1px solid;
                color: $white;
                font-family: $bold;
                font-size: 180%;
                min-width: 54px;
                height: 54px;
                margin-right: 16px;
                margin-bottom: 20px;
                align-self: flex-start;
                content: counter(serialNumber, decimal-leading-zero);
            }
            
        }
        .answer_inner {
            height: 286px;
            overflow-x: hidden;
            overflow-y: auto;
            margin-right: -10px;
            padding-right: 10px;
            @include customScroll(2px, auto, thin, 0, 0, transparent, $menuBg);
        }
    }
    @include mediaRange($size960, $size1200) {
        > li {
            width: 60%;
            &:before {
                font-size: 160%;
                min-width: 44px;
                height: 44px;
                margin-right: 12px;
            }
            &.opened:before {
                box-shadow: 4px 4px 0 rgba($black,0.15);
            }
        }
        &:before {
            width: 40%;
            right: -$containerPadding;
            margin-top: 40px;
        }
        &:after {
            height: 500px;
        }
        .answer_block {
            width: 40%;
            margin: 40px 0;
            right: -$containerPadding;
            &:before {
                font-size: 160%;
                min-width: 44px;
                height: 44px;
                margin-bottom: 12px;
            }
        }
        .answer_inner {
            font-size: 140%;
            line-height: 28px;
        }
    }
    @include mediaRange($size768, $size960) {
        > li {
            width: 50%;
            
        }
        &:before {
            width: 50%;
            right: -$containerPadding;
            margin-top: 20px;
            height: 400px;
        }
        &:after {
            height: 440px;
        }
        .answer_block {
            width: 50%;
            margin: 20px 0;
            right: -$containerPadding;
            height: 400px;
        }
        .answer_inner {
            height: 310px;
        }
    }
    @include mediaTo($size960) {
        > li {
            &:before {
                font-size: 140%;
                min-width: 36px;
                height: 36px;
                margin-right: 10px;
            }
            &.opened:before {
                box-shadow: none;
            }
        }
        .answer_block {
            &:before {
                font-size: 140%;
                min-width: 36px;
                height: 36px;
                margin-bottom: 10px;
            }
        }
        .answer_inner {
            font-size: 120%;
            line-height: 24px;
        }
        .question_block {
            font-size: 140%;
            line-height: 24px;
        }
    }
    @include mediaTo($size768) {
        > li {
            width: 100%;
            max-width: 100%;
            padding-right: 0;
            padding-left: 46px;
            position: relative;
            &:not(:first-child) {
                margin-top: 16px;
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
            }
            
        }
        .question_block {
            min-height: 36px;
        }
        .answer_block {
            margin-left: -46px;
            background: transparent;
            margin-top: 0;
            margin-bottom: 0;
            &:before {
                display: block;
                content: "";
                height: 10px;
                margin: 0;
            }
        }
        .answer_inner {
            padding: 24px 20px;
            background: $btnBg;
        }
    } 
}