.stats_section {
    padding: 90px 0 50px;
    @include overHidden;
    .stats_list {
        @extend %standardRowList;
        li {
            @include standardCol(4);
            margin-bottom: 57px;
            display: flex;
            align-items: center;
        }
        .count_block {
            color: $secondColor;
            font-size: 400%;
            line-height: 1.2em;
            font-family: $bold;
            letter-spacing: 0.04em;
            padding: 6px 14px 6px 0;
            border-right: 1px solid rgba($lightText, 0.5);
        }
        .type_block {
            font-size: 160%;
            line-height: 22px;
            padding-left: 14px;
            max-width: 270px;
        }
    }
    .info_block {
        border-top: 1px solid rgba($lightText, 0.5);
        padding-top: 40px;
        @include colCount(2);
        @include colGap(60px);
        font-size: 160%;
        line-height: 30px;
        letter-spacing: 0.1em;
    }
    @include mediaRange($size960, $size1200) {
        padding: 60px 0 40px;
        .stats_list {
            li {
                margin-bottom: 40px;
            }
            .count_block {
                font-size: 320%;
            }
        }
        .info_block {
            @include colGap(40px);
        }
    }
    @include mediaTo($size960) {
        padding: 30px 0;
        .stats_list {
            li {
                margin-bottom: 32px;
            }
            .type_block {
                font-size: 140%;
                line-height: 20px;
               
            }
            .count_block {
                font-size: 300%;
                min-width: 70px;
                text-align: right;
            }
        }
        .info_block {
            padding-top: 30px;
            font-size: 140%;
            @include colGap(32px);
        }
    }
    @include mediaRange($size768, $size960) {
        .stats_list li {
            @include colSize(6);
        }
    }
    @include mediaTo($size768) {
        .stats_list {
            li {
                @include colSize(12);
                justify-content: center;
            }
            .type_block {
                width: 220px;
            }
        }
        .info_block {
            @include colCount(1);
        }
    }
}

.gallery_section {
    padding: 40px 0;
    background: $fieldBg;
    color: $bgColor;
    @include overHidden;
    .gallery_list {
        margin: -28px -30px 0;
        padding: 0;
        list-style-type: none;
        li {
            @include colSize(4);
            width: 33.33%;
            padding: 60px 30px 0;
        }
        a {
            display: block;
            font-size: 0;
            line-height: 0;
            @include opacityHover;
        }
        img {
            display: block;
            width: 100%;
            height: auto;
            @extend %noBlink;
        }
    }
    @include mediaRange($size960, $size1200) {
        .gallery_list {
            margin: -8px -20px 0;
            li {
                padding: 40px 20px 0;
            }
        }
    }
    @include mediaTo($size960) {
        padding: 30px 0;
        .gallery_list {
            margin: 0 -12px;
            li {
                padding: 24px 12px 0;
            }
        }
    }
    @include mediaTo($size576) {
        .gallery_list li {
            @include colSize(6);
            width: 50%;
        }
    }
}