.history_preview {
    background: $btnBg;
    color: $white;
    margin-bottom: 102px;
    .page_container {
        display: flex;
    }
    .info_block {
        align-self: center;
        flex: 1;
        padding: 24px 0;
        margin-right: 24px;
        font-size: 200%;
        line-height: 40px;
        letter-spacing: 0.09em;
    }
    .author_image {
        border: 62px solid $siteColor;
        margin: -62px 0;
        img {
            display: block;
            width: 390px;
            height: auto;
        }
    }
    .words_author {
        color: $menuBg;
        margin-top: 40px;
    }
    @include mediaRange($size960, $size1200) {
        margin-bottom: 76px;
        .info_block {
            font-size: 180%;
            line-height: 36px;
        }
        .author_image {
            margin: -30px 0;
            border-width: 30px;
            img {
                width: 280px;
            }
        }
    }
    @include mediaRange($size576, $size960) {
        margin-bottom: 50px;
        .author_image {
            margin: -20px 0;
            flex: 0 0 50%;
            max-width: 430px;
        }
    
    }
    @include mediaTo($size960) {
        .author_image {
            border-width: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .info_block {
            font-size: 140%;
            line-height: 30px;
        }
        .words_author {
            margin-top: 30px;
        }
        .preview_words {
            br {
                display: block;
                content: "";
                line-height: 150%;
                height: 16px;
            }
        }
    }
    @include mediaTo($size576) {
        background: transparent;
        margin-bottom: 30px;
        .page_container {
            flex-wrap: wrap;
        }
        .info_block {
            @include colSize(12);
            padding-right: 0;
            position: relative;
            &:before {
                @include psevdoAbs;
                left: -$containerPadding;
                right: -$containerPadding;
                top: 0;
                height: 100%;
                background: $btnBg;
                z-index: -1;
            }
        }
        .author_image {
            @include colSize(12);
            margin: 0;
            position: relative;
            &:before {
                @include psevdoAbs;
                left: -$containerPadding - 20;
                right: -$containerPadding - 20;
                top: -20px;
                height: 50%;
                background: $btnBg;
                z-index: -1;
            }
        }
    }
}

.historical_overview {
    margin: 0 auto 50px;
    max-width: 720 + 2 * $containerPadding;
    padding: 0 $containerPadding;
    .history_block {
        padding-top: 33px;
        &:first-child {
            margin-top: 24px;
        }
    }
    .text_block {
        font-size: 160%;
        line-height: 29px;
        letter-spacing: 0.1em;
    }
    .year_block {
        font-size: 240%;
        line-height: 39px;
        color: $secondColor;
        letter-spacing: 0.1em;
        font-family: $bold;
        width: 230px;
        display: flex;
        align-items: center;
        margin-bottom: 33px;
        span {
            display: block;
            min-width: 75px;
        }
        &:after {
            display: block;
            content: "";
            min-width: 5px;
            border-top: 5px solid;
            border-radius: 50%;
            order: 2;
        }
        &:before {
            display: block;
            content: "";
            flex: 1;
            margin-right: -3px;
            border-top: 1px solid;
            order: 1;
        }
    }
    @include mediaTo($size960) {
        margin-bottom: 30px;
        .text_block {
            font-size: 140%;
            line-height: 24px;
        }
        .history_block {
            padding-top: 24px;
            &:first-child {
                padding-top: 16px;
                margin-top: 0;
            }
        }
        .year_block {
            margin-bottom: 10px;
            font-size: 200%;
            line-height: 35px;
            width: 225px;
            span {
                min-width: 68px;
            }
        }
    }
}

