.team_section {
    margin-top: 40px;
    padding: 62px 0 72px;
    @include overHidden;
    .page_container {
        display: flex;
    }
    .section_head {
        flex: 0 0 32%;
        max-width: 32%;
        color: $white;
        position: relative;
        z-index: 2;
        padding: 62px 35px 62px 0;
        display: flex;
        flex-direction: column;
        height: 36.4vw;
        max-height: 520px;
        align-self: flex-start;
        &:before {
            @include psevdoAbs;
            top: 0;
            right: 0;
            width: 100vw;
            height: 100%;
            background: $bgColor;
            z-index: -1;
        }
    }
    .page_title:first-child:last-child {
        margin: auto 0;
    }

    .members_list {
        flex: 0 0 68%;
        max-width: 68%;
        position: relative;
        z-index: 1;
        padding-left: 24px;
        font-size: 120%;
        letter-spacing: 0.04em;
        text-align: center;
        &:before {
            @include psevdoAbs;
            top: -62px;
            bottom: -62px;
            left: 0;
            width: 100vw;
            background: $menuBg;
            box-shadow: -10px 10px 0 rgba($black, 0.1);
            z-index: -1;
        }
        ul {
            margin: -17px -10px;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            
        }
        li {
            @include colSize(3);
            padding: 17px 10px;
        }
    }
    .member_image {
        @extend %square;
        border-radius: 50%;
        max-width: 170px;
        margin: 0 auto 10px;
    }
    .member_name {
        line-height: 30px;
        color: $bgColor;
        font-family: $bold;
    }
    .member_post {
        line-height: 20px;
        color: $lightText;
    }
    @include mediaRange($size960, $size1200) {
        padding: 40px 0 50px;
        .members_list {
            &:before {
                top: -40px;
                bottom: -40px;
            }
        }
        .member_name {
            line-height: 24px;
        }
        .member_post {
            line-height: 18px;
        }
    }
    @include mediaRange($size768, $size960) {
        margin-top: 30px;
        padding: 20px 0 30px;
        .section_head {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .members_list {
            &:before {
                top: -20px;
                bottom: -20px;
            }
            li {
                @include colSize(4);
            }
        }
        .member_name,
        .member_post {
            line-height: 18px;
        }
        .member_name {
            margin-bottom: 10px;;
        }
    }
    

    @include mediaTo($size768) {
        margin-top: 30px;
        padding: 0;
       .page_container {
           flex-wrap: wrap;
       }
        .section_head {
            @include colSize(12);
            height: auto;
            padding: 24px $containerPadding;
            background: $bgColor;
            &:before {
                display: none;
            }
        }
        .members_list {
            @include colSize(12);
            padding-bottom: 24px;
            padding-top: 16px;
            padding-left: 0;
            ul {
                margin-top: -15px;
                margin-bottom: -15px;
            }
            li {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .member_image {
                margin-bottom: 8px;
            }
            .member_name {
                margin-bottom: 6px;
                line-height: 16px;
            }
            .member_post {
                line-height: 16px;
            }
            &:before {
                left: -$containerPadding;
                box-shadow: none;
                top: -16px;
                bottom: 0;
            }
        }
    }
    @include mediaRange($size480, $size640) {
        .members_list li {
            @include colSize(4);
        }
    }
    @include mediaTo($size480) {
        .members_list li {
            @include colSize(6);
        }
    }
}