.page_head_block {
    .info_block {
        justify-content: flex-end;
        padding-bottom: 24px;
    }
    .news_title {
        font-family: $bold;
        font-size: 240%;
        line-height: 50px;
        color: inherit;
        margin: 0;
        letter-spacing: 0.1em;
    }
    .date_time {
        color: $menuBg;
        border-top: 1px solid rgba($fieldBg, 0.5);
        margin-top: 64px;
        padding-top: 14px;
    }
    @include mediaRange($size960, $size1200) {
        .news_title {
            font-size: 200%;
            line-height: 42px;
        }
        .date_time {
            font-size: 140%;
            margin-top: 40px;
        }
    }
    @include mediaTo($size960) {
        .news_title {
            font-size: 160%;
            line-height: 30px;
        }
        .date_time {
            font-size: 120%;
            margin-top: 32px;
        }
    }
}