.listing_section {
    @include overHidden;
    .news_list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0 -21px;
        li {
            @include colSize(4);
            margin-bottom: 80px;
            padding: 0 21px;
        }
    }
    .news_block {
        border: 1px solid $fieldBg;
        padding: 16px 16px 26px;
    }
    .title_block {
        height: 90px;
        margin-bottom: 16px;
        a {
            -webkit-line-clamp: 3;
        }
    }
    
    @include mediaRange($size960, $size1200) {
        .news_list {
            margin: 0 -16px;
            li {
                padding: 0 16px;
                margin-bottom: 40px;
            }
        }
    }
    @include mediaRange($size576, $size960) {
        .news_list li {
            @include colSize(6);
        }
    }
    @include mediaTo($size960) {
        .news_list {
            margin: 0 -12px;
            li {
                padding: 0 12px;
                margin-bottom: 20px;
            }
        }
        .title_block {
            height: 120px;
            -webkit-line-clamp: 4;
            a {
                -webkit-line-clamp: 4;
            }
        }
    }

    @include mediaTo($size576) {
        .news_list li {
            @include colSize(12);
        }
    }
}

.date_time {
    display: flex;
    font-size: 140%;
    line-height: 30px;
    color: $dateColor;
    letter-spacing: 0.1em;
    span {
        display: flex;
        &:not(:first-child):before {
            content: "|";
            margin: 0 10px;
        }
    }
}