@font-face {
    font-family: 'nicolo-bold';
    src: url('../fonts/Nicolo-Bold/Nicolo-Bold.eot');
    src: url('../fonts/Nicolo-Bold/Nicolo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nicolo-Bold/Nicolo-Bold.woff2') format('woff2'),
    url('../fonts/Nicolo-Bold/Nicolo-Bold.woff') format('woff'),
    url('../fonts/Nicolo-Bold/Nicolo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'nicolo';
    src: url('../fonts/Nicolo-Regular/Nicolo-Regular.eot');
    src: url('../fonts/Nicolo-Regular/Nicolo-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Nicolo-Regular/Nicolo-Regular.woff2') format('woff2'),
    url('../fonts/Nicolo-Regular/Nicolo-Regular.woff') format('woff'),
    url('../fonts/Nicolo-Regular/Nicolo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icon';
    font-display: 'auto';
    src: url('../fonts/icons/icomoon.eot?jfkyu0');
    src: url('../fonts/icons/icomoon.eot?jfkyu0#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?jfkyu0') format('truetype'),
    url('../fonts/icons/icomoon.woff?jfkyu0') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class*="icon_"] {
    @extend %iconElement;
}

//social icons
.icon_facebook:before {
    content: "\e90a";
}

.icon_instagram:before {
    content: "\e90b";
}

.icon_linkedin:before {
    content: "\e90c";
}

.icon_twitter:before {
    content: "\e90d";
}

.icon_pinterest:before {
    content: "\e90e";
}

.icon_youtube:before {
    content: "\e90f";
}

.icon_telegram:before {
    content: "\e91a";
}

.icon_ok:before {
    content: "\e91b";
}

.icon_vk:before {
    content: "\e91c";
}

.icon_google:before {
    content: "\e91d";
}

.icon_tiktok:before {
    content: "\e91e";
}

.icon_flickr:before {
    content: "\e91f";
}

//other icons
.icon_down:before {
    content: "\e901";
}

.icon_left:before {
    content: "\e902";
}

.icon_right:before {
    content: "\e903";
}

.icon_close:before {
    content: "\e904";
}

.icon_checked:before {
    content: "\e905";
}

.icon_info:before {
    content: "\e906";
}

.icon_favorite:before {
    content: "\e907";
}

.icon_globe:before {
    content: "\e908";
}

.icon_calendar:before {
    content: "\e909";
}

.icon_copy_custom:before {
    content: "\e900";
}

.icon_copy_one:before {
    content:url("../css/images/copy-icon1.svg");
    width: 15px;
    height: 15px;
    display: block;
}

.icon_copys:before {
    content:url("../css/images/copy-icon2.svg");
    width: 17px;
    height: 17px;
    display: block;
}

.icon_files_empty:before {
    content: "\e925";
}

.icon_pdf:before {
    content: "\e910";
}
