.footer {
    opacity: 0;
    @extend %opacity300;
    &_top {
        background: $menuBg;
        padding: 10px 0;
        .page_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &_middle {
        background: $bgColor;
        padding-top: 40px;
        padding-bottom: 28px;
        .page_container {
            display: flex;
            align-items: flex-start;
        }
    }
    &_bottom {
        padding: 6px 0;
        background: $footerMiddleBg;
        color: $lightText;
        font-size: 120%;
        line-height: 25px;
        letter-spacing: 0.08em;
        .page_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .logo_block img {
        display: block;
        width: auto;
        height: 96px;
    }
    .socials_list a {
        color: $bgColor;
        @include standardHover;
    }
    &_contacts {
        flex: 0 0 33.33%;
        max-width: 374px;
        padding-right: 32px;
        position: relative;
        font-size: 180%;
        border-right: 1px solid $lightText;
        padding-top: 10px;
    }
    .contact_block {
        margin-bottom: 36px;
    }
    .contact_type {
        line-height: 22px;
        letter-spacing: 0.1em;
        color: $lightText;
    }
    .contact_info {
        line-height: 25px;
        color: $white;
        margin-top: 7px;
        letter-spacing: 0.04em;
        a {
            display: inline-block;
            vertical-align: top;
            color: inherit;
            max-width: 100%;
            @include overHidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            @include standardHover;
        }
    }
    &_menu {
        flex: 1;
        width: 50%;
        padding-top: 34px;
        color: #abb4c2;
        font-size: 140%;
        line-height: 17px;
        letter-spacing: 0.11em;
        
        > ul {
            margin: 0 -40px 0 0;
            padding: 0;
            list-style-type: none;
            &:after {
                display: block;
                content: "";
                clear: both;
            }
            > li {
                float: left;
                width: 33.33%;
                padding: 0 40px 14px;
                padding-bottom: 14px;
                > div {
                    color: #007093;
                }
            }
            ul {
                @extend %standardList;
                li {
                    padding-top: 14px;
                }
            }
        }
        a {
            display: inline-block;
            vertical-align: top;
            color: inherit;
            @include standardHover;
        }
       
    }
    .copyrights {
        padding-right: $colPadding;
    }
    .developer {
        padding-left: $colPadding;
        a {
            display: inline-block;
            vertical-align: middle;
            @include opacityHover;
            font-size: 0;
            line-height: 0;
            img {
                display: block;
                width: auto;
                height: 17px;
                @extend %noBlink;
            }
        }
    }
    @include mediaRange($size960, $size1200) {
        &_top {
            padding: 15px 0;
        }
        .logo_block img {
            height: 85px;
        }
        &_middle {
            padding-top: 30px;
        }
        &_menu > ul {
            margin-right: -20px;
            > li {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        &_bottom {
            padding: 12px 0;
        }
    }
    @include mediaRange($size576, $size960) {
        &_top {
            padding: 20px 0;
        }
        &_menu > ul {
            margin-right: -16px;
            > li {
                padding-left: 16px;
                padding-right: 16px;
                width: 50%;
                &:nth-child(n+3) {
                    width: 100%;
                }
            }
        }
    }
    @include mediaRange($size768, $size960) {
        &_bottom {
            padding: 18px 0;
        }
        
    }
    @include mediaTo($size960) {
        .logo_block img {
            height: 75px;
        }
        &_contacts {
            font-size: 160%;
        }
        .contact_type {
            line-height: 19px;
        }
        .contact_info {
            margin-top: 10px;
        }
        &_menu {
            > ul {
                > li {
                    padding-bottom: 24px;

                }
            }
        }
    }
    @include mediaTo($size768) {
        &_middle {
            padding-bottom: 4px;
            .page_container {
                display: block;
            }
        }
        &_contacts {
            flex: none;
            max-width: 100%;
            border-bottom: 1px solid $lightText;
            padding: 0 0 8px;
            border-right: none;
        }
        &_menu {
            flex: none;
            width: 100%;
            padding-top: 30px;
            > ul {
                margin-right: 0;
                > li {
                    padding: 0 0 24px;
                    width: 100%;
                    ul li {
                        padding-top: 20px;
                    }
                }
            }
        }
        &_bottom {
            text-align: center;
            padding: 24px 0 20px;
            .page_container {
                display: block;
            }
        }
        .copyrights {
            padding-right: 0;
            padding-bottom: 30px;
            max-width: 280px;
            margin: 0 auto;
        }
        .developer {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-left: 0;
            a {
                margin-top: 8px;
            }
        }
    }
    @include mediaTo($size576) {
        &_top {
            padding: 0;
            .page_container {
                display: block;
            }
        }
        .logo_block {
            padding: 25px 0;
            img {
                margin: 0 auto;
            }
        }
        .socials_list {
            background: $white;
            padding: 16px 0;
            margin: 0 #{-$containerPadding};
            justify-content: center;
        }
    }
}

.socials_list {
    @extend %standardList;
    display:  flex;
    li:not(:first-child) {
        margin-left: 16px;
    }
    a {
        display: block;
        font-size: 0;
        line-height: 0;
        &:before {
            display: block;
            font-size: 3rem;
        }
    }
    @include mediaRange($size960, $size1200) {
        li:not(:first-child) {
            margin-left: 20px;
        }
        a:before {
            font-size: 2.8rem;
        }
    }
    @include mediaTo($size960) {
        li:not(:first-child) {
            margin-left: 24px;
        }
        a:before {
            font-size: 2.5rem;
        }

    }
}