.footer {
    opacity: 0;
    @extend %opacity300;
    overflow: hidden;
    &_top {
        background: $bgColor;
        padding: 23px 0;
        .page_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &_middle {
        background: $menuBg;
        padding: 24px 0;
    }
    &_bottom {
        padding: 6px 0;
        background: $footerMiddleBg;
        color: $lightText;
        font-size: 120%;
        line-height: 25px;
        letter-spacing: 0.08em;
        .page_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .logo_block {
        margin-right: auto;
        img {
            display: block;
            width: auto;
            height: 95px;
        }
    }
    .socials_list a {
        color: $bgColor;
        @include standardHover;
    }
    &_contacts {
        margin: 0 $rowMargin;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .contact_block {
        padding: 0 $colPadding;
        font-size: 140%;
        line-height: 17px;
        letter-spacing: 0.11em;
    }
    .contact_type {
        color: $lightText;
        margin-bottom: 12px;
        white-space: nowrap;
    }
    .contact_info {
        color: $bgColor;
        max-width: 320px;
        a {
            display: inline-block;
            vertical-align: top;
            color: inherit;
            max-width: 100%;
            @include overHidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            @include standardHover;
        }
    }
    &_menu {
        margin-left: auto;
        color: #abb4c2;
        font-size: 140%;
        line-height: 17px;
        letter-spacing: 0.11em;
        
        > ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            max-width: 860px;
            &:after {
                display: block;
                content: "";
                clear: both;
            }
            > li {
                float: left;
                padding: 7px 0 7px 80px;
                min-width: 20%;
                > div {
                    color: #007093;
                }
            }
            ul {
                @extend %standardList;
                li {
                    padding-top: 14px;
                }
            }
        }
        a {
            display: inline-block;
            vertical-align: top;
            color: inherit;
            max-width: 240px;
            @include standardHover;
        }
       
    }
    .copyrights {
        padding-right: $colPadding;
    }
    .developer {
        padding-left: $colPadding;
        a {
            display: inline-block;
            vertical-align: middle;
            @include opacityHover;
            font-size: 0;
            line-height: 0;
            img {
                display: block;
                width: auto;
                height: 17px;
                @extend %noBlink;
            }
        }
    }
    @include mediaRange($size960, $size1200) {
        &_top {
            padding: 15px 0;
        }
        .logo_block img {
            height: 85px;
        }
        
        &_menu > ul {
            > li {
                padding-left: 40px;
            }
        }
        &_bottom {
            padding: 12px 0;
        }
    }
    @include mediaRange($size576, $size960) {
        &_top {
            padding: 20px 0;
        }
        &_menu > ul {
            max-width: 520px;
            > li {
                padding-left: 32px;
                width: 50%;
                &:nth-child(n+3) {
                    width: 100%;
                }
            }
        }
        .logo_block {
            align-self: flex-start;
            padding-top: 7px;
        }

    }
    @include mediaRange($size768, $size960) {
        &_bottom {
            padding: 18px 0;
        }
        &_contacts {
            flex-wrap: wrap;
        }
        .contact_block {
            @include colSize(6);
            &:nth-child(n+3) {
                margin-top: 24px;
            }
        }
        .contact_type {
            margin-bottom: 8px;
        }
        
    }
    @include mediaTo($size960) {
        .logo_block img {
            height: 75px;
        }
       
        &_menu {
            > ul {
                > li {
                    padding-bottom: 17px;

                }
            }
        }
    }
    @include mediaTo($size768) {
        .logo_block {
            padding: 0 0 30px;
            img {
                margin: 0 auto;
            }
        }
        &_contacts {
            flex-wrap: wrap;
        }
        .contact_block {
            @include colSize(12);
            &:not(:first-child) {
                margin-top: 32px;
            }
        }
        &_top .page_container {
            display: block;
        }
        &_menu {
            flex: none;
            width: 100%;
            > ul {
                margin-right: 0;
                > li {
                    padding: 0 0 17px;
                    width: 100%;
                    ul li {
                        padding-top: 20px;
                    }
                }
            }
        }
        &_bottom {
            text-align: center;
            padding: 24px 0 20px;
            .page_container {
                display: block;
            }
        }
        .copyrights {
            padding-right: 0;
            padding-bottom: 30px;
            max-width: 280px;
            margin: 0 auto;
        }
        .developer {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-left: 0;
            a {
                margin-top: 8px;
            }
        }
    }
    @include mediaTo($size576) {
        &_top {
            padding: 0;
            .page_container {
                display: block;
            }
        }
    }
}

.socials_list {
    @extend %standardList;
    display:  flex;
    li:not(:first-child) {
        margin-left: 16px;
    }
    a {
        display: block;
        font-size: 0;
        line-height: 0;
        &:before {
            display: block;
            font-size: 3rem;
        }
    }
    @include mediaRange($size960, $size1200) {
        li:not(:first-child) {
            margin-left: 20px;
        }
        a:before {
            font-size: 2.8rem;
        }
    }
    @include mediaTo($size960) {
        li:not(:first-child) {
            margin-left: 24px;
        }
        a:before {
            font-size: 2.5rem;
        }

    }
}