@use "sass:math";

html {
    height: 100%;
    font-size: 10px;
    line-height: 1.4286em;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    color: $textColor;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    min-height: 100%;
    font-family: $regular;
    @include popupBody($textColor, 0.4, 0.5s);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
select,
textarea,
button,
a,
.slick-slide {
    outline: none !important;
}

a,
a:focus,
a:hover,
button:hover {
    text-decoration: none;
}

a {
    color: $siteColor;
}

button {
    cursor: pointer;
    display: block;
}

img {
    max-height: none;
    border: none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input,
textarea,
button {
    font-family: inherit;
    font-size: 100%;
}

.page_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: $rowMargin;
    margin-right: $rowMargin;

    .cb {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.page_container {
    width: 100%;
    max-width: $containerWidth + 2*$containerPadding;
    padding-left: $containerPadding;
    padding-right: $containerPadding;
    margin: 0 auto;

    .standard_content {
        padding: 0;
        max-width: 720px;
    }
}

.phone_link:not(.clickable) {
    color: inherit;
    cursor: default;
    pointer-events: none;
}

.individual_hint,
.drop_list,
.drop_block {
    display: none;
}

.error_hint {
    display: block;
    max-height: 0;
    @extend %all300;
    overflow: hidden;
    font-size: 120%;
    line-height: 15px;
    text-align: right;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 5px;
}

.label {
    display: none;
}

.help-block.form-error {
    display: none !important;
}

.has-error {
    .error_hint,
    + .error_hint,
    ~ .error_hint {
        max-height: 60px;
    }
}

.field_block {
    position: relative;
    margin-bottom: 40px;

    input,
    textarea {
        width: 100%;
        border: none;
        font-size: 140%;
        line-height: 18px;
        letter-spacing: 0.08em;
        padding: 14px 16px;
    }

    textarea {
        resize: none;
        display: block;
    }

    @include mediaTo($size960) {
        margin-bottom: 30px;
    }

    &.full_field {
        @include colSize(12);
    }

    .placeholder {
        opacity: 1 !important;
        @extend %standardText;
        color: $menuBg;
        position: absolute;
        top: 13px;
        left: 16px;
        z-index: 2;
        pointer-events: none;
        @extend %all300;
    }

    input {
        @extend %all300;

        &:focus {
            border-color: $textColor;
        }
    }

    input:focus ~,
    textarea:focus ~,
    .filled {
        .placeholder {
            top: -18px;
            font-size: 110%;
            line-height: 14px;
        }
    }
}

.cb {
    display: block;
    clear: both;
}

.section_title {
    font-family: $bold;
    margin: 0;
}

.primary_btn {
    border: none;
    background: $siteColor;
    color: $white;
    padding: 15px 30px;
    font-size: 180%;
    line-height: 22px;
    min-width: 230px;
    letter-spacing: 0.09em;
    text-align: center;
    position: relative;
    @include standardBgHover;
    @include mediaTo($size960) {
        font-size: 160%;
        padding-top: 10px;
        padding-bottom: 10px;
        min-width: 165px;
    }

    &.loading {
        pointer-events: none;
        color: transparent;
        @extend %textUnSelect;

        img {
            opacity: 0;
        }

        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -4px -8px;
            border-radius: 50%;
            color: $white;
            display: block;
            width: 8px;
            height: 8px;
            content: "";
            animation: loadAnimation 1.6s infinite linear;
        }
    }
}

.secondary_btn {
    border: none;
    background: $fieldBg;
    color: $siteColor;
    padding: 15px 30px;
    font-size: 180%;
    line-height: 22px;
    min-width: 230px;
    letter-spacing: 0.09em;
    text-align: center;
    position: relative;
    @include standardReverseHover;
    @include mediaTo($size960) {
        font-size: 160%;
        padding-top: 10px;
        padding-bottom: 10px;
        min-width: 165px;
    }

    &.loading {
        pointer-events: none;
        color: transparent;
        @extend %textUnSelect;

        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -4px -8px;
            border-radius: 50%;
            color: $siteColor;
            display: block;
            width: 8px;
            height: 8px;
            content: "";
            animation: loadAnimation 1.6s infinite linear;
        }
    }
}

a.primary_btn,
a.secondary_btn {
    display: inline-block;
    vertical-align: top;
}

.slick-arrow {
    z-index: 3;
    font-size: 0;
    width: 86px;
    height: 40px;
    color: $white;
    background: $btnBg;
    border: none;
    @include standardBgHover;

    &:before {
        display: block;
        @extend %iconElement;
        font-size: 2.2rem;
    }

    @include mediaTo($size960) {
        width: 70px;
        height: 32px;
        &:before {
            font-size: 1.8rem;
        }
    }
}

.slick-prev:before {
    content: "\e902";
}

.slick-next:before {
    content: "\e903";
}

.section_title {
    margin: 0;
    color: $bgColor;
    @extend %size30;
    @include mediaFrom($size1200) {
        text-align: center;
    }
}

.news_block {
    .image_block {
        @include overHidden;
        padding-bottom: 69.33%;
        @extend %centeredImage;
        margin-bottom: 26px;
    }

    a.image_block {
        display: block;
        font-size: 0;
        line-height: 0;

        img {
            @extend %noBlink;
            @extend %all300;
        }
    }

    .date_block {
        font-size: 200%;
        line-height: 1.2em;
        font-family: $bold;
        margin-bottom: 10px;
        letter-spacing: 0.09em;
    }

    .title_block {
        @include textOverflow(4, relative);
        font-size: 160%;
        line-height: 30px;
        margin-bottom: 30px;
        letter-spacing: 0.09em;
        height: 120px;

        a {
            color: inherit;
            @extend %color300;
            @include textOverflow(4, relative);
        }
    }

    &.hovered {
        a.image_block img {
            @include transStyle(scale(1.1));
        }

        .title_block a {
            color: $siteColor;
        }
    }

    @include mediaTo($size960) {
        .image_block {
            margin-bottom: 24px;
        }
        .date_block {
            font-size: 160%;
            margin-bottom: 15px;
        }
        .title_block {
            font-size: 140%;
            -webkit-line-clamp: 3;
            height: 90px;
        }
    }
}

.more_link {
    display: flex;
    align-items: center;
    font-size: 140%;
    line-height: 17px;
    letter-spacing: 0.09em;
    color: $siteColor;
    @include standardHover;

    &:before {
        display: block;
        content: "";
        border-top: 1px solid;
        flex: 1;
        width: 50%;
        margin-right: 10px;
    }

    @include mediaTo($size960) {
        font-size: 120%;
        line-height: 15px;
    }
}

.content {
    @include mediaFrom($size960) {
        padding-bottom: 50px;
    }
    @include mediaTo($size960) {
        padding-bottom: 30px;
    }
}

.page_title {
    font-size: 240%;
    line-height: 1.2em;
    font-family: $bold;
    margin: 0;
    color: inherit;
    letter-spacing: 0.04em;

    &_block {
        padding-top: 40px;
        padding-bottom: 32px;
        color: $bgColor;
    }

    @include mediaRange($size960, $size1200) {
        &_block {
            padding-top: 32px;
            padding-bottom: 24px;
        }

    }
    @include mediaTo($size960) {
        font-size: 200%;
        &_block {
            padding-top: 24px;
            padding-bottom: 16px;
        }
    }
}

.page_head_block {
    margin-top: 40px;
    padding: 62px 0;
    @include overHidden;

    .image_block {
        @include overHidden;
        @extend %centeredImage;
    }

    .info_block {
        flex: 0 0 40%;
        max-width: 40%;
        color: $white;
        position: relative;
        z-index: 2;
        padding: 62px 35px 62px 0;
        display: flex;
        flex-direction: column;

        &:before {
            @include psevdoAbs;
            top: -62px;
            right: 0;
            width: 100vw;
            bottom: -62px;
            background: $bgColor;
            box-shadow: 10px 10px 0 rgba($black, 0.1);
            z-index: -1;
        }
    }

    .page_title:first-child:last-child {
        margin: auto 0;
    }

    .page_description {
        font-size: 160%;
        line-height: 30px;
        letter-spacing: 0.04em;
        margin-top: 47px;
        padding-top: 36px;
        border-top: 1px solid rgba($fieldBg, 0.5);
    }

    @include mediaFrom($size1200) {
        .head_inner {
            height: 36.11vw;
            position: relative;
            max-height: 520px;
        }
        .image_block {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            left: 50%;
            margin-left: -0.1 * $containerWidth;
        }
        .info_block {
            height: 100%;
        }
    }
    @include mediaRange($size960, $size1200) {
        padding: 40px 0;
        .info_block {
            &:before {
                top: -40px;
                bottom: -40px;
            }
        }
        .page_description {
            margin-top: 32px;
            padding-top: 24px;
        }
        .image_block {
            flex: 0 0 60%;
            max-width: 60%;
        }
        .info_block {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
    @include mediaRange($size640, $size960) {
        margin-top: 30px;
        padding: 20px 0;
        .info_block {
            @include colSize(6);
            padding-top: 30px;
            padding-bottom: 30px;

            &:before {
                top: -20px;
                bottom: -20px;
            }
        }
        .page_description {
            margin-top: 24px;
            padding-top: 16px;
        }
        .image_block {
            @include colSize(6);
        }
    }
    @include mediaTo($size1200) {
        .page_container {
            display: flex;
            padding: 0;
        }
        .info_block {
            padding-left: $containerPadding;
            padding-right: $containerPadding;
        }
        .image_block {
            &:before {
                display: block;
                content: "";
                padding-bottom: 60%;
            }
        }
    }


    .info_inner {
        max-width: 37.5%;
        padding-right: 35px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .full_width_block,
    .page_container {
        height: 100%;
    }

    @include mediaTo($size960) {
        .page_description {
            font-size: 140%;
            line-height: 24px;
        }
    }
    @include mediaTo($size640) {
        margin-top: 0;
        padding: 0;
        .image_block {
            @include colSize(12);
        }
        .info_block {
            @include colSize(12);
            order: 2;
            padding: 0 2* $containerPadding 24px;

            &:before {
                width: auto;
                left: $containerPadding;
                right: $containerPadding;
                top: -24px;
                bottom: 0;
            }
        }
        .page_description {
            margin-top: 16px;
            padding-top: 16px;
        }
        .page_container {
            flex-wrap: wrap;
        }
    }
}

.info_section {
    margin-top: 30px;
    @include overHidden;

    .page_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .page_title {
        @include colSize(12);
    }

    .image_block {
        flex: 0 0 47.5%;
        max-width: 47.5%;
        position: relative;
        margin: 62px 0;

        &:before {
            padding-bottom: 103.5%;
            display: block;
            content: "";
        }

        video,
        img {
            @extend %coverLayer;
            object-fit: cover;
            z-index: 2;
            box-shadow: -10px 10px rgba($black, 0.1);
        }

        &:after {
            @include psevdoAbs;
            top: -62px;
            bottom: -62px;
            left: 57.5%;
            width: 100vw;
            background: $btnBg;
        }
    }

    .info_block {
        flex: 0 0 52.5%;
        max-width: 52.5%;
        padding-right: 60px;
        align-self: center;
    }

    .inner_block {
        &:not(:first-child) {
            margin-top: 45px;
        }
    }

    .title_block {
        font-size: 240%;
        line-height: 42px;
        color: $secondColor;
        font-family: $bold;
        letter-spacing: 0.1em;
        display: flex;
        align-items: center;

        &:before {
            order: 2;
            display: block;
            content: "";
            border-top: 1px solid;
            margin-right: -3px;
            margin-left: 16px;
            flex: 1;
            width: 10%;
            max-width: 149px;
        }

        &:after {
            order: 3;
            display: block;
            content: "";
            min-width: 5px;
            border-top: 5px solid;
            border-radius: 5px;
        }
    }

    .text_block {
        margin-top: 13px;
        font-size: 160%;
        line-height: 30px;
        letter-spacing: 0.1em;

        ul {
            @extend %standardList;

            li {
                margin-top: 36px;
                display: flex;
                align-items: flex-start;

                &:before {
                    min-width: 12px;
                    height: 12px;
                    background: $menuBg;
                    margin-right: 24px;
                    content: "";
                    display: block;
                    margin-top: 9px;
                }
            }
        }
    }

    .video_btn {
        border: none;
        @extend %coverLayer;
        z-index: 2;
        @include opacityHover;
        @extend %centerBlock;
        background: url('images/play.svg') no-repeat;
        background-size: 20%;
        background-position: center;
    }

    .include_info {
        margin-top: 6px;
        font-size: 125%;
    }

    .playing .video_btn {
        background: transparent;
        opacity: 0;
        @include opacityHover;

        &:before {
            display: block;
            content: "";
            width: 20%;
            padding-bottom: 20%;
            border-radius: 50%;
            background: $white;
            opacity: 0.7;
        }

        &:after {
            @include psevdoAbs;
            top: 50%;
            left: 50%;
            border-style: solid;
            border-width: 0 6px;
            border-color: $btnBg;
            width: 5%;
            padding-bottom: 8%;
            @include transStyle(translate3d(-50%, -50%, 0));

        }

    }

    @include mediaRange($size960, $size1200) {
        .image_block {
            margin: 40px 0;

            &:after {
                top: -40px;
                bottom: -40px;
            }
        }
        .inner_block:not(:first-child) {
            margin-top: 32px;
        }
        .title_block {
            font-size: 200%;
            line-height: 35px;
        }
        .info_block {
            padding-right: 40px;
        }
        .text_block ul li {
            margin-top: 32px;

            &:before {
                margin-right: 16px;
            }
        }
    }

    @include mediaRange($size640, $size960) {
        .page_container {
            align-items: flex-start;
        }
        .image_block {
            @include colSize(6);
            margin: 20px 0;

            &:after {
                top: -20px;
                bottom: -20px;
            }
        }
        .info_block {
            @include colSize(6);
            padding-right: 20px;
        }
        .text_block ul li {
            margin-top: 24px;

            &:before {
                margin-right: 12px;
            }
        }
    }
    @include mediaTo($size960) {
        .inner_block:not(:first-child) {
            margin-top: 24px;
        }
        .text_block {
            margin-top: 10px;
            font-size: 140%;
            line-height: 28px;

            ul li {
                display: block;

                &:before {
                    float: left;
                    margin-top: 8px;
                }
            }
        }
        .title_block {
            font-size: 160%;
            line-height: 29px;
        }
    }
    @include mediaTo($size640) {
        .page_container {
            flex-wrap: wrap;
        }
        .page_title {
            margin-bottom: 16px;
        }
        .image_block {
            @include colSize(12);
            margin: 24px 0;

            &:after {
                width: auto;
                top: -24px;
                width: 66.56vw;
                left: auto;
                right: -$containerPadding;
                bottom: -24px;
            }
        }
        .info_block {
            margin-top: 24px;
            order: 2;
            padding-right: 0;
            @include colSize(12);
        }
        .text_block ul li {
            margin-top: 16px;

            &:first-child {
                margin-top: 0;
            }

            &:before {
                margin-right: 8px;
            }
        }
    }
}

.paging {
    padding-bottom: 4px;

    ul {
        @extend %standardList;
        font-size: 160%;
        line-height: 20px;
        color: $menuBg;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            &:not(:first-child) {
                margin-left: 3px;
            }
        }

        a {
            color: inherit;
            @include standardHover;
            @extend %centerBlock;
            min-width: 33px;
            height: 30px;
            padding: 5px;

            &.current_page {
                background: $secondColor;
                color: $white;
                pointer-events: none;
            }

            &.prev_page,
            &.next_page {
                font-size: 0;
                width: 46px;
                position: relative;
                color: $bgColor;
                background: $menuBg;

                &:before {
                    display: block;
                    font-size: 1.2rem;
                    position: absolute;
                    top: 9px;
                    font-weight: 900;
                }

                &:after {
                    @include psevdoAbs;
                    top: 14px;
                    border-top: 2px solid;
                    width: 26px;
                }
            }

            &.prev_page {
                box-shadow: -4px 4px 0 rgba($black, 0.05);

                &:before,
                &:after {
                    left: -7px;
                }
            }

            &.next_page {
                box-shadow: 4px 4px 0 rgba($black, 0.05);

                &:before,
                &:after {
                    right: -7px;
                }
            }
        }
    }
}

.images_slider {
    margin-bottom: 80px;
    @include overHidden;

    &:before {
        @include psevdoAbs;
        left: 0;
        width: 100%;
        top: 62px;
        bottom: 62px;
        background: $menuBg;
        z-index: -1;
    }

    .slider_list {
        @include slider;
        margin: 0 -27px;

        .slide_block {
            @include slide(4, top);
            padding: 0 27px 38px;
        }

        .image_block {
            display: block;
            padding-bottom: 138.5%;
            @include overHidden;
            @extend %centeredImage;
            filter: drop-shadow(10px 10px 0 rgba($black, 0.1));
            -webkit-filter: drop-shadow(10px 10px 0 rgba($black, 0.1));

            img {
                @extend %noBlink;
            }
        }

        a.image_block {
            font-size: 0;
            line-height: 0;
            @include opacityHover;
        }

        &.slick-slider {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .slick-list {
            @include colSize(12);
        }
    }

    .slick-arrow {
        order: 2;
        margin: 24px 8px 0;
    }

    @include mediaRange($size960, $size1200) {
        margin-bottom: 50px;
        .slider_list {
            margin: 0 -20px;

            .slide_block {
                padding: 0 20px 30px;
            }
        }
    }
    @include mediaRange($size640, $size960) {
        .slider_list {
            margin: 0 -24px;

            .slide_block {
                width: 33.33%;
                padding: 0 24px 24px;
            }
        }
    }
    @include mediaRange($size480, $size640) {
        .slider_list {
            margin: 0 -16px;

            .slide_block {
                width: 50%;
                padding: 0 16px 24px;
            }
        }
    }
    @include mediaTo($size960) {
        margin-bottom: 30px;
        &:before {
            top: 56px;
            bottom: 56px;
        }
        .slick-arrow {
            margin-left: 12px;
            margin-right: 12px;
        }
    }
    @include mediaTo($size480) {
        padding-bottom: 30px;
        &:before {
            top: 50%;
            bottom: 0;
            margin-top: -46px;
        }
        .slick-arrow {
            margin-top: 30px;
        }
        .slider_list {
            margin: 0 #{-$containerPadding};

            .slide_block {
                width: 100%;
                padding: 0 30px;
            }

            .image_block {
                filter: none;
                -webkit-filter: none;
            }
        }
    }
}

.video_section {
    background: $footerMiddleBg;
    padding: 40px $containerPadding;
    color: $white;

    .section_inner {
        max-width: 890px;
        margin: 0 auto;
    }

    .section_description {
        font-size: 240%;
        line-height: 30px;
        font-family: $bold;
        letter-spacing: 0.04em;
        margin-bottom: 28px;;
    }

    iframe {
        width: 100%;
        max-width: 100%;
        height: 500px;
        max-height: 56vw;
    }

    @include mediaRange($size960, $size1200) {
        padding-top: 30px;
        padding-bottom: 30px;
        .section_description {
            font-size: 200%;
            line-height: 28px;
        }
    }
    @include mediaTo($size960) {
        padding-top: 24px;
        padding-bottom: 24px;
        .section_description {
            font-size: 140%;
            line-height: 26px;
            margin-bottom: 24px;
        }
    }
}

.standard_content {
    max-width: 720 + 2 * $containerPadding;
    padding: 0 $containerPadding;
    margin: 40px auto 50px;
    font-size: 160%;
    line-height: 29px;
    letter-spacing: 0.1em;

    h2 {
        font-size: 150%;
        line-height: 1.25em;
        font-family: $bold;
        margin: 0 0 40px;
        color: $bgColor;
        letter-spacing: 0.1em;
    }

    h3 {
        font-size: 125%;
        line-height: 1.2em;
        font-family: $bold;
        color: $bgColor;
        letter-spacing: 0.1em;
        margin: 0 0 32px;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        max-width: 100%;
        margin: 30px 0;
    }

    iframe {
        width: 100%;
        height: 405px;
        max-width: 100%;
        max-height: 56vw;
        margin: 30px 0;
    }

    ul {
        margin: 0;
        padding-left: 20px;
    }

    a:hover {
        text-decoration: underline;
    }

    @include mediaTo($size960) {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 140%;
        line-height: 30px;
        h2 {
            margin-bottom: 30px;
        }
        h3 {
            margin-bottom: 24px;
        }
        iframe,
        img {
            margin: 24px 0;
        }
    }
}


@keyframes loadAnimation {
    9% {
        box-shadow: none;
    }
    10% {
        box-shadow: -8px 0 0;
    }
    35% {
        box-shadow: -8px 0 0;
    }
    36% {
        box-shadow: -8px 0 0, 8px 0 0;
    }
    60% {
        box-shadow: -8px 0 0, 8px 0 0;
    }
    61% {
        box-shadow: -8px 0 0, 8px 0 0, 24px 0 0;
    }
    85% {
        box-shadow: -8px 0 0, 8px 0 0, 24px 0 0;
    }
    86% {
        box-shadow: none
    }
}

.popup_block {
    @include popupBlock(0.5s);
}

.popup_inner {
    @include popupInner($containerPadding);
}

.popup_container {
    @include popupContainer($white, 630px, 68px 72px 38px);
    position: relative;
    text-align: center;

    .page_title {
        line-height: 2em;
        color: $secondColor;
        margin-bottom: 33px;
    }

    .status_icon {
        color: $bgColor;
        display: inline-flex;
        vertical-align: top;
        align-items: center;
        justify-content: center;
        font-size: 360%;
        border: 1px solid;
        border-radius: 50%;
        width: 90px;
        height: 90px;

        &:before {
            display: block;
        }
    }

    .thanks_title {
        font-size: 400%;
        line-height: 1.2em;
        letter-spacing: 0.1em;
        font-family: $bold;
        margin-top: -30px;
        color: $secondColor;
    }

    .thanks_subtitle {
        margin-top: 15px;
        font-size: 250%;
        line-height: 47px;
        letter-spacing: 0.04em;
        color: $lightText;
    }

    .icon_block {
        margin: 45px auto 40px;
        max-width: 505px;
        border-bottom: 1px solid rgba($secondColor, 0.5);

        img {
            display: inline-block;
            vertical-align: top;
            width: auto;
            height: 109px;
        }
    }

    .description_block {
        font-size: 160%;
        line-height: 30px;
        letter-spacing: 0.1em;
        max-width: 505px;
        margin: 0 auto;
        color: $lightText;
    }

    @include mediaRange($size576, $size960) {
        padding: 50px 30px 24px;
        .status_icon {
            width: 60px;
            height: 60px;
            font-size: 200%;
        }
        .page_title {
            margin-bottom: 24px;
        }
    }
    @include mediaRange($size576, $size960) {
        .thanks_title {
            font-size: 320%;
            line-height: 40px;
            margin-top: -16px;
        }
        .thanks_subtitle {
            margin-top: 12px;
            font-size: 200%;
            line-height: 40px;
        }
        .icon_block {
            margin: 30px auto;
        }
    }
    @include mediaTo($size576) {
        padding: 50px 16px 24px;
        .status_icon {
            width: 44px;
            height: 44px;
            font-size: 160%;
        }
        .page_title {
            margin-bottom: 16px;
        }
        .thanks_title {
            font-size: 240%;
            line-height: 32px;
            margin-top: 0;
        }
        .thanks_subtitle {
            margin-top: 8px;
            font-size: 160%;
            line-height: 32px;
        }
        .icon_block {
            margin: 24px auto;
        }
        .description_block {
            font-size: 140%;
        }
    }

}

.popup_close.icon_close {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    padding: 15px;
    background: transparent;
    font-size: 140%;
    color: $lightText;
    @include siteColorHover;

    &:before {
        display: block;
        font-weight: 700;
    }

    @include mediaTo($size576) {
        top: 0;
        right: 0;
    }
}

.switch_block {
    @include animStyle(opacity 0.5s);
    display: flex;
    flex-direction: column;
    padding: 24px 32px 40px;
    min-height: inherit;
    @include placeholder {
        color: $white;
    }

    input,
    textarea {
        color: $white;
        background: $footerMiddleBg;
    }

    textarea {
        height: 160px;
    }

    .primary_btn {
        margin-left: auto;
    }

    .error_hint {
        color: $siteColor;
    }

    .switch_top {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 60px;
        color: inherit;
    }

    .back_btn {
        border: none;
        background: transparent;
        padding: 5px;
        color: $white;
        font-size: 160%;
        margin-left: -5px;
        margin-right: 15px;
        @include standardHover;

        &:before {
            display: block;
            font-weight: 700;
        }
    }

    form {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .btn_block {
        margin-top: auto;
    }

    &:not(.active) {
        height: 0;
        overflow: hidden;
        opacity: 0;
        padding: 0;
        min-height: 0;
    }

    [data-validation] ~ .label {
        display: block;
        font-size: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 7px;
        height: 7px;
        pointer-events: none;
        border: solid $siteColor;
        border-width: 1px 0 0 1px;
    }

    @include mediaTo($size960) {
        padding: 20px 20px 30px;
        .switch_top {
            margin-bottom: 40px;
        }
    }
    @include mediaTo($size576) {
        form .btn_block button {
            margin-right: auto;
        }
    }
}

.switch_content {
    opacity: 0;

    &.opened .info_preview {
        display: none;
    }
}

.financial_section {
    margin-top: 30px;

    .financial_list {
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0 $rowMargin;


        li {
            margin-bottom: 50px;
            @include colSize(3);
            padding: 0 $colPadding;
            @include mediaTo($size1024){
                @include colSize(4);
            }
            @include mediaTo($size640){
                @include colSize(6);
            }
            @include mediaTo($size480){
                @include colSize(12);
            }
        }

        a {
            display: flex;
        //    align-items: center;
            color: $textColor;
            @include standardHover;
            line-height: 1.2em;
            letter-spacing: 0.1em;
            @include mediaFrom($size1200) {
                font-size: 180%;
            }
            @include mediaRange($size576, $size1200) {
                font-size: 160%;
            }
            @include mediaTo($size576) {
                font-size: 140%;
            }
            &:before{
                color: $secondColor;
                margin-right: 15px;
                font-size: 3rem;
            }
        }

        img {
            width: 100%;
            height: auto;
            max-width: 46px;
            max-height: 46px;
            display: block;
            margin-right: 20px;
        }

        @include mediaTo($size768) {
            img {
                max-width: 40px;
                margin-right: 12px;
            }
        }
        @include mediaTo($size576) {
            img {
                max-width: 50px;
                margin-right: 15px;
            }
        }
        @include mediaTo($size576) {
            img {
                max-width: 40px;
                margin-right: 15px;
            }
        }
    }
}