.header {
    z-index: 100;
    position: relative;
    height: 100px;
    font-size: 140%;
    line-height: 20px;
    letter-spacing: 0.04em;
    background: $menuBg;
    &_inner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: $menuBg;
        border-bottom: 1px solid transparent;
    }
    .page_container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .main_logo {
        margin-right: auto;
        @include overHidden;
        max-width: 250px;
        a {
            display: block;
            @include opacityHover;
            font-size: 0;
            line-height: 0;
        }
        img {
            display: block;
            @extend %noBlink;
            width: auto;
        }
    }
    .main_menu {
        @extend %standardList;
        > li {
            @extend %all300;
            > a {
                display: inline-flex;
                align-items: center;
                vertical-align: top;
                color: inherit;
                @include standardHover;
            }
            &.opened .submenu_btn:after {
                @extend %horizontalRotate;
            }
        }
    }
    .submenu_btn:after {
        @extend %iconElement;
        content: "\e901";
        font-size: 0.6rem;
        margin-left: 6px;
        display: block;
    }
    .submenu_list {
        display: none;
        @extend %standardList;
        color: $white;
        a {
            display: block;
            color: inherit;
            background: $secondColor;
            @include darkReverseHover;
        }

    }
    &_actions {
        display: flex;
        align-items: center;
    }
    .donate_btn {
        display: block;
        color: $white;
        padding-left: 16px;
        padding-right: 16px;
        &:not(.current) {
            background: $siteColor;
            @include standardReverseHover;
        }
        &.current {
            background: $secondColor;
            @include siteBgHover;
        }
    }
    .lg_btn {
        display: inline-block;
        vertical-align: top;
        color: inherit;
        @include standardHover;
    }

    .menu_btn {
        @include menuBtn(24px, 16px, $textColor, 7px 0, 2px, 70px, 0, -30px, 0.5s);
        z-index: 101;
        @include animStyle(transform 0.5s);
    }
    
    @include mediaFrom($size960) {
        .menu_btn {
            display: none;
        }
        .menu_block {
            flex: 1;
            width: 50%;
        }
        .menu_inner {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .main_menu {
            display: flex;
            align-items: center;
            > li {
                position: relative;
                &.current,
                &.opened {
                    background: $secondColor;
                    > a {
                        color: $white !important;
                    }
                }
            }
        }

        .submenu_list {
            position: absolute;
            left: 0;
            top: 100%;
            white-space: nowrap;
            min-width: 296px;
            li {
                padding-top: 2px;
            }
        }
    }
    @include mediaFrom($size1200) {
        .main_logo img {
            height: 86px;
        }
        .main_menu > li {
            padding: 40px 16px;
        }
        .donate_btn {
            padding-top: 40px;
            padding-bottom: 40px;
            margin-left: 16px;
        }
        .lg_btn {
            margin-left: 32px;
        }
        .submenu_list a {
            padding: 15px 16px;
        }
    }
    @include mediaRange($size960,$size1200) {
        height: 84px;
        font-size: 120%;
        &_inner {
            height: 84px;
        }
        .main_logo img {
            height: 70px;
        }
        .main_menu > li {
            padding: 32px 11px;
        }
        .donate_btn {
            padding-top: 32px;
            padding-bottom: 32px;
            margin-left: 11px;
        }
        .lg_btn {
            margin-left: 16px;
        }
        .submenu_list a {
            padding: 11px;
        }
    }
    @include mediaTo($size960) {
        height: 70px;
        font-size: 160%;
        line-height: 20px;
        &_inner {
            height: 70px;
        }
        .main_logo img {
            height: 58px;
        }
        .menu_block {
            @include mobileMenu(fixed, 0, $menuBg, 0.5s);
            z-index: 100;
        }
        .menu_inner {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
           
        }
        &_actions {
            padding: 21px $containerPadding 30px;
        }
        .main_menu {
            order: 2;
            flex: 1;
            height: 50%;
            min-height: 60vh;
            position: relative;
            overflow-x: hidden;
            overflow-y: auto;
            > li {
                padding-bottom: 24px;
                > a {
                    margin: 0 $containerPadding;
                }
                &.opened,
                &.current {
                    .submenu_btn {
                        color: $secondColor;
                    }
                }
            }
        }
        .submenu_list {
            &:before {
                display: block;
                content: "";
                height: 16px;
            }
            a {
                padding: 12px $containerPadding; 
            }
            li {
                background: $secondColor;
                padding: 0 $containerPadding;
                &:first-child {
                    padding-top: 6px;
                }
                &:last-child {
                    padding-bottom: 6px;
                }
                &:not(:first-child):before {
                    display: block;
                    content: "";
                    border-top: 1px solid;
                    margin: 0 $containerPadding;
                }
            }
        }
        .donate_btn {
            padding: 11px 16px;
        }
        .lg_btn {
            margin-left: 30px;
        }
    }
    &.compact {
        .header,
        .header_inner {
            height: 50px;
        }
        .header_inner {
            border-bottom-color: $siteColor;
        }
        .main_logo {
            max-width: 29px;
            img {
                height: 44px;
            }
        }
        @include mediaFrom($size960) {
            .main_menu > li,
            .donate_btn {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }
}

@include mediaTo($size960) {
    .menu_opened {
        overflow: hidden;
        .menu_block {
            height: 100%;
        }
        .menu_btn {
            @include menuClose(45deg);
            @include transStyle(translate3d(0,8px, 0));
        }
        .header.compact .menu_btn {
            @include transStyle(translate3d(0,18px, 0));
        }
    }
}

.web {
    .header,
    .main_logo,
    .header_inner,
    .main_logo img,
    .main_menu > li {
        @extend %all300;
    }
}

.touch {
    .header,
    .main_logo,
    .header_inner,
    .main_logo img,
    .main_menu > li {
        @extend %all150;
    }
}