.foundation_block {
    .foundation_inner {
        position: relative;
        padding: 0;
        color: $white;
        background: $bgColor;

        .copy_btn {
            margin-left: auto !important;
            @extend %linkTypeBtn;
            color: $lightText;
            opacity: 0.5;
            padding: 3px 0 0 20px !important;
            @include lightHover;
            position: relative;
            @include mediaTo($size1200) {
                padding: 3px 0 0 7px !important;
            }

            &:before {
                font-size: 2rem;
            }
        }

        .popup_middle table th:first-child,
        .popup_middle table td:first-child {
            padding-right: 40px;
            text-align: left;
            @include mediaTo($size1200) {
                padding-right: 3px;
            }
        }

        > .page_container {
            display: flex;
            flex-wrap: wrap;
        }

        .bank_info {
            margin-bottom: 40px;
            border-bottom: 1px solid rgba($btnBg, 0.5);
            width: 100%;
            padding-bottom: 20px;

            &:after {
                display: none !important;
            }

            @include mediaTo($size960) {
                max-width: 600px;
                margin: 0 auto 20px;
            }
        }

        @include mediaTo($size768) {
            .bank_info {
                margin: 0 auto 20px !important;
            }
        }

        .popup_bottom {
            padding: 0;
            margin: 0 -12px;
        }

        .popup_middle {
            background: none;
            padding: 0;
            margin-top: 20px;

            table {
                max-width: 100%;
                margin: 0;
                width: 100%;
                @include mediaTo($size960) {
                    max-width: 600px;
                    margin: 0 auto;
                }

                td {
                    position: relative;
                    @include mediaTo($size1200) {
                        font-size: 150%;
                    }
                    @include mediaTo($size960) {
                        font-size: 120%;
                    }

                }

                th {
                    text-align: right;
                    @include mediaTo($size960) {
                        font-size: 130%;
                    }
                    @include mediaTo($size768) {
                        font-size: 110%;
                    }
                }

                .account_number {
                    text-align: center;
                }
            }
        }

        .details_table td {
            padding: 12px 0;

            &:first-child {
                @include mediaTo($size768) {
                    font-size: 130%;
                }
            }

            &:last-child {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                @include mediaTo($size1200) {
                    font-size: 140%;
                }
                @include mediaTo($size768) {
                    font-size: 130%;
                }
            }
        }

        .details_table {
            max-width: 100%;
            margin: 0;
            @include mediaTo($size960) {
                max-width: 600px;
                margin: 0 auto;
            }
        }

        .page_title {
            line-height: 1.5em;
            color: $white;
            margin-bottom: 33px;
        }

        .status_icon {
            color: $bgColor;
            display: inline-flex;
            vertical-align: top;
            align-items: center;
            justify-content: center;
            font-size: 360%;
            border: 1px solid;
            border-radius: 50%;
            width: 90px;
            height: 90px;

            &:before {
                display: block;
            }
        }

        .thanks_title {
            font-size: 400%;
            line-height: 1.2em;
            letter-spacing: 0.1em;
            font-family: $bold;
            margin-top: -30px;
            color: $secondColor;
        }

        .thanks_subtitle {
            margin-top: 15px;
            font-size: 250%;
            line-height: 47px;
            letter-spacing: 0.04em;
            color: $lightText;
        }

        .icon_block {
            margin: 45px auto 40px;
            max-width: 505px;
            border-bottom: 1px solid rgba($secondColor, 0.5);

            img {
                display: inline-block;
                vertical-align: top;
                width: auto;
                height: 109px;
            }
        }

        .description_block {
            font-size: 160%;
            line-height: 30px;
            letter-spacing: 0.1em;
            max-width: 505px;
            margin: 0 auto;
            color: $lightText;
        }

        @include mediaRange($size576, $size960) {
            padding: 20px 0 0;
            .status_icon {
                width: 60px;
                height: 60px;
                font-size: 200%;
            }
            .page_title {
                margin-bottom: 24px;
            }
        }
        @include mediaRange($size576, $size960) {
            padding: 20px 0 0;
            .thanks_title {
                font-size: 320%;
                line-height: 40px;
                margin-top: -16px;
            }
            .thanks_subtitle {
                margin-top: 12px;
                font-size: 200%;
                line-height: 40px;
            }
            .icon_block {
                margin: 30px auto;
            }
        }
        @include mediaTo($size576) {
            padding: 20px 0 0;
            .status_icon {
                width: 44px;
                height: 44px;
                font-size: 160%;
            }
            .page_title {
                margin-bottom: 16px;
            }
            .thanks_title {
                font-size: 240%;
                line-height: 32px;
                margin-top: 0;
            }
            .thanks_subtitle {
                margin-top: 8px;
                font-size: 160%;
                line-height: 32px;
            }
            .icon_block {
                margin: 24px auto;
            }
            .description_block {
                font-size: 140%;
            }
        }

    }
}

.by_paypal,
.by_card {
    .custom_size .donate_size .error_hint{
        max-height: unset;
        position: relative;
        top: unset;
        right: unset;
        font-size: 16px;
        line-height: 20px;
        color: $secondColor;
        text-align: left;
        margin-top: 10px;
    }
}


.switch_content {
    .switch_top {
        @include standardHover;

        .icon_left:before {
            border: none;
            color: $white;
            margin-right: 15px;
            padding: 5px;
            font-size: 16px;
            @include standardHover;
        }
    }

    &.full_field {
        @include colSize(12);
    }

    .placeholder {
        opacity: 0;
        @extend %standardText;
        color: $menuBg;
        position: absolute;
        top: 13px;
        left: 30px;
        font-family: $bold;
        font-weight: bold;
        z-index: 2;
        pointer-events: none;
        @extend %all300;
    }

    input {
        @extend %all300;

        &:focus {
            border-color: $textColor;
        }
    }

    input:focus ~,
    textarea:focus ~,
    .filled {
        .placeholder {
            top: -18px;
            font-size: 110%;
            line-height: 14px;
        }
    }

    .field_name {
        font-family: $bold;
        font-size: 160%;
        line-height: 1.2em;
        letter-spacing: 0.04em;
    }

    .checkbox_many {
        width: 100%;
        margin-bottom: 25px !important;
    }

    .copy_btn_custom {
        width: 30px;
        height: 30px;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &:before {
            color: $bgColor;
            font-size: 1.5rem;
            @include standardHover;
        }

        @include standardHover;
    }

    .by_paypal {
        .card_block img {
            max-width: 258px;
        }
    }

    .at-share-btn-elements {
        display: flex;
    }

    .card_block {
        //  margin-left: auto;
        padding-left: 15px;

        img {
            background: $white;
            padding: 7px;
            border-radius: 5px;
            margin-left: auto;
            max-width: 278px;
            width: 100%;
        }
    }


    .currency_list,
    .ammounts_list {
        padding: 0;
        margin: 0 -6px 40px;
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;

        li {
            padding: 30px 6px 0;
            @include colSize(3);
        }

        label {
            display: block;
            @include overHidden;
        }

        .radio_btn {
            @extend %textUnSelect;
            cursor: pointer;
            color: $white;
            background: $footerMiddleBg;
            font-size: 220%;
            line-height: 1.2em;
            letter-spacing: 0.08em;
            display: block;
            text-align: center;
            padding: 17px 15px;
            white-space: nowrap;
            @include standardBgHover;
        }

        input {
            @extend %maskedInput;

            &:checked + .radio_btn {
                background: $siteColor !important;
                pointer-events: none;
            }
        }
    }

    .custom_size {
        position: relative;
        @include placeholder {
            color: $lightText;
        }

        label {
            display: block;
        }

        input {
            display: block;
            border: none;
            margin-top: 0;
            font-family: $bold;
            color: $white;
            background: $footerMiddleBg;
            font-size: 180%;
            line-height: 1.2em;
            letter-spacing: 0.08em;
            padding: 20px 15px;

            &.other_block_active {
                background: $siteColor !important;
            }
        }

        .field_name {
            display: none;
        }

        @include mediaFrom($size1200) {
            input {
                position: absolute;
                left: 50%;
                right: 0;
                margin-left: 6px;
                top: -101px;
            }
            .donate_size {
                position: absolute;
                top: -40px;
                width: 100%;
                left: 0;
            }
        }
    }

    .by_card .ammounts_list {
        @extend %opacity300;

        &:not(.showed) {
            @include overHidden;
            height: 0;
            opacity: 0;
            margin-bottom: 0;
        }
    }

    .by_paypal {
        .primary_btn {
            padding: 10px;

            img {
                width: auto;
                max-height: 32px;
                max-width: 100%;
                display: inline-block;
                vertical-align: top;
            }
        }

        .ammounts_list {
            height: auto;
            opacity: 1;
        }
    }

    .donate_size,
    .donate_currency {
        label {
            display: block;
            @include overHidden;
            height: 0;
        }
    }

    .showed_donate {
        text-align: center;
        font-size: 500%;
        line-height: 1.2em;
        letter-spacing: 0.08em;
        font-family: $bold;
        color: $white;
        padding-top: 40px;
        border-top: 1px solid $lightText;
        margin-top: 40px;
    }

    .info_block {
        font-size: 160%;
        line-height: 1.2em;
        letter-spacing: 0.04em;
        color: $lightText;
        margin-top: 14px;
        text-align: center;
    }

    .donate_form {
        .donate_size .error_hint {
            position: relative;
            text-align: center;
            right: auto;
            top: auto;
            font-size: 160%;
            line-height: 1.2em;
            letter-spacing: 0.04em;
        }

        .form_btns {
            display: flex;
            flex-wrap: wrap;
            margin: 50px -12px 0;

            > * {
                flex: 1;
                margin: 0 12px 24px;
                min-width: 165px;
            }

            .secondary_btn {
                background: $footerMiddleBg;
                color: $lightText;
                @include standardReverseHover;
            }
        }
    }

    .type_info {
        text-align: center;
        margin-top: 40px;
        font-size: 180%;
        line-height: 22px;
        font-family: $bold;
        letter-spacing: 0.04em;
        color: $secondColor;
    }

    .share_inner {
        height: auto;
        font-size: 160%;
        line-height: 1.2em;
        letter-spacing: 0.1em;
        color: $lightText;
        display: flex;
        align-items: center;
        @include mediaTo($size960) {
            font-size: 0;
        }
    }

    .share_btns {
        margin-top: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        //height: 30px;


        a {
            margin: 0 0 0 16px !important;
            @include transStyle(none !important);
            @include standardHover;
            color: $bgColor;

            svg,
            path {
                fill: currentColor;
            }

            @include mediaTo($size960) {
                margin: 0 0 0 7px !important;
            }
        }
    }

    .radio_group {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -36px;

        .radio_btn {
            @extend %textUnSelect;
            display: flex;
            align-items: flex-start;
            font-size: 160%;
            line-height: 30px;
            letter-spacing: 0.04em;
            cursor: pointer;
            color: $white;
            @include standardHover;

            &:before {
                display: block;
                content: "";
                min-width: 16px;
                height: 16px;
                border-radius: 50%;
                box-shadow: 0 0 0 2px;
                opacity: 0.5;
                border: 3px solid $bgColor;
                margin-right: 10px;
                margin-top: 7px;
            }
        }

        input {
            @extend %maskedInput;

            &:checked {
                ~ .radio_btn {
                    pointer-events: none;
                    color: $siteColor;

                    &:before {
                        background: $siteColor;
                    }
                }
            }
        }

        label {
            display: inline-block;
            vertical-align: top;
            padding: 0 1px;
            margin: 16px 36px 0;
        }

    }

    .regular_switch_custom {
        margin: 0 15px 15px;
        width: 100%;
        border-bottom: 1px solid $lightText;

        .radio_group label {
            margin: 0 36px 15px;
            @include mediaTo($size1200) {
                margin: 0 25px 15px;
            }
            @include mediaTo($size960) {
                margin: 0 20px 15px;
            }
        }
    }

    .regular_switch {
        margin-top: 40px;
        @include mediaTo($size960) {
            padding-bottom: 10px;
        }

        .field_name {
            padding-bottom: 14px;
        }
    }

    .big_donate_info {
        margin-top: 55px;
        text-align: center;
        font-size: 160%;
        line-height: 30px;
        letter-spacing: 0.1em;

        a {
            display: inline-block;
            vertical-align: top;
            color: $secondColor;
            @include siteColorHover;
            font-family: $bold;
        }
    }

    .donater_fields {
        display: flex;
        flex-wrap: wrap;
        margin: 55px -15px 0;
        justify-content: space-between;

        .regular_switch_block {
            .radio_group {
                max-height: 70px;
                pointer-events: inherit;
                @include animStyle(all 0.5s);
            }

            .field_name_switch {
                color: $siteColor;

                &:before {
                    content: "\e905";
                    @extend %iconElement;
                }
            }
        }

        .field_name_switch {
            position: relative;
            display: flex;
            width: max-content;
            align-items: center;
            @include standardHover;
            cursor: pointer;

            &:before {
                content: "";
                border: 2px solid;
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 18px;
                height: 18px;
                margin-right: 12px;
                font-size: 1rem;
            }
        }

        .radio_group {
            max-height: 0;
            overflow: hidden;
            pointer-events: none;
            @include animStyle(all 0.5s);
        }

        .field_block {
            padding: 0 15px;
            margin-bottom: 40px;

            &.small_field {
                @include colSize(4);
            }

            &.middle_field {
                @include colSize(8);
            }

            &.full_field {
                @include colSize(12);

                &.textarea {
                    margin-bottom: 0;
                }

            }
        }

        .error_hint {
            right: 15px;
        }

        @include placeholder {
            color: $menuBg;
        }

        input,
        textarea {
            // background: $fieldBg;
            color: $white;
        }


        .checkbox_label {
            display: flex;
            position: relative;
            width: max-content;
            //   margin-left: auto;
            justify-content: flex-end;

            input {
                @extend %maskedInput;
                padding: 0;
                margin: 0;

                &:checked + .check_btn {
                    @include lightHover;
                    color: $siteColor;

                    &:before {
                        content: "\e905";
                    }
                }

                &:not(:checked) + .check_btn {
                    @include standardHover;
                }
            }

            .check_btn {
                @extend %textUnSelect;
                cursor: pointer;
                display: flex;
                align-items: flex-start;
                font-size: 140%;
                line-height: 18px;
                color: $white;
                font-family: $bold;
                letter-spacing: 0.08em;
                flex-direction: row;

                &:before {
                    @extend %iconElement;
                    content: "";
                    border: 2px solid;
                    border-radius: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 18px;
                    height: 18px;
                    margin-right: 12px;
                    font-size: 1rem;
                }
            }
        }

        + .form_btns {
            margin-top: 20px;
        }
    }

    @include mediaRange($size960, $size1200) {
        .field_name {
            font-size: 140%;
        }
        .ammounts_list li {
            padding-top: 24px;
            @include colSize(4);
        }

        .currency_list li {
            @include colSize(6);
            padding-top: 24px;
        }
        .currency_list .radio_btn,
        .ammounts_list .radio_btn {
            font-size: 200%;
        }
        .custom_size input {
            font-size: 200%;
            width: 100%;
            padding: 15px;
            margin-top: 0;
        }
        .radio_group {
            margin-left: -24px;
            margin-right: -24px;

            label {
                margin-left: 24px;
                margin-right: 24px;
            }
        }
        .showed_donate {
            font-size: 440%;
        }
        .donater_fields {
            margin-top: 40px;

            .field_block {
                &.small_field,
                &.middle_field {
                    @include colSize(12);
                }
            }
        }
        .form_btns {
            margin-top: 40px;
        }
        .share_btns {
            margin-top: 40px;
        }
    }
    @include mediaTo($size960) {
        .currency_list {
            li {
                @include colSize(6);
            }
        }
        .currency_list,
        .ammounts_list {
            margin-bottom: 30px;

            .radio_btn {
                font-size: 160%;
            }
        }
        .custom_size {
            margin-top: -30px;

            input {
                width: 100%;
                font-size: 180%;
                padding: 12px 15px;
                margin-top: 20px;
            }
        }
        .radio_group {
            margin-left: -20px;
            margin-right: -20px;

            label {
                margin: 12px 20px 0;
            }
        }
        .showed_donate {
            font-size: 400%;
            padding-top: 30px;
            margin-top: 30px;
        }
        .big_donate_info {
            font-size: 140%;
            line-height: 28px;
            margin-top: 40px;
        }
        .form_btns {
            margin-top: 30px;
        }
        .share_btns {
            margin-top: 30px;
        }
        .info_block {
            font-size: 140%;
        }
        .type_info {
            font-size: 160%;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .donater_fields {
            margin-top: 30px;
        }
    }
    @include mediaRange($size640, $size960) {
        .currency_list,
        .ammounts_list {
            margin-left: -4px;
            margin-right: -4px;

            li {
                padding: 20px 4px 0;
                @include colSize(6);
            }
        }
        .donater_fields .field_block {
            &.small_field,
            &.middle_field {
                @include colSize(12);
            }
        }
    }
    @include mediaRange($size480, $size640) {
        .currency_list,
        .ammounts_list {
            margin-left: -3px;
            margin-right: -3px;

            li {
                padding: 16px 3px 0;
            }
        }
        .ammounts_list {
            li {
                @include colSize(4);
            }
        }
        .donater_fields .field_block {
            &.small_field,
            &.middle_field {
                @include colSize(6);
            }
        }
    }
    @include mediaTo($size480) {
        .currency_list,
        .ammounts_list {
            margin-left: -2px;
            margin-right: -2px;

            li {
                padding: 12px 2px 0;
                @include colSize(6);
            }
        }
        .donater_fields .field_block {
            &.small_field,
            &.middle_field {
                @include colSize(12);
            }
        }
    }
}

.donaters_section {
    margin-top: 50px;

    .section_inner {
        width: 60%;
        max-width: 644px;
        margin-left: auto;
        border: 1px solid $fieldBg;
        padding-right: 6px;
        padding-bottom: 30px;
    }

    .page_title {
        color: $bgColor;
        padding: 26px 24px;
        margin-bottom: 14px;
    }

    .donaters_list {
        max-height: 400px;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 20px;
        padding-left: 24px;
        @include customScroll(4px, 0, thin, 0, 0, transparent, $fieldBg);

        ul {
            @extend %standardList;
        }

        li {
            display: flex;
            align-items: center;

            &:not(:first-child) {
                margin-top: 30px;
                padding-top: 30px;
                border-top: 1px solid $fieldBg;
            }
        }
    }

    .name_block {
        font-size: 180%;
        line-height: 22px;
        font-family: $bold;
        letter-spacing: 0.04em;
        color: $btnBg;

        + .description_block {
            margin-top: 16px;
        }
    }

    .description_block {
        font-size: 160%;
        line-height: 1.2em;
        letter-spacing: 0.04em;
        opacity: 0.7;
        max-width: 400px;
    }

    .donate_size {
        font-size: 180%;
        line-height: 22px;
        letter-spacing: 0.04em;
        color: $btnBg;
        white-space: nowrap;
        margin-left: auto;
        padding-left: 24px;

        .size_block {
            font-family: $bold;
        }
    }

    @include mediaRange($size960, $size1200) {
        margin-top: 40px;
        .section_inner {
            width: 45%;
        }
        .page_title {
            padding: 24px 20px;
            margin-bottom: 8px;
        }
        .donaters_list {
            padding-left: 20px;
            padding-right: 20px;
        }
        .donaters_list li:not(:first-child) {
            margin-top: 24px;
            padding-top: 24px;
        }
    }
    @include mediaTo($size960) {
        margin-top: 30px;
        .section_inner {
            width: 100%;
            max-width: 100%;
        }
        .page_title {
            padding: 20px 16px;
            margin-bottom: 0;
        }
        .donaters_list {
            padding-left: 16px;
            padding-right: 16px;

            li:not(:first-child) {
                margin-top: 20px;
                padding-top: 20px;
            }
        }
        .donate_size,
        .name_block {
            font-size: 160%;
            line-height: 20px;
        }
        .description_block {
            font-size: 140%;
            line-height: 18px;
        }
        .name_block + .description_block {
            margin-top: 12px;
        }
    }
    @include mediaTo($size480) {
        .donaters_list li {
            flex-wrap: wrap;
        }
        .donate_size {
            @include colSize(12);
            text-align: right;
            margin-top: 12px;
        }
    }
}

.accounts_popup {
    .popup_container {
        padding: 0;
        color: $white;
        max-width: 700px;
        background: $bgColor;
    }

    .popup_close.icon_close,
    .page_title {
        color: inherit;
    }

    .popup_top {
        padding: 30px 55px;
        text-align: center;
    }

    .bank_info {
        font-size: 200%;
        line-height: 34px;
        font-family: $bold;
        letter-spacing: 0.1em;

        &:after {
            display: block;
            content: "";
            margin: 30px -30px;
            border-top: 1px solid $btnBg;
            opacity: 0.5;
        }
    }

    .details_table {
        text-align: left;
        width: 100%;
        max-width: 560px;
        margin: 0 auto;
        color: $lightText;

        td {
            padding: 12px;
            vertical-align: middle;
            font-family: $bold;
            line-height: 1.2em;
            letter-spacing: 0.04em;

            &:first-child {
                width: 45%;
                font-size: 160%;

            }

            &:last-child {
                width: 55%;
                font-size: 180%;
            }
        }

        tr:first-child td {
            padding-top: 0;
        }
    }

    .popup_middle {
        padding: 30px 55px;
        background: $footerMiddleBg;

        table {
            max-width: 560px;
            margin: 0 auto;

            th {
                font-weight: normal;
                font-size: 160%;
                line-height: 1.2em;
                letter-spacing: 0.1em;
                padding: 0 0 5px;
            }

            td {
                font-size: 200%;
                line-height: 1.2em;
                letter-spacing: 0.04em;
                font-family: $bold;
                padding: 16px 0 0;
            }

            th:first-child,
            td:first-child {
                padding-right: 87px;
                text-align: right;
            }

            .account_number {
                display: block;
                white-space: nowrap;
                padding: 17px 30px;
                border: 1px solid rgba($btnBg, 0.5);
                border-spacing: 16px;
            }
        }

        .copy_btn {
            margin-left: 22px;
            @extend %linkTypeBtn;
            color: $lightText;
            opacity: 0.5;
            padding: 3px 0 0 3px;
            @include lightHover;
            position: relative;

            //&:after {
            //    display: block;
            //    width: 14px;
            //    height: 17px;
            //    border-radius: 2px;
            //    content: "";
            //    border: 1px solid;
            //}
            //
            //&:before {
            //    @include psevdoAbs;
            //    width: 10px;
            //    height: 11px;
            //    border-style: solid;
            //    border-width: 1px 0 0 1px;
            //    border-top-left-radius: 2px;
            //    top: 0;
            //    left: 0;
            //}
        }
    }

    .popup_bottom {
        padding: 30px 43px;
        display: flex;
        flex-wrap: wrap;

        > * {
            flex: 1;
            margin: 24px 12px 0;
        }

        .secondary_btn {
            background: $footerMiddleBg;
            color: $lightText;
            @include standardReverseHover;
        }
    }

    @include mediaTo($size768) {
        .popup_top {
            padding: 50px 20px 20px;
        }
        .page_title {
            margin-bottom: 20px;
        }
        .bank_info {
            margin: 20px -20px;
        }
        .details_table {
            td {
                &:first-child {
                    width: 50%;
                    font-size: 140%;
                }

                &:last-child {
                    width: 50%;
                    font-size: 160%;
                }
            }
        }
        .popup_middle {
            padding: 20px;

            table {
                th {
                    font-size: 140%;
                }

                .account_number {
                    padding: 15px 20px;
                    border-radius: 12px;
                }
            }

        }
        .popup_bottom {
            padding: 0 8px 20px;
        }
    }
    @include mediaRange($size480, $size768) {
        .bank_info {
            font-size: 180%;
            line-height: 32px;
        }
        .popup_middle {
            table {
                th:first-child,
                td:first-child {
                    padding-right: 30px;
                }

                td {
                    font-size: 180%;
                }
            }

            .copy_btn {
                margin-left: 16px;
            }
        }
    }
    @include mediaTo($size480) {
        .popup_inner {
            padding: 0;
        }
        .bank_info {
            font-size: 160%;
            line-height: 30px;
        }
        .popup_middle {
            table {
                display: block;
                width: 100%;
                overflow-y: hidden;
                overflow-x: auto;
                position: relative;

                th:first-child,
                td:first-child {
                    padding-right: 20px;
                }

                td {
                    font-size: 140%;
                }

                .account_number {
                    padding: 12px;
                    border-radius: 8px;
                }
            }

            .copy_btn {
                margin-left: 12px;
            }

        }
    }
}