.actions_section {
    padding: 100px 0;
    @include overHidden;
    ul {
        @extend %standardRowList;
    }
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 $containerPadding;
        flex: 1;
    }
    img {
        display: block;
        width: auto;
        height: 122px;
        margin-bottom: 30px;
    }
    @include mediaRange($size960, $size1200) {
        padding: 75px 0;
    }
    @include mediaRange($size576, $size960) {
        padding: 50px 0;
    }
    @include mediaRange($size768, $size960) {
        ul {
            justify-content: space-around;
        }
        li {
            flex: auto;
        }
    }
    @include mediaTo($size768) {
        li {
            @include colSize(12);
            &:not(:first-child) {
                margin-top: 30px;
            }
        }
    }
    @include mediaTo($size576) {
        padding: 30px 0;
    }

}

// @include mediaRange($size960, $size1200) {

// }
// @include mediaRange($size576, $size960) {

// }
// @include mediaTo($size576) {

// }