.dream_section {
    color: $white;
    margin-top: 60px;
    margin-bottom: 50px;
    @include overHidden;
    .diagram_section {
        position: relative;
        z-index: 2;
        padding: 15px 0 21px;
        @include centerCover;
        &:before {
            @extend %coverLayer;
            opacity: 0.7;
            background: $textColor;
            content: "";
        }
        .section_inner {
            max-width: 1072px;
            margin: 0 auto;
            position: relative;
            z-index: 1;
        }
        svg {
            display: block;
            width: 100%;
            height: auto;
           
        }
        .diagram_name {
            width: 21%;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transStyle(translate3d(-50%,-50%,0));
            border-radius: 50%;
            z-index: 3;
            &:before {
                display: block;
                padding-bottom: 100%;
                border-radius: 50%;
                content: "";
                background: $bgColor;
                filter: blur(0);
                opacity: 1;
            }
            span {
                @extend %coverLayer;
                @extend %centerBlock;
                padding: 20px;
                font-size: 240%;
                line-height: 40px;
                letter-spacing: 0.1em;
                font-family: $bold;
            }
        }
        .sector_name {
            font-size: 180%;
            line-height: 28px;
            text-align: center;
            display: block;
            position: absolute;
            pointer-events: none;
            letter-spacing: 0.1em;
        }
        .top_sector {
            top: 21%;
            width: 27%;
            left: 36.5%;
        }
        .left_sector {
            left: 26.9%;
            top: 64.5%;
            width: min-content;
            &.left_sector_eng{
                left: 32.9%;
            }
        }
        .right_sector {
            top: 64.5%;
            width: min-content;
            left: 57.5%;
        }
    }
    .sectors a {
        color: $btnBg;
        @include standardHover;
        font-size: 0;
        path {
            fill: currentColor;
        }
    }
    .count_block {
        @extend %size30;
    }
    .name_block {
        font-size: 120%;
        line-height: 15px;
        letter-spacing: 0.1em;
        width: min-content;
    }
    .program_includes {
        @extend %standardList;
    }
    @include mediaFrom($size960) {
        .includes_section {
            position: absolute;
            top: 15px;
            bottom: 21px;
            left: $containerPadding;
            right: $containerPadding;
            margin: 0 auto;
            max-width: 1072px;
        }
        .program_name {
            display: none;
        }
        .count_block {
            margin-bottom: 10px;
        }
        .program_block {
            ul li {
                position: absolute;
                z-index: 4;
            }
            &:first-child {
                ul li {
                    &:first-child {
                        top: 0.41%;
                        left: 3.54%;
                    }
                    &:nth-child(2) {
                        top: 0;
                        left: 19.4%;
                    }
                    &:nth-child(3) {
                        top: 5.07%;
                        left: 76.9%;
                    }
                    &:nth-child(4) {
                        top: 0.82%;
                        left: 91.9%;
                    }
                }
            }
            &:nth-child(2) {
                ul li {
                    &:first-child {
                        top: 35.34%;
                        left: 5.41%;
                    }
                    &:nth-child(2) {
                        top: 46.58%;
                        left: 0;
                    }
                    &:nth-child(3) {
                        top: 75.9%;
                        left: 12.13%;
                    }
                    &:nth-child(4) {
                        top: 89.18%;
                        left: 20.62%;
                    }
                }
            }
            &:nth-child(3) {
                ul li {
                    &:first-child {
                        top: 39.18%;
                        left: 89.83%;
                    }
                    &:nth-child(2) {
                        top: 58.77%;
                        left: 87.78%;
                    }
                    &:nth-child(3) {
                        top: 84.25%;
                        left: 79.57%;
                    }
                    &:nth-child(4) {
                        top: 90%;
                        left: 69.5%;
                    }
                }
            }
        }
    }

    @include mediaRange($size576, $size1200) {
        .diagram_section {
            .sector_name {
                font-size: 140%;
                line-height: 28px;
            }
            .diagram_name span {
                font-size: 200%;
                line-height: 36px;
            }
        }
    }
    @include mediaRange($size960, $size1200) {
        margin-top: 50px;
    }
    @include mediaTo($size960) {
        margin-top: 30px;
        margin-bottom: 0;
        .count_block {
            margin-bottom: 4px;
            color: $secondColor;
        }
        .name_block {
            color: $lightText;
        }
        .branches {
            display: none;
        }
        .diagram_section {
            @include overHidden;
           
            .page_container {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .includes_section {
            padding: 30px $containerPadding;
            @include overHidden;
        }
        .program_name {
            font-size: 160%;
            line-height: 22px;
            font-family: $bold;
            color: $bgColor;
        }
        .program_block {
            &:not(:first-child) {
                margin-top: 24px;
            }
            ul {
                margin: 0 -24px;
                display: flex; 
            }
            li {
                flex: 1;
                padding: 0 24px;
                margin-top: 16px;
                &:not(:first-child) {
                    border-left: 1px solid $lightText;
                }
            }
        }
    }
    @include mediaRange($size576, $size960) {
        .diagram_section .section_inner {
            flex: 0 0 840px;
            width: 840px;
            margin-top: -20px;
        }
    }
    @include mediaTo($size576) {
        .diagram_section {
            .section_inner {
                flex: 0 0 160%;
                width: 160%;
                margin-top: -20px;
            }
            .sector_name {
                font-size: 120%;
                line-height: 23px;
            }
            .diagram_name span {
                font-size: 140%;
                line-height: 25px;
            }
        }
        .program_block ul {
            flex-wrap: wrap;
            li {
                min-width: 50%;
            }
        }
    }
    @include mediaTo($size480) {
        .diagram_section {
            .section_inner {
                flex: 0 0 160%;
                width: 160%;
                margin: -10px 0;
            }
            .sector_name {
                font-size: 120%;
                line-height: 23px;
            }
            .diagram_name span {
                padding: 0 12px;
            }
            .top_sector {
                left: 31%;
                width: 38%;
            }
            .left_sector {
                left: 24.5%;
                &.left_sector_eng{
                    left: 32.5%;
                }
            }
            .right_sector {
                left: 58.5%;
            }
        }
    }
    @include mediaTo($size360) {
        .diagram_section .section_inner {
            flex: 0 0 180%;
            width: 180%;
            margin: -30px 0 -10px;
        }
        .red_circle {
            @include transStyle(scale(0.92) translate3d(0,1.5%,0));
            @include torigin(center);
        }
    }
}