.slider_section {
    background: $menuBg;
    padding: 40px 0 36px;
    @include overHidden;
    .news_block{
        display: block;
        color: inherit;
        @include standardHover;
    }
    .news_slider {
        @include slider;
        margin: 40px $rowMargin 0;
        &.slick-slider {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .slick-list {
            @include colSize(12);
        }
    }
    .slide_block {
        @include slide(3, top);
        @include overHidden;
        padding: 0 $colPadding;
    }
    .slick-arrow {
        order: 2;
        margin: 40px 8px 0;
    }
    @include mediaTo($size960) {
        padding: 30px 0;
        .news_slider {
            margin: 30px -12px 0;
        }
        .slide_block {
            padding: 0 12px;
        }
        .slick-arrow {
            margin: 30px 12px 0;
        }
    }
    @include mediaRange($size576, $size960) {
        .slide_block {
            width: 50%;
        }
    }
    @include mediaTo($size576) {
        .slide_block {
            width: 100%;
        }
    }
}