.main_slider {
    @include overHidden;
    height: 100vh;
    padding-top: 100px;
    margin-top: -100px;
    .slide_block {
        position: relative;
        width: 100%;
        height: 100%;
        &:not(.active) {
            display: none;
        }
    }
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .info_block {
        @extend %coverLayer;
        background: linear-gradient(90.09deg, rgba(28, 30, 32, 0.6) 48.91%, rgba(28, 30, 32, 0) 94.26%);
        color: $white;
        display: flex;
        align-items: flex-end;
        z-index: 1;
        padding: 30px 0;
    }
    .page_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:before {
            display: block;
            content: "";
            order: 2;
            border-top: 1px solid;
            width: 100%;
            max-width: 1000px;
            margin: 30px 0;
        }
    }
    .description_block {
        font-size: 320%;
        line-height: 50px;
        letter-spacing: 0.04em;
        font-family: $bold;
        max-width: 1000px;
        @include textOverflow(2, relative);

    }
    .primary_btn {
        order: 3;
    }
    @include mediaRange($size960,$size1200) {
        padding-top: 84px;
        margin-top: -84px;
        .description_block {
            font-size: 300%;
            line-height: 45px;
        }
    }
    @include mediaRange($size576, $size960) {
        .description_block {
            font-size: 200%;
            line-height: 30px;
        }
        
    }
    @include mediaTo($size960) {
        padding-top: 70px;
        margin-top: -70px;
        .page_container:before {
            margin: 24px 0;
        }
        .description_block {
            -webkit-line-clamp: 3;
        }
    }
    @include mediaTo($size576) {
        .description_block {
            font-size: 140%;
            line-height: 25px;
            -webkit-line-clamp: 4;
        }
    }
}