#map {
    height: 400px;
}
.map_block {
    margin-top: 50px;
}
.contacts_section {
    color: $white;
    background: $bgColor;
    padding: 40px 0 60px;
    @include overHidden;
    .contacts_list {
        @include standardCol(6);
        margin-top: 48px;
        a {
            color: inherit;
            @include standardHover;
        }
    }
    .contact_block {
        max-width: 450px;
        font-size: 180%;
        line-height: 30px;
        letter-spacing: 0.04em;
        &:not(:first-child) {
            margin-top: 40px;
        }
    }
    .contact_type {
        color: $secondColor;
        margin-bottom: 6px;
    }
    .contact_info {
        a {
            display: inline-block;
            vertical-align: top;
            @include overHidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }
    }
}

.contact_form {
    @include standardCol(6);
    margin-top: 48px;
    @include placeholder {
        color: $white;
    }
    input,
    textarea {
        color: $white;
        background: $footerMiddleBg;
    }
    textarea {
        height: 160px;
    }
    .primary_btn {
        margin-left: auto;
    }
    .error_hint {
        color: $menuBg;
    }
}
@include mediaTo($size1200) {
    .page_row {
        margin-left: -16px;
        margin-right: -16px;
    }
    .contacts_section .contacts_list,
    .contact_form {
        padding-left: 16px;
        padding-right: 16px;
    }
}
@include mediaRange($size960, $size1200) {
    .contacts_section .contact_block {
        font-size: 160%;
    }
}
@include mediaTo($size960) {
    .contacts_section {
        padding: 30px 0;
        .contact_block {
            font-size: 140%;
            &:not(:first-child) {
                margin-top: 30px;
            }
        }
    }
    .contacts_section .contacts_list,
    .contact_form,
    .map_block {
        margin-top: 30px;
    }
    #map {
        max-height: 75vh;
    }
}

@include mediaTo($size576) {
    .contacts_section .contacts_list,
    .contact_form {
        @include colSize(12);
    }
    #map {
        height: 320px;
    }
}