.program_purpose {
    padding-top: 40px;
    padding-bottom: 10px;
    .page_title {
        color: $bgColor;
    }
    .info_block {
        padding-top: 40px;
        @include colCount(2);
        @include colGap(60px);
        font-size: 160%;
        line-height: 30px;
        letter-spacing: 0.1em;
    }
    .include_block {
        display: inline-flex;
        vertical-align: top;
        width: 100%;
        padding: 0 20px 36px;
        max-width: 480px;
        &:before {
            display: block;
            content: "";
            min-width: 10px;
            height: 10px;
            background: $menuBg;
            margin: 10px 16px 10px 0;
        }
    }
    @include mediaRange($size960, $size1200) {
        .info_block {
            @include colGap(40px);
        }
        .include_block {
            padding: 0 16px 32px;
            &:before {
                margin-right: 12px;;
            }
        }
    }
    @include mediaTo($size960) {
        padding: 30px 0 0;
        .info_block {
            padding-top: 30px;
            font-size: 140%;
            @include colGap(32px);
        }
        .include_block {
            padding: 0 0 24px;
            display: inline-block;
            &:before {
                float: left;
                margin-right: 10px;
            }
        }
    }
    @include mediaTo($size768) {
        .info_block {
            @include colCount(1);
        }
    }
}

.visitors_section {
    margin-top: 86px;
    display: flex;
    flex-wrap: wrap;
    img {
        @include colSize(6);
        height: 34.7vw;
    }
    .title_block {
        @include colSize(12);
        padding: 30px 0;
        color: $white;
        background: $btnBg;
    }
    .info_block {
        @include colSize(12);
        @include overHidden;
    }
    .info_inner {
        display: flex;
        flex-wrap: wrap;
        font-size: 160%;
        line-height: 30px;
        letter-spacing: 0.04em;
        margin: 0 -30px;
    }
    .inner_block {
        @include colSize(6);
        padding: 0 30px;
        margin-top: 30px;
        position: relative;
        &:before {
            display: block;
            margin-bottom: 18px;
            border-top: 1px solid $btnBg;
            width: 224px;
        }
        &:after {
            display: block;
            position: absolute;
            top: -3px;
            left: 250px;
            width: 7px;
            height: 7px;
            background: $btnBg;
            border-radius: 50%;
        }
        &:nth-child(n+3) {
            &:before,
            &:after {
                content: "";
            }
        }
    }
    @include mediaRange($size960, $size1200) {
        margin-top: 50px;
        .info_inner {
            margin: 0 -20px;
            font-size: 140%;
        }
        .inner_block {
            padding: 0 20px;
            margin-top: 24px;
            &:before {
                margin-bottom: 16px;
            }
            &:after {
                left: 240px;
            }
        }
        .title_block {
            padding: 20px;
        }
    }
    @include mediaTo($size960) {
        margin-top: 30px;
        .info_inner {
            margin: 0 -16px;
            font-size: 120%;
        }
        .inner_block {
            padding: 0 16px;
            margin-top: 18px;
            &:after {
                left: 236px;
            }
            &:before {
                margin-bottom: 12px;
            }
        }
        .title_block {
            padding: 10px 0;
        }
    }
    @include mediaTo($size640) {
        img {
            @include colSize(12);
            height: 69.5vw;
            + img {
                order: 2;
                margin-top: 24px;
            }
        }
        .inner_block {
            @include colSize(12);
            &:nth-child(2) {
                &:before,
                &:after {
                    content: "";
                }
            }
        }
    }
}

.additional_info {
    margin-top: 30px;
    .info_block {
        padding-top: 24px;
        border-top: 1px solid rgba($lightText,0.5);
        font-size: 200%;
        line-height: 30px;
        font-family: $bold;
        letter-spacing: 0.04em;
        a:hover {
            text-decoration: underline;
        }
    }
    @include mediaRange($size960, $size1200) {
        .info_block {
            font-size: 180%;
        }
    }
    @include mediaTo($size960) {
        .info_block {
            font-size: 160%;
        }
    }
}