@include selectStyle($textColor, rgba($textColor, 0.5), transparent, $fieldBg, 0, 140%, 18px, 13px 15px, 0.6rem, $secondColor);
@include selectDrop(transparent, $white, 140%, 17px, 14px 16px, none, 2px, 0, transparent, $white, $siteColor, $white, $bgColor, $white);

.donate_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 50px 0 0;
    width: 100%;
    @include mediaTo($size960) {
        margin: 30px 0 0;
    }

    button,
    a {
        margin: 0 10px;
        @include mediaTo($size576) {
            margin: 0 0 10px;
        }
    }

    @include mediaTo($size576) {
        flex-direction: column;
    }
}

.apply_steps {
    @extend %standardList;
    display: flex;

    li {
        flex: 1;
        max-width: 234px;
        position: relative;
        color: $bgColor;

        &:not(:first-child) {
            margin-left: -14px;
        }

        &.current_step ~ li {
            color: $menuBg;

            .step_block {
                z-index: 1;
            }
        }

        &:hover a.step_block:not(.inactive) {
            z-index: 5
        }
    }

    .step_block {
        padding-bottom: 6px;
        margin: 0 28px;
        position: relative;
        border-bottom: 1px solid;
        font-size: 160%;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-align: center;
        z-index: 2;

        &:before,
        &:after {
            @include psevdoAbs;
            bottom: -7px;
            border: 7px solid;
        }

        &:before {
            left: -28px;
        }

        &:after {
            right: -28px;
        }
    }

    a.step_block {
        display: block;
        color: inherit;
        @include standardHover;

        &.inactive {
            pointer-events: none;
        }

    }

    @include mediaRange($size960, $size1200) {
        li {
            max-width: 200px;

            &:not(:first-child) {
                margin-left: -10px;
            }
        }
        .step_block {
            padding-bottom: 5px;
            margin: 0 20px;
            font-size: 140%;

            &:before,
            &:after {
                bottom: -5px;
                border-width: 5px;
            }

            &:before {
                left: -20px;
            }

            &:after {
                right: -20px;
            }
        }
    }
    @include mediaTo($size960) {
        li {
            max-width: 140px;

            &:not(:first-child) {
                margin-left: -8px;
            }
        }
        .step_block {
            padding-bottom: 4px;
            margin: 0 12px;
            font-size: 120%;

            &:before,
            &:after {
                bottom: -4px;
                border-width: 4px;
            }

            &:before {
                left: -12px;
            }

            &:after {
                right: -12px;
            }
        }
    }
}

.apply_form {
    padding-top: 50px;

    .primary_btn {
        margin-left: auto;
        @include mediaTo($size576) {
            margin-left: 0;
        }
    }

    .form_fields {
        padding: 30px 20px;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid $fieldBg;
        justify-content: space-between;

        > .field_block {
            flex: 1;
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .h_border {
        display: block;
        @include colSize(12);
        padding: 0 20px;
        margin: 30px 0;

        &:before {
            display: block;
            content: "";
            border-top: 1px solid $fieldBg;
        }
    }

    .form_subtitle {
        padding: 0 20px;
        @include colSize(12);
        font-size: 200%;
        line-height: 1.2em;
        letter-spacing: 0.04em;
    }

    .fields_group {
        @include customCol(6, 520px, 20px);
    }

    .field_block {
        margin-bottom: 0;
        margin-top: 30px;
        @include placeholder {
            color: $textColor;
            opacity: 0.5;
        }
        .placeholder{
            color: rgba(35, 31, 32, 0.5);;
        }

        input:focus ~,
        textarea:focus ~,
        .filled {
            .placeholder {
                color: $textColor;
            }
        }

        textarea,
        input {
            background: $fieldBg;
            color: $textColor;
        }

        [data-validation] ~ .label {
            display: block;
            font-size: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 7px;
            height: 7px;
            pointer-events: none;
            border: solid $siteColor;
            border-width: 1px 0 0 1px;
        }

        > label {
            display: block;
            position: relative;

            &.icon_calendar:before {
                position: absolute;
                top: 13px;
                right: 17px;
                font-size: 200%;
                display: block;
                pointer-events: none;
            }
        }

        .error_hint {
            color: $siteColor;
        }
    }

    .radio_group {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -36px;

        input {
            @extend %maskedInput;
        }

        label {
            display: inline-block;
            vertical-align: top;
            padding: 0 1px;
            margin: 16px 36px 0;
        }

        .label {
            display: block;
            position: relative;
            @include colSize(12);
            color: rgba($textColor, 0.5);
            font-size: 140%;
            line-height: 18px;
            padding: 4px 40px;

            &:before {
                @include psevdoAbs;
                top: 0;
                left: 36px;
                width: 7px;
                height: 7px;
                pointer-events: none;
                border: solid $siteColor;
                border-width: 1px 0 0 1px;
            }
        }

        .error_hint {
            text-align: left;
            left: 0;
        }
    }

    .radio_list {
        @extend %standardList;
        position: relative;

        &:before {
            display: block;
            content: "";
            height: 12px;
        }

        li {
            padding: 0 20px;
            margin-top: 30px;
        }

        input {
            @extend %maskedInput;
        }

        label {
            display: inline-block;
            vertical-align: top;
            padding: 0 1px;
        }

        .error_hint {
            position: absolute;
            top: 100%;
            left: 20px;
            text-align: left;
            color: $siteColor;
        }
    }

    .radio_btn {
        @extend %textUnSelect;
        display: flex;
        align-items: flex-start;
        font-size: 160%;
        line-height: 30px;
        letter-spacing: 0.04em;
        cursor: pointer;
        @include standardHover;

        &:before {
            display: block;
            content: "";
            min-width: 16px;
            height: 16px;
            border-radius: 50%;
            box-shadow: 0 0 0 1px;
            opacity: 0.5;
            border: 4px solid $white;
            margin-right: 10px;
            margin-top: 7px;
        }
    }

    input:checked {
        ~ .radio_btn {
            pointer-events: none;
            color: $secondColor;

            &:before {
                opacity: 1;
                background: $secondColor;
            }
        }
    }



    @include mediaRange($size960, $size1200) {
        .h_border,
        .form_subtitle {
            padding: 0 16px;
        }
        .form_field {
            padding-left: 8px;
            padding-right: 8px;

            > .field_block {
                margin-left: 16px;
                margin-right: 16px;
            }
        }
        .radio_list {
            li {
                margin-top: 24px;
                padding: 0 16px;
            }

            .error_hint {
                left: 16px;
            }
        }
        .fields_group {
            padding: 0 16px;
            max-width: 512px;
        }
        .radio_group {
            margin: 0 -24px;

            label {
                margin-left: 24px;
                margin-right: 24px;
            }

            .label {
                padding-left: 28px;
                padding-right: 28px;

                &:before {
                    left: 24px;
                }
            }
        }
    }
    @include mediaTo($size960) {
        padding-top: 30px;

        .form_fields {
            padding-left: 0;
            padding-right: 0;

            > .field_block {
                margin-left: 12px;
                margin-right: 12px;
            }
        }
        .h_border,
        .form_subtitle {
            padding: 0 12px;
        }
        .fields_group {
            padding: 0 12px;
            max-width: 504px;
        }
        .radio_list {
            li {
                margin-top: 16px;
                padding: 0 12px;
            }

            .error_hint {
                left: 12px;
            }
        }
        .radio_btn {
            font-size: 140%;
            line-height: 28px;

            &:before {
                margin-top: 6px;
            }
        }
        .radio_group {
            margin: 0 -16px;

            label {
                margin-left: 16px;
                margin-right: 16px;
            }

            .label {
                padding-left: 20px;
                padding-right: 20px;

                &:before {
                    left: 16px;
                }
            }
        }
    }
    @include mediaTo($size640) {
        .fields_group {
            @include colSize(12);
        }
    }
}

.daterangepicker {
    border-radius: 0;
    border: none;
    font-family: inherit;
    font-size: 160%;
    line-height: 22px;
    border: 1px solid $menuBg;

    &.show-ranges.single.ltr .drp-calendar.left {
        border: none;
        padding: 6px 12px 14px;
    }

    .drp-calendar.left .calendar-table {
        border: none;
        border-radius: 0;
        padding: 0;

        td,
        th {
            font-size: inherit;
            line-height: inherit;
            font-family: inherit;
            font-weight: normal;
            color: $textColor;
            height: auto;
            padding: 9px 2px;
            border-radius: 0;
            background: transparent !important;

            &.active {
                position: relative;
                color: $white !important;
                z-index: 1;

                &:before {
                    @include psevdoAbs;
                    width: 32px;
                    height: 32px;
                    background: $secondColor;
                    top: 50%;
                    left: 50%;
                    margin: -16px;
                    z-index: -1;
                }
            }

            &.off {
                color: $menuBg;
            }

            &.prev,
            &.next {
                span {
                    display: none;

                }

                &:before {
                    @extend %iconElement;
                    display: block;
                    font-size: 1.2rem;
                }
            }

            &.prev:before {
                content: "\e902"
            }

            &.next:before {
                content: "\e903"
            }
        }

        th {
            cursor: default;
        }

        th.prev,
        th.next,
        td:not(.disabled) {
            @include standardHover;
            cursor: pointer;
        }

        thead tr:first-child {
            border-bottom: 2px solid rgba($lightText, 0.25);
        }

        select {
            border: 1px solid rgba($lightText, 0.25);
            color: inherit;
            background: $white;

            option {
                color: $textColor;
                @include standardHover;
            }
        }

    }

    .ranges {
        margin: 0 !important;
    }

    @include mediaTo($size960) {
        font-size: 140%;
        line-height: 20px;
    }
}

.review-list {
    line-height: 1.5em;
    @extend %standardList;
    letter-spacing: 0.1em;

    .title {
        font-family: $bold;
    }

    @include mediaFrom($size960) {
        font-size: 160%;
        li:not(:first-child) {
            margin-top: 24px;
        }
    }
    @include mediaTo($size960) {
        font-size: 140%;
        li:not(:first-child) {
            margin-top: 20px;
        }
    }
}