.courses_list {
    margin-top: 20px;
    .page_title {
        color: $bgColor;
    }
    ul {
        @extend %standardList;
    }
    li {
        margin-top: 40px;
        display: flex;
        padding: 30px;
        border: 1px solid $fieldBg;
    }
    .image_block {
        @include colSize(4);
        align-self: flex-start;
        @include overHidden;
        @extend %centeredImage;
        &:before {
            display: block;
            content: "";
            padding-bottom: 73.4%;
        }
    }
    .info_block {
        flex: 1;
        width: 50%;
        padding-left: 40px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .apply_btn {
        font-size: 160%;
        line-height: 20px;
        letter-spacing: 0.09em;
        font-family: $bold;
        border: 1px solid;
        padding: 8px 24px;
        margin-left: auto;
        align-self: flex-start;
        @include siteLightRHover;
    }
    .page_title {
        padding-right: 24px;
        flex: 1;
    }
    .description_block {
        @include colSize(12);
        margin: 24px 0;
        @include textOverflow(6, relative);
        font-size: 140%;
        line-height: 24px;
        letter-spacing: 0.1;
        opacity: 0.7;
    }
    .inner_link {
        display: inline-block;
        vertical-align: top;
        font-size: 140%;
        line-height: 17px;
        letter-spacing: 0.04em;
        text-decoration: underline;
        @include standardHover;
    }
    @include mediaRange($size960,$size1200) {
        li {
            padding: 24px;
            margin-top: 30px;
        }
        .info_block {
            padding-left: 32px;
        }
    }
    @include mediaTo($size960) {
        li {
            margin-top: 24px;
            padding: 16px;
        }
        .info_block {
            padding-left: 24px;
            .page_title {
                font-size: 160%;
            }
        }
        .apply_btn {
            font-size: 140%;
            padding: 5px 12px;
        }

    }
    @include mediaTo($size640) {
        li {
            flex-wrap: wrap;
        }
        .image_block {
            @include colSize(12);
        }
        .info_block {
            padding-left: 0;
            padding-top: 24px;
        }
    }
}